[2022-03-23 04:28] gmischler commented on #369
i was wondering, if text rendering mode would come up here any time soon...

Sounds like a good idea, since it's a key feature currrently still missing.
Careful selection and naming of options will be key to make it practical.

The context manager looks like the cleanest solution.

The feature seems to be indepenent of the PDF grphics state, so a seperate method with its own global state would be

[2022-03-23 04:34] gmischler commented on #369
@kargan49, can you extract a minimal example of such an original document (that doesn't reveal any secrets!), so we can analyze how it's done, and/or which font it actually uses?

[2022-03-23 06:05] Lucas-C commented on #370
Feel free to submit a PR 😊

Maybe we could document that there: https://pyfpdf.github.io/fpdf2/HTML.html

Closing as duplicate

[2022-03-23 06:05] #370 closed

[2022-03-23 07:35] henrik1348 commented on #355
No, I havent. I made a workaround, using docxtpl and go from word to pdf afterwards, then I get the correct tagg structure.
We can close it. :) Thanks for your help!

[2022-03-23 08:36] #355 closed

[2022-03-23 10:47] nova-03 commented on #370
Since I do not have the exact knowledge of this and other limitations of the current implementation, in my opinion, I am not the right person to document it.
Besides that, in this case I think that one sentence like "Currently multi-line text in table cells is not supported." would suffice. Creating a PR for such a small change is a bit overhead, so I suggest that you insert it by yourself if you

[2022-03-23 11:06] Lucas-C commented on #91
Status update: PRs attempts have been closed, this issue is open for contributions!

[2022-03-23 11:18] jwinkel13 opened #372 "Error message for ToC rendering"
Error message for ToC rendering doesn't compensates for prior pages causing the Exception message to be missleading

**Error details**
[code]

It actually spans 2 pages

**Minimal code**
[code]

[2022-03-23 12:36] Lucas-C commented on #372
Thank you for reporting this issue and providing some code to reproduce it @jwinkel13
I'll have a closer look at it soon.

[2022-03-23 18:11] Lucas-C commented on #372
Your code is perfectly fine, you just need to pass `pages=2` to `insert_toc_placeholder()`:
[code]

There is a related issue about improving this mechanic: https://github.com/PyFPDF/fpdf2/issues/136

Does that solve your issue @jwinkel13 ?

[2022-03-25 10:30] Lucas-C commented on #304
Closing this for now.
For reference, another user wrote some code (not based on HTML) that generates a table header with some rowspan:
https://github.com/PyFPDF/fpdf2/discussions/373

[2022-03-25 10:30] #304 closed

[2022-03-29 11:57] Lucas-C commented on #116
For reference, a solution was found in https://github.com/PyFPDF/fpdf2/discussions/374:

[code]

[2022-03-29 14:32] Lucas-C commented on #370
I added a mention to the docs: https://github.com/PyFPDF/fpdf2/blob/master/docs/HTML.md#supported-html-features

[2022-03-29 18:19] nova-03 commented on #370
Great, thank you!

[2022-03-30 07:27] Lucas-C commented on #99
Their answer was that they want to keep compatibility with Python 2, so not for now

[2022-03-30 07:27] #99 closed

[2022-03-30 22:41] karthurdnt opened #376 "Issue with parsing svg with values in px units and in exponential notation"
Hi guys, I'm new to fpdf and I'm loving it, mainly because of the new svg feature. But I had a simple issue with it.

While parsing a svg I've got a **_ValueError: could not convert string to float: '.31512px'_**
Then I simply manually removed the 'px' strings at the **stroke-width** value in the svg file.

But then I've got a **_ValueError: could not convert string to float: 'e'_**
So I also repl

[2022-03-31 04:12] karthurdnt commented on #376
If it is o any use, this is how I tweaked the svg file so it would bypass the bug:
[code]

[2022-03-31 07:11] Lucas-C commented on #376
I'll have a look at this soon, thanks for reporting this issue @karthurdnt

[2022-04-01 13:53] Lucas-C commented on #376
Solved in https://github.com/PyFPDF/fpdf2/commit/4ec48b681ceba7f919d134c9a452f79214f3726a

[2022-04-01 13:53] #376 closed

[2022-04-02 08:58] JDeepD opened #377 "How to highlight text (without highlighting the entire cell)?"
I want to do something like this using fpdf2:

![image](https://user-images.githubusercontent.com/64089730/161375775-f9185b9c-3950-4532-afb3-a5400706114e.png)

Is it possible?

[2022-04-03 07:09] Lucas-C commented on #377
`fpdf2` currently does not support _Text Markup Annotations_, but we already support text annotations so I think implementing those should be relatively easy. I'll have a look at this tomorrow

[2022-04-04 16:47] #377 closed

[2022-04-04 16:47] Lucas-C commented on #377
I implemented this in https://github.com/PyFPDF/fpdf2/pull/378

While waiting for the next release, you can test it this way:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

[2022-04-04 17:51] #343 closed

[2022-04-04 18:00] #360 closed

[2022-04-04 18:01] Lucas-C commented on #372
No answer, closing now

[2022-04-04 18:01] #372 closed

[2022-04-04 21:07] Lucas-C commented on #369
I opened https://github.com/PyFPDF/fpdf2/pull/380 to implement `set_text_mode`

Could you please review it @gmischler?

[2022-04-05 06:28] Lucas-C opened #381 "fpdf2-manual.pdf: fix rendering of Hindi tutorial"
The `fpdf2` PDF manual ( <https://pyfpdf.github.io/fpdf2/fpdf2-manual.pdf> ) recently incorporated the tutorials in all languages.

However the [Hindi tutorial](https://pyfpdf.github.io/fpdf2/Tutorial-%E0%A4%B9%E0%A4%BF%E0%A4%82%E0%A4%A6%E0%A5%80.html) does not get rendered well at all.

We should find a way to configure the [mkdocs plugin used](https://github.com/PyFPDF/fpdf2/blob/2.7.3/mkdocs.ym

[2022-04-05 17:26] thehius opened #382 "Is there an option to reduce a gap between lines in multi_cell function"
Hi there this piece of code is used to print some tables in pdf, however in case, when there's more text, that won't fit in one line, a big gap happens in relation to second line. Is there any option to reduce that gap?

[code]
![image](https://user-images.githubusercontent.com/83353732/161814913-12459780-79ab-492a-be97-709c7f85441a.png)

[2022-04-05 23:47] Lucas-C commented on #382
You just need to fine-tune your `line_height` & `max_line_height` parameters:
[code]

[2022-04-06 11:08] thehius commented on #382
Well, thanks :D u're right <3

[2022-04-06 11:08] #382 closed

[2022-04-07 19:12] gmischler commented on #381
That might turn out to be a challenge on several levels.

* Tell [mkdocs-with-pdf](https://github.com/orzih/mkdocs-with-pdf) which font you want.
* Mkdocs passing the information on to [WeasyPrint](weasyprint.org).
* WeasyPrint being able to do better than us with our issue #365.

I don't see any non-latin text in the WeasyPrint examples, and at first glance it looks like a highly automated soluti

[2022-04-07 19:54] Lucas-C commented on #381
Damn, that sure looks to much trouble for a PDF manual.

Maybe we should go for option B then: tell `mkdocs-with-pdf` to skip this tutorial,
and just not include it in the resulting PDF.

[2022-04-09 13:26] gmischler commented on #364
@Lucas-C, I think #350 should have fixed this one as well.
Or is there some problem still remaining?

[2022-04-09 21:07] gmischler commented on #381
Or option C: fix #365 and do it with fpdf... :wink:

[2022-04-10 15:27] Lucas-C commented on #364
Yes, I have just tested it and this is fixed indeed
Closing this now

[2022-04-10 15:27] #364 closed

[2022-04-11 08:54] Lucas-C opened #385 "Add support for blend modes"
**Please explain your intent**
When adding a transparent image on top of another, the PDF spec allow to specify the **blend mode** through the graphics state parameter `BM` : _Multiply_, _Darken_, _Lighten_, _HardLight_, _SoftLight_, _Difference_, _Exclusion_...

**Describe the solution you'd like**
Allow to specify an image blend mode in `fpdf2` method [image()](https://pyfpdf.github.io/fpdf2/fpd

[2022-04-11 23:40] Lucas-C commented on #385
Implemented in https://github.com/PyFPDF/fpdf2/pull/386

[2022-04-12 21:09] #359 closed

[2022-04-12 21:14] Lucas-C commented on #359
The PR fixing this has just been merged

[2022-04-12 21:54] nova-03 commented on #359
I can confirm, that the fix in the PR works great. Thank you both @Lucas-C  and  @gmischler!

But the PDF version is now set back to 1.3.
Has this been done deliberately, or is it a side effect of the merge?

[2022-04-12 22:21] Lucas-C commented on #359
This is the default version of PDFs producedby `fpdf2`.
You can change it through the `.pdf_version` property

[2022-04-13 08:10] nova-03 commented on #359
Yes, that's what I've thought, but when I implement a header which contains a SVG, then the version is automatically set to 1.4. If a header contains a PNG, then the version is left to 1.3.
Is this a feature or a bug?

Here the simple implementation of a header in a subclass:

[code]

[2022-04-13 20:17] Lucas-C commented on #359
Oh, OK, I understand.

Whenever a `drawing_context` is used, we bump the minimal PDF version to 1.4:
https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L1019

The is because the drawing API makes use of features (notably transparency and blending modes) that were introduced in PDF 1.4.

You can still reset the document PDF version to 1.3 if you wish, before calling `.output()`

[2022-04-13 20:34] #385 closed

[2022-04-13 21:23] nova-03 commented on #359
Thanks for making this clear.

[2022-04-14 08:35] skawouter opened #389 "Infinite loop when adding multi_cell twice"
When creating a simple pdf page and calling multi_cell twice in a row an infinite loop occurs.

**Minimal code**
[code]
I've traced the error to this piece of code in fpdf.py line 2860
[code]
where the resulting maximum_allowed_emwidth becomes negative. This is the result of self.x being almost equal to self.w

**Environment**
* Linux Mint 20
* Python 3.8.10
* `fpdf2` 2.5.2 -> bug also present on

[2022-04-14 18:16] Lucas-C commented on #389
Wow, this is a very annoying bug 😢
Thank you for reporting it @skawouter
I see, the infinite loop occurs in the `while (text_line) is not None:` loop just after the line you mentioned.
I'm going to try to fix this during the evening.
Ping @gmischler for information, as you worked on that part of the code too.

[2022-04-14 18:25] Lucas-C commented on #389
I opened https://github.com/PyFPDF/fpdf2/pull/390 to fix this

[2022-04-14 18:58] Lucas-C commented on #389
Now your example would raise the following error:
[code]

Note that you probably want to use `new_x=XPos.LEFT`:
[code]

[2022-04-14 18:58] #389 closed

[2022-04-15 07:34] gmischler commented on #389
Makes you wonder about the wisdom of defaulting `new_y` to `RIGHT`...

@Lucas-C, Have you checked what happens if `w` ends up larger than `c_margin` but still smaller than the width of the next character?

[2022-04-15 08:37] Agent-Hellboy commented on #194
Hi @Lucas-C
As per your suggestions to add a flag named `password` in the output method of the FPDF object, I hope I need to encrypt this byte array if the password or/and encrypt field is provided. in output method

[code]
As per discussion in this thread and PR, we need to avoid some fields like the trailer while encrypting. I can understand why, because it is used by readers like adobe and all.

[2022-04-16 00:55] bellgriffin opened #391 "ModuleNotFoundError: No module named 'fpdf'"
Getting this error `ModuleNotFoundError: No module named 'fpdf'`

I just re-downloaded python, created a new venv and installed fpdf2 using `pip install fpdf2`, but I get this error when I run `from fpdf import FPDF`

python version: 3.10.4

I've looked all over stack overflow and through the issues and haven't found any solutions, and have no idea what to try next.

[2022-04-16 03:02] #391 closed

[2022-04-16 03:03] bellgriffin commented on #391
I was using VSCode's jupyter extension and it wasn't using the same virtual environment that the terminal was using - so the install wasn't going to the right place.

[2022-04-17 23:52] Lucas-C commented on #391
Glad you found a solution 😊
Thanks for reporting it here, it may help others who face the same issue

[2022-04-17 23:56] Lucas-C commented on #389
Good catch, I'm going to test that

[2022-04-17 23:58] Lucas-C commented on #194
Hi @Agent-Hellboy

Thanks for writing this detailed comment.
I'm a bit busy right now, but I'll try to answer you properly next week.

[2022-04-18 07:43] Lucas-C commented on #389
I have found another case where an infinite loop can still occur:
[code]

I think we should raise an error in `MultiLineBreak.get_line_of_given_width()` when this method return twice a `manual_break()` without consuming a character:
https://github.com/PyFPDF/fpdf2/blob/2.5.2/fpdf/line_break.py#L262

My instinct would be to simply add a dummy boolean state attribute to this class...
As you wrote it

[2022-04-18 09:41] gmischler commented on #389
@Lucas-C, I only modified that code a bit, it was really written by @oleksii-shyman.

The approach of checking for repeated lines with no content sounds about right.
It might be helpful if we can make sure that the `new_x|y` settings still get handled, even when an exception is raised.

Unfortunately, it gets a little more convoluted now that we need to handle the problem deeper down in the call c

[2022-04-18 17:07] bcronald commented on #267
Hi! I want to translate in Tamil please.

[2022-04-18 21:05] Lucas-C commented on #389
Thank you for your answer @gmischler

I submitted https://github.com/PyFPDF/fpdf2/pull/392 to fix this

[2022-04-18 21:12] Lucas-C commented on #267
Hi and welcome @bcronald !
That would be great 😊
Do you need guidance on how to proceed, or do you already know how to submit a PR?

[2022-04-18 21:15] Lucas-C commented on #267
By the way @yellkrishna & @bcronald: have you checked that `fpdf2` can render text in those languages?
I'm curious because we have already faced limitations with Hindi: https://github.com/PyFPDF/fpdf2/issues/365

[2022-04-19 07:32] Lucas-C commented on #194
First, there is a general methodology I used frequently while adding features to `fpdf2`, that I would recommend to adopt here:
1. find or craft a reference encrypted PDF. _Libre Office Writer_ is an example software that can easily generate encrypted PDFs
2. Use `qpdf  --qdf --compress-streams=n $in_file.pdf $out_file.pdf` to produce a "pretty-formatted" PDF
3. Open the "pretty-formatted" PDF in

[2022-04-19 07:52] Lucas-C commented on #369
#380 has been merged and released in **v2.5.2**

@kargan49: do you still have a feature request about this, or any unanswered questions? Or can we close this issue?

[2022-04-19 07:55] Lucas-C commented on #62
Have you been able to find an answer there @chandan00761?

There is a general methodology I used frequently while adding features to `fpdf2`, that I would recommend to adopt here:
1. find or craft a reference encrypted PDF. _Libre Office Writer_ is an example software that can easily generate encrypted PDFs
2. Use `qpdf  --qdf --compress-streams=n $in_file.pdf $out_file.pdf` to produce a "pretty-f

[2022-04-19 11:54] Lucas-C opened #393 "Add a documentation page with examples on how to embed panda objects"
**Please explain your intent**
Provide documentation to users on how to generate a PDF from [Panda](https://pandas.pydata.org/) dataframes or plots

**Additional notes**
* we already provide documentation on how to include Matplotlib charts: https://pyfpdf.github.io/fpdf2/Maths.html#using-matplotlib - This new documentation section could be added on the same page
* dataframes should be rendered as

[2022-04-19 12:00] Lucas-C opened #394 "Add a documentation section about integrating fpdf2 in a streamlit app"
**Please explain your intent**
Provide documentation to users on how to use `fpdf2` in a [streamlit](https://streamlit.io/) app.

**Additional notes**
* the section should be added on the page [Usage in web API](https://pyfpdf.github.io/fpdf2/UsageInWebAPI.html)
* the documentation could explain how to integrate `fpdf2` in two ways:
    + add a button that allows to download a PDF generated with `

[2022-04-19 12:11] Lucas-C opened #395 "Improve code coverage with unit tests"
Current code coverage can be visualized here: https://app.codecov.io/gh/py-pdf/fpdf2

**_<u>_Goal:_</u>_ raise code coverage by one point**

Our test strategy & tools (`pytest`) are described in the [documentation](https://pyfpdf.github.io/fpdf2/Development.html#testing)

There are several minor cases (exceptions, unfrequent code paths...) that are not currently covered.
The `codecov.io` report al

[2022-04-19 20:16] mtkumar123 commented on #330
Hello, I would like to work on this issue if possible please. I'm new to contributing to open source projects, but I think I should be able to do this as a first issue, and learn more about PyFPDF.

[2022-04-20 06:32] Lucas-C commented on #330
Great and welcome @mtkumar123! 😊

A good starting point is our documentation page dedicated to [Development](https://pyfpdf.github.io/fpdf2/Development.html).

You'll also find many guides there: https://github.com/freeCodeCamp/how-to-contribute-to-open-source

But most important: feel free to ask any question you'd like, may it be related to this projets, to Python, or to the tools & methodology

[2022-04-21 04:08] mtkumar123 commented on #330
Created PR https://github.com/PyFPDF/fpdf2/pull/396
Let me know if I have missed anything, I can work on it!

[2022-04-21 08:34] categulario opened #398 "changes done in 4th april introduced a regression"
Describe the bug

**Error details**
I updated `fpdf` to 2.5.2 (latest at the moment of writing) while keeping `pillow` in `7.0.0`. Code that was working no longer is because commit 4acaaec6 introduced a dependency on enums added in `pillow==9.1.0` (https://github.com/python-pillow/Pillow/pull/5954).

here is the traceback

[code]

**Minimal code**

I just called `pdf.image()` really. As mentioned

[2022-04-21 09:15] Lucas-C commented on #398
Hi @categulario and thanks for reporting this.

I don't think we have really discussed this before,
but `fpdf2` is expected to work with the latest version of `Pillow`, not necesseraliy **all** versions of `Pillow`.

Can't you simply upgrade your version of `Pillow`?

If you really have a need to use `pillow==7.0.0`, I think we can make `fpdf2` compatible.
Feel free to submit a PR if you wish

[2022-04-21 11:33] bcronald commented on #267
Thanks. Yes please, guidance would be nice. Sorry for the late reply.

[2022-04-21 11:35] bcronald commented on #267
No, not yet checked in Tamil. I will do that and post result.

[2022-04-21 15:00] categulario commented on #398
Ok, I updated pillow to 9.1.0 and now the code works.

What can be done in this kind of situation? update setup.py to reflect compatible version of pillow? add testing with a matrix of versions of pillow?

will close for now, but I suspect I'm not the only one, I'm just the one reported it first...

[2022-04-21 16:53] bcronald commented on #267
Tamil is not being rendered correctly.

Code:
from fpdf import FPDF

pdf = FPDF()
pdf.add_page()
pdf.add_font('lohit-taml', fname='/usr/share/fonts/truetype/lohit-tamil/Lohit-Tamil.ttf')
pdf.set_font('lohit-taml', size=18)
pdf.write(8, u'யாதும் ஊரே யாவரும் கேளிர்')
pdf.output("fpdf2_tamil_test.pdf")

Attached the resulting pdf below:
[fpdf2_tamil_test.pdf](https://github.com/PyFPDF/fpdf2/files/853

[2022-04-21 19:04] Lucas-C commented on #267
It's a pity 😔 Thanks for testing @bcronald.
I don't know Tamil: is the problem with ligatures, like for Hindi text, or is there a different issue here?

[2022-04-21 19:10] Lucas-C commented on #398
It depends a lot on your usage...
Usually I would recommend **dependency locking**, for example using `poetry `.
This kind of tool provides commands for upgrading your dependencies "intelligently".

But for basic usage, `pip install --upgrade` should be enough:
[code]

Those commandes will upgrade all yours dependencies at once, and hence you would not have face the error you got by only upgrading

[2022-04-21 19:18] Lucas-C commented on #330
Solved by https://github.com/PyFPDF/fpdf2/pull/396

[2022-04-21 19:18] #330 closed

[2022-04-22 07:11] Lucas-C commented on #398
On second thought, you were right, I was missing something:
I added a minimum Pillow version in `setup.py`: https://github.com/PyFPDF/fpdf2/blob/master/setup.py#L36

[2022-04-23 08:53] kargan49 commented on #369
the addition of **text_mode** in the latest update resolved my issue for thickening the font by the use of FILL_STROKE attribute, thank you for the addition of this feature.

[2022-04-23 08:58] kargan49 commented on #369
How to change the line width of border line in a multicell?

[2022-04-23 09:59] #277 closed

[2022-04-23 10:13] Lucas-C commented on #369
You can use [set_line_width()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.set_line_width)

[code]

Closing this issue now

[2022-04-23 10:13] #369 closed

[2022-04-23 10:30] Lucas-C commented on #345
I opened https://github.com/PyFPDF/fpdf2/pull/402 to finally get rid of the dependency on `pickle` in the next release

[2022-04-23 10:42] #345 closed

[2022-04-23 13:11] #394 closed

[2022-04-23 13:57] bcronald commented on #267
Yes, it is the same problem as here https://github.com/carlhiggs/global_scorecards/issues/7
When the text is selected and copied from the pdf and pasted into text editor (I am on Ubuntu 20.04) it apperars correctly, wheras in the pdf, the components of a complex character are either not arranged in the correct sequence or not attached together with main character.

[2022-04-23 14:03] Lucas-C commented on #365
This issue also affects Tamil text: https://github.com/carlhiggs/global_scorecards/issues/7

[2022-04-24 09:05] Lucas-C opened #404 "New feature: provide support for style attributes in SVG files"
**Context**
Our current [SVG parser](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/svg.py) has [some limitations](https://pyfpdf.github.io/fpdf2/SVG.html#currently-unsupported-notable-svg-features), among which the lack of support for CSS styling.
This means that the following [simple example from MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/style#example) will not be colored

[2022-04-24 12:02] categulario commented on #398
;) 🙏🏽

[2022-04-27 20:51] deepakmeena635 opened #405 "text running out of the <td><>"
Describe the bug
1. the line in second td goes beyond the page
2. <img width="698" alt="image" src="https://user-images.githubusercontent.com/37202245/165628054-0f4c59f8-ae3b-4f0e-af9d-70648961b2a6.png">
3. on using <font color="some color"  > the part enclosed resets to the start of the td
<img width="698" alt="image" src="https://user-images.githubusercontent.com/37202245/165628629-56193d1c-8803

[2022-04-28 07:25] Lucas-C commented on #405
Hi @deepakmeena635
Thank you for taking the time to report this.

Are you aware of the current limitations of the HTML renderer?
https://pyfpdf.github.io/fpdf2/HTML.html#supported-html-features

Typically, as mentioned in the docs, multi-lines cells (= automatic line wrapping) are not supported: https://github.com/PyFPDF/fpdf2/issues/91

Do you really need to work with HTML?
Otherwise I would reco

[2022-04-29 12:18] Lucas-C commented on #62
Ok!
Feel free to ask any questions here, I'd be happy to help by answering them if I can.

[2022-05-05 09:00] feiticeir0 opened #413 "ValueError: Invalid value for parameter "new_x" (0),must be instance of Enum XPos"
Describe the bug

**Error details**
ValueError: Invalid value for parameter "new_x" (0),must be instance of Enum XPos

**Minimal code**
This is straight taken from the tutorial 2 for Header and Footer
[code]

**Environment**
* Oracle Linux EL 8 - Kernel 5.4.17-2136.304.4.1-el8uek
* Python 3.6.8
* `fpdf2` 2.5.2

[2022-05-05 10:13] abishek commented on #413
I moved to 2.5.0 to get past this. `new_x` and `new_y` are parameters added to `cell` method from what I understand in the code. So we need to update the code to include the parameters or go to a slightly older version until we can fix it properly. The parameters replace the previously used `ln` parameter.

source: https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.cell

[2022-05-05 10:21] feiticeir0 commented on #413
I will then move to a lower version until this gets fixed.
Thank you

[2022-05-05 10:21] #413 closed

[2022-05-05 11:06] abishek commented on #413
oh, but I don't think it's an issue. It is a breaking change. We have to update the codebase to work with the new API :-)

[2022-05-05 12:11] Lucas-C commented on #413
Indeed, this deprecation was announced in `v2.5.2`: https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#deprecated-1

I'm sorry the tutorial is outdated, I will fix this asap.

You can still use `ln` for now, but you will have to pass arguments by name:
[code]
or:
[code]

Note however that `ln` will be removed at some point, so we recommend to all users to switch to the new `new_x` / `new_y`

[2022-05-05 14:40] Lucas-C commented on #413
The new release has landed:
* https://github.com/PyFPDF/fpdf2/releases/tag/2.5.4
* https://pypi.org/project/fpdf2/#history

[2022-05-05 15:28] Philippe-M opened #415 "encoding error"
Hello,

I have a problem encoding the character \u202f. The problem appears when converting from us_US to fr_FR, i.e. 4399.99 to 4 684,99

With this code

[code]

I get the error

[code]

**Environment**
* OS : linux Fedora 35
* Python 3.10.4
* `fpdf2` 2.5.3

[2022-05-05 16:25] gmischler commented on #413
@feiticeir0 & @abishek :
As you both have just found out, using all positional arguments in any non-trivial method call is often not a particularly good idea.
Your own code ends up not as readable as it could be,  and if anything in the method changes, chances of things breaking are much higher than when using keyword arguments.

Now in hindsight, squeezing the new parameters into the middle of th

[2022-05-05 16:46] Lucas-C commented on #413
PR https://github.com/PyFPDF/fpdf2/pull/414 already included an updated ot the tutorial scripts 😊

[2022-05-05 17:31] Lucas-C commented on #415
Hi and thanks for reporting your issue.

Could you provide some [minimal, autonomous, Python code reproducing your issue](https://stackoverflow.com/help/minimal-reproducible-example) please?
Currently, in the code you provided, I have no idea of what could be the return value of `tools.check0(self.tools, s1_vatgro)`...

`\u202f` is the unicode character named [NARROW NO-BREAK SPACE](https://www.fi

[2022-05-06 06:21] Philippe-M commented on #415
Hi @Lucas-C,

Sorry, I corrected my original post with a code to reproduce the error.

I tried to implement it last night without success so far.

[2022-05-06 09:42] feiticeir0 commented on #413
Thank you all for the replies.
I was searching for BARCODES in fpdf and landed on fpdf2. I did install it and, after seeing the tutorial using the same functions and arguments as the fpdf, did not change anything on the code and I got the original error.

I'll check the new tutorial and change the code accordingly  !
Thank you

[2022-05-06 11:25] Lucas-C commented on #415
Interesting: on my computer your code works does not crash!
It produces the following file: [issue_415.pdf](https://github.com/PyFPDF/fpdf2/files/8639583/issue_415.pdf)

I think you should track down where this `\u202f` character comes from.
Can you spot non-ascii characters it if you call `cat vET test.py`?

[2022-05-06 11:34] deepakmeena635 commented on #405
Sure, please close this

[2022-05-06 13:47] #405 closed

[2022-05-07 08:14] gmischler opened #418 "Switch to using fonttools"
**Problem**
Currently fpdf2 uses its own ttfonts.py module to read and process the TrueType family of font files.
This obviously works for what whe're doing so far, and with the most common types of such files.
But there are several problems with that approach.
1. There's a significant variety of font file types out there that all sail under the general "TrueType" flag, but contain either differen

[2022-05-07 19:57] RedShy commented on #404
Hi! I would like to work on the issue, can I work on it?
This would be my first time to contribute to an open source project and I'm excited!

I have setup my local environment with black, pylint. I have ran pytest and 10 tests failed: [Full log](https://pastebin.com/TG5xGRUH)
![](https://user-images.githubusercontent.com/24901693/167269673-3dd8a673-45ba-4229-b030-6c5c4580cb84.png)

My idea for th

[2022-05-07 20:51] gmischler commented on #415
That seems to be the thousands seperator after locale formatting.
What that does, depends on how exactly 'fr_FR.UTF-8' is configured on your system.

[code]

On @Philippe-M s Fedora, `'thousands_sep'` is apparently set to `'\u202f': 'NARROW NO-BREAK SPACE'`.

[2022-05-08 11:46] Lucas-C commented on #404
Sure!

Great! And welcome 😊

Your may not have a recent enough version of Pillow.
`fpdf2` requires [Pillow>=9.1.0](https://github.com/PyFPDF/fpdf2/blob/master/setup.py#L34).
Could you run `pip freeze` to check what version of Pillow you have installed?

Sounds good to me! Go and try that!

Thank you! ❤️
I'm working on another one ^^

[2022-05-08 12:54] chandan00761 commented on #62
What is the use of [_trace_size](https://github.com/PyFPDF/fpdf2/blob/387fe541e04e357f6af7b22cdebf3bc19bca0ab2/fpdf/fpdf.py#L4423) ? Should I use it when placing my objects?

[2022-05-08 15:02] RedShy commented on #404
Thank you for the fast response, yes I have Pillow 8.4.0, I will update it and retry the tests!

[2022-05-08 20:07] Lucas-C commented on #62
This internal method allows to track the size of every section in the final PDF (images, fonts, pages...),
when [logging](https://pyfpdf.github.io/fpdf2/Logging.html) is configure.

Only if you introduce a new top-level resource type.

If I understood your question correctly, then yes.

[2022-05-09 07:46] Philippe-M commented on #415
On my Fedora i've this

[code]

[2022-05-09 08:04] Lucas-C commented on #415
Good catch!

So @Philippe-M you can either change this setting, or use a font file: I have tested the following code using [DejaVuSans.ttf](https://github.com/PyFPDF/fpdf2/blob/master/test/fonts/DejaVuSans.ttf) and it works fine:
[code]

[2022-05-09 08:18] Lucas-C commented on #413
@allcontributors please add @feiticeir0  for bug

[2022-05-09 08:58] Philippe-M commented on #415
@Lucas-C

I'm testing with thist code, and it's ok now

[code]

[2022-05-09 09:00] Lucas-C commented on #415
Wonderful!
Glad you solved your issue 😊
Closing this issue now

[2022-05-09 09:00] #415 closed

[2022-05-09 15:59] Namyalg opened #422 "Error : 'FPDF' object has no attribute 'epw'"
Describe the bug

**Error details**
I am following the[ first code example](https://pyfpdf.github.io/fpdf2/Tables.html) here
I encounter the error ` 'FPDF' object has no attribute 'epw'`

**Environment**
* OS (Windows)
* Python version : 3.9.6
* `fpdf2` version : 1.7.2

[2022-05-09 15:59] #404 closed

[2022-05-09 16:59] Lucas-C commented on #418
Thank you for initiating tha issue @gmischler!
I planned to do the same following [discussion #411](https://github.com/PyFPDF/fpdf2/discussions/411#discussioncomment-2700978).

Currently, the [ttfonts.TTFontFile](https://pyfpdf.github.io/fpdf2/fpdf/ttfonts.html) class contains all the font-parsing logic.
Its usage is very closely located:
* among its public methods, the only ones used in other par

[2022-05-10 08:50] Namyalg opened #425 "Error : fpdf.errors.FPDFException: A page cannot be added on a closed document, after calling output()"
I am generating PDFs in python on a Flask server using `fpdf2`, and encounter this when I invoke a GET request to create the PDF consecutively. Is there a function to clear the buffer ?

`raise FPDFException( fpdf.errors.FPDFException: A page cannot be added on a closed document, after calling output() `

[2022-05-10 09:36] Lucas-C commented on #425
Nope. You need to either:

* create a `FPDF` instance for every request
* if you want to reuse the PDF for several calls, store `bytes(pdf.output())` in shared variable, do not reuse a `FPDF` instance

You did not provide any code reproducing your issue, as suggested in the GitHub issue template, so I won't be able to help you much more...

[2022-05-10 13:46] Namyalg commented on #425
Okay, thank you for the information
The skeleton of the code is this, where `function_to_generate_pdf()` is called multiple times, and on the second call it returned the above message

[code]

[2022-05-10 13:47] Namyalg commented on #425
I was thinking of a class -based implementation where `pdf = FPDF()` is called in the constructor

[2022-05-10 13:49] Namyalg commented on #425
I used `send_file` to send the pdf

[2022-05-10 13:51] Lucas-C commented on #425
Beware of state sharing inside a Flask application...
Check this: https://stackoverflow.com/a/23417696/636849

Why not! The `FPDF` class is designed to be "subclassable".
You could do something like this:
[code]

[2022-05-10 13:55] Namyalg commented on #425
Yep, it does
Tested the sample, it's exactly what I wanted!

[2022-05-10 13:57] Namyalg commented on #425
Will including the above sample in the documentation be a good idea ?

[2022-05-10 14:04] Lucas-C commented on #425
The one with the subclass?
IMHO it doesn't really bring much over a function-based approach.
But I will add a mention about FPDF instance reuse between calls, that's a good idea!

Closing this now

[2022-05-10 14:14] Namyalg commented on #425
Sure, that will definitely assist use cases like mine.

[2022-05-10 14:14] #425 closed

[2022-05-10 19:54] Lucas-C opened #427 "Allow to draw rectangles with round corners by introducing a new `round_corners` optional argument to FPDF.rect"
The idea comes from one of @digidigital recipes: https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2/tree/main/roundedCorners (_cf._ #274)

There this some usage example once implemented:
[code]

`round_corners` would allow two possible values: a boolean OR an iterable of `Corner` (a subclass of [CoerciveEnum](https://pyfpdf.github.io/fpdf2/fpdf/enums.html#fpdf.enums.CoerciveEnu

[2022-05-10 20:27] Lucas-C opened #428 "Add a new star() method to draw regular stars!"
The idea comes from one of @digidigital recipes: https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2/tree/main/star (_cf._ #274)

There this some usage example once implemented, inspired by [regular_polygon()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.regular_polygon):
[code]

By implementing this feature you, as a benevolent [FLOSS](https://en.wikipedia.org/w

[2022-05-11 21:08] iwayankurniawan commented on #393
Hi, Could you please assign this one to me? Thanks

[2022-05-11 21:39] Lucas-C commented on #393
Sure! Done

[2022-05-14 07:55] #393 closed

[2022-05-14 10:20] RedShy commented on #428
Hi! I would like to work on this! Is there any feature to add other than the rotation?

[2022-05-14 10:46] Lucas-C commented on #428
Great!

Actually, the `rotateDegrees` is really optional:
we already have a [rotation()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.rotation) method so users will be able to:
[code]
I suggested to introduce it just because [regular_polygon()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.regular_polygon) already has it.

No, I don't see anything else to add, but fe

[2022-05-14 11:59] Lucas-C commented on #224
Note that solving this would allow to use the [Noto Emoji](https://fonts.google.com/noto/specimen/Noto+Emoji) font:

Currently #418 seems like the best way to go.

[2022-05-16 10:39] Lucas-C commented on #428
Implemented in #434
Thank you @RedShy !

[2022-05-16 10:39] #428 closed

[2022-05-18 10:21] gonzalobarbaran commented on #427
Hi! I'm currently working on this feature. I already added the `round_corners` parameter that accept a boolean and i'm trying to figure out how to add the iterable of `Corner`.  I hope to finish as soon as posible

[2022-05-18 11:45] Lucas-C commented on #427
Great! If ever you have any question regarding how to implement this, or how `fpdf2` works, feel free to ask 😊

[2022-05-18 11:58] Lucas-C opened #437 "Provide documentation on how to add IPTC metadata to PDF files"
We currently have some documentation on how to set PDF metadata on a file generated with `fpdf2`: https://pyfpdf.github.io/fpdf2/Metadata.html

However, this does **not** set IPTC metadata, aka _Windows File Properties_.
Those can apparently be set using the [IPTCInfo3](https://pypi.org/project/IPTCInfo3/) package: https://stackoverflow.com/questions/57421099/accessing-windows-file-tags-metadata-i

[2022-05-19 12:39] Lucas-C opened #441 "Allow to insert screen-only images that do not get printed"
The idea comes from one of @digidigital recipes: https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2/tree/main/visibility (_cf._ #274)

To implement this feature, `fpdf2` will need to insert Optional Content Groups, and Optional Content Usage Dictionaries.
Example from the spec:
[code]

There this some Python usage example once implemented:
[code]

By implementing this feature y

[2022-05-19 12:56] Lucas-C opened #442 "KeyError: 'usages' in image()"
Bug spotted here with `v2.5.4`: https://github.com/Lucas-C/undying-dusk/runs/6506915814?check_suite_focus=true
[code]

I'm assigning this to myself to investigate further.

[2022-05-23 16:12] #442 closed

[2022-05-24 18:46] vicmayrink opened #446 "Adding SVG images from matplotlib"
Hello there! Thanks for the community members who develop and support fpdf2, it has been a handful tool generate analytical reports.

I'm using `matplotlib` to save figures in SVG format for better quality. Find below a sample code:

[code]

The result, however, was not actually what I was expecting: a big black box. (output pdf is [here](https://github.com/PyFPDF/fpdf2/files/8765478/doc-with-svg.

[2022-05-24 19:49] Lucas-C commented on #446
Good news!

I tested your code using the latest, [unreleased, version 2.5.5](https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#255---not-released-yet) and it produced this PDF file that seems perfectly fine:
[doc-with-svg.pdf](https://github.com/PyFPDF/fpdf2/files/8765751/doc-with-svg.pdf)

I'm planning to perform a new release once the 2 PRs currently open are merged,
but in the meantime y

[2022-05-25 06:17] gmischler commented on #446
I had already been wondering if the svg output of mathplotlib would be a working replacement for the currently documented way of using image files.

The graph as such looks ok, but the character placement in the axis labelling is rather wonky.
Is that a problem on our end, or does mathplotlib do weird things there? (The latter seems rather unlikely, to be honest.)

[2022-05-25 07:02] Lucas-C commented on #446
Agreed. Can you please submit a PR?

Also, I think we should include @vicmayrink recipe as part of our documentation,
once we have clarified the pertinent question you asked @gmischler

[2022-05-27 13:38] Lucas-C commented on #446
Given that `vector.svg` is perfectly fine, there is indeed an issue with our SVG rendering of this file.

After looking at the SVG content, it seems like all text elements are in fact rendered as paths.
I have isolated a minimal SVG file that does not get rendered well by `fpdf2`:
![issue-446](https://user-images.githubusercontent.com/925560/170710572-3ec8a10d-8c64-4b33-9316-ce8604185a2b.svg)

We

[2022-05-27 14:40] Lucas-C commented on #446
I have found a fix in #448

The resulting PDF is prettier: [doc-with-svg.pdf](https://github.com/PyFPDF/fpdf2/files/8787390/doc-with-svg.pdf)

[2022-05-27 14:52] Lucas-C commented on #446
I also added the recipe in the documentation in https://github.com/PyFPDF/fpdf2/commit/304685:
https://pyfpdf.github.io/fpdf2/Maths.html#using-matplotlib

@vicmayrink : can we close this _issue_ or do you have any other question/request regarding the subject?

[2022-05-28 07:30] kargan49 opened #449 "Getting "ImportError: DLL load failed while importing _imaging: Access is denied." error while importing FPDF2"
[code]

Because of the above error, could not import the FPDF2 module. Kindly advise for rectifying the issue.

[2022-05-28 07:46] RedShy commented on #449
Hi! Seems more related to `Pillow` than `fpdf2` to me, have you tried to upgrade `Pillow?`

[2022-05-28 07:50] kargan49 commented on #449
Yes, upgraded Pillow to latest version didn't resolve the issue.

[2022-05-28 07:52] kargan49 commented on #449
Sometimes, the issue gets resolved when I restart the pc, but the issue still persists.

[2022-05-28 08:36] RedShy commented on #449
Seems a problem with permissions in reading the `.pyd` files in `Python39\lib\site-packages\PIL\`

[2022-05-28 08:46] Lucas-C commented on #449
Could you try the following commands and copy their output here please?
[code]

[2022-05-29 21:47] gmischler commented on #446
Very cool!  (SVG is really a tricky beast...)

Using SVG output from mathplotlib should result in much smaller (and crisper) PDFs in most cases so we clearly have a winner here!

[2022-05-29 21:51] gmischler commented on #449
Looks like you have Python (or at least Pillow) installed in user space.
Is this the only installation on that system?
Does the error possibly happen when you try to run the code as another user?

[2022-05-30 02:21] kargan49 commented on #449
This error occurs in my office pc, also the user does not have admin rights.

[2022-05-30 06:14] gmischler commented on #449
On Windows, "user space" is anything below this:

where the files are typically owned by the respective user.
If you try to access such a file from a different login, you may be denied access. But since you seem to be using the default Windows user account (unusual for an office machine), that is unlikely to be the case here though.

Generally speaking: "Access is denied" means that the system is

[2022-05-30 10:31] kargan49 commented on #449
You are right, I'm not using the default windows user account.  It's "C:\Users\my-employee-number"

[2022-05-30 10:32] kargan49 commented on #449
I'm getting message as "Access is denied" for the above commands

[2022-05-30 10:41] Lucas-C commented on #449
Thanks for trying.

You probably should get in touch with your collegues in charge of managing employees computers,
as the underlying issue seems to be your access rights.
Your company policy probably limits you in the commands you can run on your computer,
but this has nothing to do with `fpdf2`.

Where you able to install other Pypi packages and use them in a script?
Are your collegues able to i

[2022-05-30 11:02] kargan49 commented on #449
Yes, I could install Pypi packages only by using the command "python -m pip install package_name -f ./ --no-index--no-deps"
I download the package from pypi.org and use the above command to install any package.

[2022-05-30 11:11] Lucas-C commented on #449
OK. Then the difference between the packages you successfully installed and `fpdf2` could be that `fpdf2` depends on Pillow which is packaged as binary because it includes compiled C code.

Its likely that so far you did not use any Python package including C compiled code, and thus did not have any issue until now.

I don't have any proper solution to offer you, that's just a potenial explanation

[2022-05-31 06:37] Lucas-C commented on #446
Thank you @gmischler 😊

Closing this now

[2022-05-31 06:37] #446 closed

[2022-06-06 01:58] preshtildeath opened #450 "SVG parsing issue, tries to convert "c" to float"
Trying to add an SVG to an empty PDF using (essentially) the code from the example at: https://pyfpdf.github.io/fpdf2/SVG.html
Could be a strange SVG, main reason I'm making it into a PDF is because Photoshop doesn't open it correctly, despite it rendering fine in Chrome and Edge.

**Environment**
Windows 10 Pro version 21H1
Python 3.10.4
fpdf2 version 2.5.4, also checked the latest master branch

[2022-06-06 06:52] Lucas-C commented on #450
Thanks for reporting this.

After having a quick look, I think the issue comes from this part of the SVG path: `a5.168 5.168 0 013.06-1.837c`

If you remove the `c` character and all that comes after, you'll get this error:
[code]

With added whitespaces, the following is a valid SVG path string: `a5.168 5.168 0 0 13 .06 -1.837`

But with the original string, our parser doesn't know how to parse `

[2022-06-06 07:02] Lucas-C commented on #450
The [SVG 1.1 spec](https://www.w3.org/TR/SVG11/paths.html) does not seem to mention how the parser should behave if there are not enough parameters provided to the `a` command...

I think we could adapt our parser so that `013.06` gets parsed into `0 13.06`,
but we will still be missing 2 parameters in that string, and I don't see where Firefox find them,
or what default values to use for some par

[2022-06-07 09:09] gmischler commented on #450
The specs say:

but are unfortunately not very specific about which ones are to be considered actually superfluous.

Possibly, but I think there's another mechanism at play here.

I guess for testing purposes you just did a random split to arrive at this:
*  a5.168 5.168 0 0 13 .06 -1.837

Turns out the correct solution is slightly different:
*  a 5.168 5.168 0 ***0 1*** 3.06 -1.837

The arguments

[2022-06-07 12:07] Lucas-C commented on #450
This is evidently how all the browsers process this file, while the Photoshop developers apparently didn't get the memo.
If we manage to tweak our own parser to split the arguments this way, then the output will be what the producing software intended.

Nice! Well spotted @gmischler :)

@preshtildeath: are you interested on working on a PR to fix this, or not necessarily?

[2022-06-07 15:07] preshtildeath commented on #450
Not necessarily! That sounds like regex, which makes me nervous haha. This conversation has been very enlightening, I'll definitely be fiddling around some more with my project. Thank you both!

[2022-06-07 17:20] Lucas-C commented on #450
Alright, thank you for your answer @preshtildeath 😊

I may give @gmischler suggestion a try when I have some time, but anyone else is free to grab it and submit a PR!

[2022-06-07 20:38] gmischler commented on #450
You might find some inspiration in [svg.path](regebro/svg.path). Their approach of type checking and parsing path arguments looks quite helpful.

[2022-06-08 00:40] JohnLErvin opened #451 "Incorrect timezone information in pdf metadata."
Describe the bug

**Error details**
In resulting pdf metadata, the localtime is reported, but the UTC timezone is indicated. Either report local timezone are change to UTC time when saving in metadata.

**Minimal code**
Please include some minimal Python code reproducing your issue:
[code]
Open the pdf in any pdf viewer, look at properties and notice timezone for created is incorrect.

**Environme

[2022-06-08 09:28] Lucas-C commented on #451
Thank you for reporting this @JohnLErvin!

I submitted #452 to fix this

[2022-06-08 11:34] #451 closed

[2022-06-08 13:06] JohnLErvin commented on #451
You are welcome @Lucas-C, and thank you for the rapid change. I'll have a look to verify fix...

[2022-06-08 13:25] Lucas-C commented on #451
Great.

There are some PDF files generated with `fpdf2` with the fix applied:
* https://github.com/PyFPDF/fpdf2/blob/master/test/metadata/setting_old_date.pdf
* https://github.com/PyFPDF/fpdf2/blob/master/test/alias_nb_pages.pdf

[2022-06-08 17:57] Lucas-C commented on #450
In #453 I tried to use `svg.path` in `fpdf2`.
There are only a couple of issues to resolve on their side and we should be able to get rid of several regular expressions in our code, **and** fix this bug.

[2022-06-08 18:14] gmischler commented on #450
I didn't actually want to suggest adding another dependency, I just liked their way of parametrizing the parameter parsing.
But if it also works that way... Have you done any performance comparisons yet?

[2022-06-08 18:37] Lucas-C commented on #450
No, but that would be a wise idea.
I'll perform some if the minor issues in `svg.path` get resolved and we go on with using this lib.

[2022-06-09 11:04] pramitsingh0 commented on #437
Hi. I am interested in working on this issue. I installed IPTCInfo3 package and tested it and found that it can only be used for writing metadata to image files(jpeg/jpg). If I am not wrong, you want to add metadata to pdf files right?

[2022-06-09 18:43] Lucas-C commented on #437
Thank you for your research @pramitsingh0

`fpdf2` can already sets some "internal" PDF metadata on the files it generates:
https://pyfpdf.github.io/fpdf2/Metadata.html

But neither `fpdf2` nor `PyFPDF2` can set the content of _Windows File Properties_.
In fact, those properties may not be IPTC metadata at all, I may have mixed things up 😄
https://en.wikipedia.org/wiki/IPTC_Information_Interchange

[2022-06-09 18:43] #437 closed

[2022-06-10 16:52] ryanshow opened #455 "Version 2.5.1 breaks manual line breaks via newline character"
It seems that version 2.5.1 no longer injects line breaks when the `\n` newline character is encountered with the write() or multi_cell() function.

I have an application generating PDF files without issue using version 2.5.0, but upgrading to version 2.5.1 or above breaks all the formatting in my generated documents.

Here's a basic example. I haven't tested this, but it's essentially the relevan

[2022-06-11 11:20] Lucas-C commented on #455
For reference, there is the output of your code with `v2.5.0`:
<img width="289" alt="issue-455-fpdf2 5 0" src="https://user-images.githubusercontent.com/925560/173185696-d7c1f24a-e40c-4350-8e66-c11dc052568f.png">

And here is the output with `v2.5.1` to `v2.5.4`:
<img width="663" alt="issue-455-fpdf2 5 4" src="https://user-images.githubusercontent.com/925560/173185726-98d4398d-9650-4a9f-87be-619ac

[2022-06-11 11:21] gmischler commented on #455
Thanks for reporting this.

The effect is slightly more specific than described, in that only a '\\n' at the very end of the supplied string will get ignored, any '\\n' somewhere else would still have the desired effect.
I just submitted PR #456 that should fix this.

[2022-06-11 12:33] #455 closed

[2022-06-11 12:34] Lucas-C commented on #455
#456 was merged, so this should be fixed in the next release

[2022-06-11 15:51] RedShy commented on #418
I would like to help with this! even if I'm new to fonts and new to how to embed fonts in PDFs so I think I will make some mistakes along the road.

I managed to use fonttools inside `FPDF.add_font` and drop `ttfonts.py` completely, I will open a draft PR for these changes.

I'm finding problems in using fonttools inside `FPDF._putfonts_`.  I see that there is the method `ttf.makeSubset()` that I

[2022-06-13 08:18] gmischler commented on #418
Simply put: We only want to include the data that is actually needed to render the PDF.
For 8-bit codepage based ttfs, this apparently results in the tables you list in the next point.
For Unicode font files, the volume needs to get reduced further. Those can get arbitrarily large, dozens of megabytes are not uncommon. Because of that, only the glyphs that are actually used in the file are include

[2022-06-13 18:07] ryanshow commented on #455
Thank you for the quick response on this!

[2022-06-14 08:50] Lucas-C commented on #418
Good job @RedShy!
Were you able to produce a PDF using a font coming from a `.ttf` file?

It comes directly from the PHP original code:
https://github.com/Setasign/tFPDF/blob/master/font/unifont/ttfonts.php#L494

I couldn't explain its role clearly...

@gmischler already provided an excellent answer. I don't have more useful information to share here...
There is a lot of code exploration to do.
Ma

[2022-06-14 12:25] gmischler commented on #418
The most comprehensive information I've found on the font file format and the meaning of the various tables is from Microsoft: [OpenType Specification Version 1.9](https://docs.microsoft.com/en-us/typography/opentype/spec/)
Apple also has some information: [TrueType Reference Manual](https://developer.apple.com/fonts/TrueType-Reference-Manual/)

[2022-06-15 14:20] kingfredrickvi opened #457 "Tables Documentation Out of Date?"
I am trying to create a table following https://pyfpdf.github.io/fpdf2/Tables.html

**Error details**
[code]

**Minimal code**
[code]

**Possible Fix**
I read through the pull request from April ( https://github.com/PyFPDF/fpdf2/pull/350/files/855b905ddeb638d88481473f212e6a111387f911#diff-b44ed7a29a52f08d574d9d8a3ab66e269455682942f45dc33cf55d85d688a341 ) and making the following change to my code

[2022-06-15 18:32] Lucas-C commented on #457
Sorry for the inconvenience: the documentation matches the state of the latest version of the code on this repo, unreleased yet.

The code you used in the end is perfectly valid, and will continue to be valid onwards.

You can test the latest, unreleased, version of `fpdf2` with this command:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

I'm planning to perform a release before

[2022-06-16 12:52] RedShy commented on #418
Thank you both! it’s really encouraging and motivating to receive thoroughly answers!

It makes sense and now it’s more clear!

I managed to do that inside `FPDF.add_font()`. I looked at every data extracted with `ttfonts.TTFontFile` and searched for an equivalent data using `fonttools`, then I runned the test and are all green. For example this is the code I put inside `FPDF.add_font()`. I would

[2022-06-17 08:45] Lucas-C commented on #449
Hi @kargan49!

Do you still need assistance with this?
Else could we close this issue?

[2022-06-17 08:55] Lucas-C commented on #457
fpdf2 [v2.5.5](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.5) has been released

Closing this now

[2022-06-17 08:55] #457 closed

[2022-06-17 09:08] #427 closed

[2022-06-17 09:11] Lucas-C commented on #172
On a related note, we plan to move to `fonttools`: https://github.com/PyFPDF/fpdf2/issues/418

I'm not sure this will solve this initial request here, but I'm going to close this issue for now

[2022-06-17 09:11] #172 closed

[2022-06-17 09:16] Lucas-C commented on #446
The fix to support `"x"` & `"y"` attributes in SVG `<use>` tags has been included in [release 2.5.5](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.5)

[2022-06-17 09:16] Lucas-C commented on #451
This fix has been included in [release 2.5.5](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.5)

[2022-06-17 16:35] kargan49 commented on #449
Yes, this thread can be closed.

[2022-06-17 23:48] #449 closed

[2022-06-18 13:54] Lucas-C commented on #450
I have merged #453 that fixes this bug.

That PR didn't make it in v2.5.5, but it will be included in the next `fpdf2` release.

[2022-06-18 13:54] #450 closed

[2022-06-22 15:06] hackinteach opened #458 "Missing and unknown text in outline when use `pdf.start_section()`"
**Error details**

I used `pdf.start_section()` with Thai language and the generated outlines are missing characters and some have extra junk characters. I tried put these words in random order and the error persist with the words.
The problematic words are as follow:
- ลักษณะ -> ลัก
- ระดับฮอร์โมนเพศชาย -> ระดับฮอร์โมนเพศชาย਩㸾攊摮扯੪〱㤱〠漠橢㰊਼䌯畯瑮〠⼊敄瑳嬠㔱〠删⼠奘⁚⸰‰〵⸱㌷渠汵嵬⼊敎瑸ㄠ㈰‰‰੒倯牡湥⁴〱㠱〠删⼊楔汴⁥ＨӾ『䄎ᤎᤎᐎ㔎䀎ⴎ䜎ᤎ䀎ⴎȎⴎ܎Ў

[2022-06-22 15:31] hackinteach opened #459 "Thai font collapse when using more than 1 tone marks"
Describe the bug

According to [this documentation](https://pyfpdf.github.io/fpdf2/Unicode.html), adding font with Unicode support works with Thai language as well. Unfortunately, when using more elaborate font other than Waree from the example, the tone marks collapse when having 2 marks in 1 words, for example: `ที่ นั้น นี่ ทั้ง มั้ง บุหรี่`

**Minimal code**
Please include some minimal Python

[2022-06-22 18:53] Lucas-C commented on #459
This looks very much like a duplicate of https://github.com/PyFPDF/fpdf2/issues/365 & https://github.com/PyFPDF/fpdf2/issues/459

There is currently an effort to change our font-parsing code: https://github.com/PyFPDF/fpdf2/issues/418
Hopefully, this may improve the support for Thai language on the long term.

Of course, any other suggestion or contribution to improve the situation is welcome 😊

[2022-06-22 18:55] Lucas-C commented on #458
This may be related to https://github.com/PyFPDF/fpdf2/issues/365 & https://github.com/PyFPDF/fpdf2/issues/459
I do not know Thai language: is your issue @hackinteach related to tone marks, as described in #459?

[2022-06-23 06:56] gmischler commented on #459
Makes you wonder why it comes out correctly with one font...
These don't seem to be ligatures, but rather accent characters, which fpdf2 supports perfectly fine.

Note that in the example, the "more elaborate" fonts all show the characters in the same bland shape, with slightly varying thickness. Now look at how Prompt Thin should really look like:

![prompt_thin](https://user-images.githubusercon

[2022-06-23 07:01] hackinteach commented on #458
Not really in my opinion, since this is the pdf outline which doesn't use custom font to render.

[2022-06-23 07:12] gmischler commented on #458
Or maybe rather related to #320 ?

[2022-06-23 07:13] hackinteach commented on #459
@gmischler Thank you for your suggestion. I did some more finding on Thai fonts and found the ones working now (I should have go deeper link in the Unicode documentation).

Might be useful for someone in the future, I download the fonts from [Fonts-TLWG](https://linux.thai.net/projects/fonts-tlwg/)   using this [link](https://linux.thai.net/pub/thailinux/software/fonts-tlwg/fonts/) and the results

[2022-06-23 07:13] #459 closed

[2022-06-23 08:44] Lucas-C commented on #459
Great, thank you for your answer @gmischler!

@hackinteach / @gmischler : would you like to contribute a PR on [docs/Unicode.md](docs/Unicode.md) to add a mention of this? 😊
Maybe simply a new paragraph about Thai language, and how to select fonts to properly display text in this language?

[2022-06-23 09:18] hackinteach commented on #459
Sure, my pleasure :)

[2022-06-23 21:13] Lucas-C commented on #458
I have a starting point for a fix, in `syntax.py`:
[code]

With this new string serialization logic, your code generates PDFs that display a readable outline in Adobe Acrobat reader.
Sadly, for some reason that I cannot figure right now, the resulting PDFs display no outline when opened with Sumatra PDF reader!

[2022-06-27 06:02] gmischler commented on #418
"Use the source, luke!" :wink:

I guess there's no other way to figure it out than to step through the existing code, look where it gets its data from, and then replace that source with fonttools. Anyone else would have to go through the same steps to give you a better answer, and whoever originally wrote that code is probably not following the project anymore.

If it turns out to be too confusing

[2022-06-27 13:46] RedShy commented on #418
Loved the Star Wars reference! :grin:

Okay then, I'm a bit busy these days, but I will try to do it in the following weeks

Yes it's a good idea

[2022-06-29 07:34] Lucas-C commented on #458
I submitted #463 that should fix this

[2022-06-29 10:42] gmischler commented on #458
Ah yes, in hindsight it makes sense that UTF-16 strings would need a BOM.
Nice catch! :+1:

[2022-06-30 07:10] hau-ifs opened #464 "Multi_cell display inconsistency"
Hi team,

The library is awesome and has gotten me really far. Much appreciated.

I was just wondering if this is intended while using multi_cell and whether there is an alternative to what I am trying to achieve.

In some cases using multi_cell, the initial line appears to double the amount of spaces.

<img width="1064" alt="image" src="https://user-images.githubusercontent.com/96906049/176614767

[2022-06-30 12:02] gmischler commented on #464
Thanks for reporting.

In your first issue, the longer text of your second example causes the line to wrap earlier. Since the default alignment is "justified", the word spacing thus necessarily becomes larger.
If you don't want the word spacing to change depending on the amount of text per line, just use a different alignment.

In your second issue, I'm not entirely sure what you're asking for. Ca

[2022-06-30 18:38] Lucas-C commented on #458
The fix as been merged in the `master` branch, but not released yet.

Note that you can intall the latest version of `fpdf2` using this command:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

[2022-06-30 22:25] hau-ifs commented on #464
Ah, setting the alignment prevented the extra work spacing. Thanks for helping 😄 .

For the second issue, is it possible to split the text on the character regardless of the most recent space or soft-hyphen?

In the image posted above, the text "Lorem - Ipsum - DOLOR - DDDDDD - hello" when using split_only will return ["Lorem - Ipsum - DOLOR -", "DDDDDD - hello"]. Is it possible to return ["Lorem

[2022-07-01 07:00] gmischler commented on #464
The optimal way would of course be to implement an option for the library to do character based line wrapping. I'm not sure what the best public API for that option would be though, or what other possibilities should be considered to round out the functionality.

Fpdf2 currently only does word based line wrapping, with the ability to split inside of a word only as a stop-gap measure when a word is

[2022-07-01 08:09] hau-ifs commented on #464
I was going to approach it using the last approach mentioned but I will have a play around. I'll close this question because I believe all my questions have been answered.

Thanks for the very detailed response.

[2022-07-01 08:09] #464 closed

[2022-07-10 05:51] mangoez opened #471 "fpdf2 default table example not working"
I'm just learning how to use fpdf but it seems that your examples are not working?

Describe the bug

**Error details**
AttributeError                            Traceback (most recent call last)
Input In [11], in <cell line: 15>()
     13 pdf.set_font("Times", size=10)
     14 line_height = pdf.font_size * 2.5
---> 15 col_width = pdf.epw / 4  # distribute content evenly
     16 for row in data:

[2022-07-10 05:56] mangoez commented on #471
Apologies, when I installed fpdf I did
pip install fpdf and not fpdf2

[2022-07-10 05:56] #471 closed

[2022-07-10 08:30] Lucas-C commented on #471
No problem, glad you you figured it out

[2022-07-17 23:01] mangoez opened #473 "Multicell wrapping not working"
I tried stack overflow but to no avail, this is probably not a bug but I couldn't find any other way to fix the issue.
All I want to automatic raw height and text wrapping!
Please let me know what I can do, cheers.

Here is a reproducible example and what it outputs:

[code]
<img width="368" alt="2022-07-15 13_39_25-example pdf" src="https://user-images.githubusercontent.com/69587452/179145564-baf

[2022-07-18 09:09] Lucas-C commented on #473
There is an example in the documentation that could help you:
https://pyfpdf.github.io/fpdf2/Tables.html#using-cells

A useful parameter here is `max_line_height`.
There is some starting point code based on what you shared:
[code]

[2022-07-21 06:16] Brianrmendes commented on #441
I would like to take up the issue!

[2022-07-21 06:41] gksathyarao opened #474 "Kannada characters are not displaying properly with Fpdf2 and Python3"
With fpdf2, Kannada characters are not displayed properly. Characters are jumbled . Looks to be issue with all Indian languages we use Half characters lot in Indian languages . Normally Half characters are written below the characters
Code example:

**Minimal code**
[code]

Correct way to display it is "ಕನ್ನಡ ರಾಜ್ಯ ಹೇಮ್ಮೇಯ ನಾಡು" but in PDF it shows/display as
<img width="509" alt="image" src="http

[2022-07-21 09:03] gmischler commented on #474
Thanks for reporting.

The reason why this happens is explained in issue #365. Yes, all indic scripts have this problem, as will any other scripts with mandatory ligatures.
I'm not aware of any open source PDF libary that has solved this. If you happen to know one, please tell us so we can check out how they've done it.

Someone is currently working on #418, which will build the foundation for an

[2022-07-21 16:50] Lucas-C commented on #418
Hi @RedShy!
I'd like to rekindle this ^^
Have you been blocked by anything that I could help with ?

[2022-07-21 19:58] Lucas-C commented on #441
Awesome, great!

There are a few pointers:
* images are already inserted in a `BDC` / `EMC` marked sequence block when a `title` or `alt_text` is provided:
https://github.com/PyFPDF/fpdf2/blob/2.5.5/fpdf/fpdf.py#L3366 There is just a need to add support for `/OC` entries in the `_marked_sequence()` method
* the resource dictionary is already produced by `fpdf2`` there: https://github.com/PyFPDF/fp

[2022-07-25 16:47] RedShy commented on #418
Hi! Unfortunately I could not work much on this in the last days. But still I would like to give my contribution! In the following days I hope I will have more time to dedicate

[2022-07-26 12:24] gmischler opened #475 "Bad Font indexing after local context"
**Error details**
After several `.local_context()` calls and font changes, fpdf seems to get confused about which is the currently active font, and either "forgets" to include all the necessary characters, or maybe misplaces them in other ways.

**Minimal code**

[code]
**Result**

![Unbenannt](https://user-images.githubusercontent.com/17468844/181003126-f6a760be-18bf-443a-bc8c-31d8f5b82903.PNG)

[2022-07-26 13:17] gmischler commented on #475
Just had an inspiration, and a quick test confirmed the suspicion:
The cause of this bug is that `self.current_font` ist not reset to the previous value after a local context.
Should this actually be included in the context stack?

On that front, I also noticed that there are competing property definitions of `.font_size_pt` in fpdf.py and graphics_state.py.
In addition, since `.font_size` and `fo

[2022-07-26 15:28] Lucas-C commented on #475
We could, yes.
If I understand correctly, your original problem is not really a bug, it's just that `.current_font` is not included in a local context at the moment.

You're right, `font_size_pt` should be removed from `GraphicsStateMixin` as it now a property of the `FPDF` class that refers to `.font_size`.

You are totally right!

Would you like to submit a PR regarding those points?

[2022-07-26 22:08] #475 closed

[2022-07-29 19:09] gmischler opened #478 "font_stretching causes text to spill out of multi_cell"
**Error details**
It seems that `.font_stretching` is not currently taken into account when determining the width of text.

**Minimal code**

[code]

results in this:
![image](https://user-images.githubusercontent.com/17468844/181827276-67e488e6-5945-477c-b220-4c23de31d55f.png)

I think this is not really what was intended, as indicated by the size of the multicell itself actually remaining the sa

[2022-07-31 16:52] gmischler commented on #478
I actually see the fix in #479 as a temporary stop-gap measure. To clean up text wrapping and positioning as well as prepare for #245 (along the lines of #339), a different approach will be needed:
* Add font/size/style (ev. color) information to `Fragment()`.
* Expand `TextLine()` into a class with methods to compute line length, word spacing, etc.
* Then all client code can just request most of

[2022-07-31 20:12] #478 closed

[2022-08-03 17:07] LorenzoPeve opened #480 "Bokeh SVG plot unsupported"
Hello,

I am creating .svg figures using Bokeh Python library. The figures render good in the browser but when I do
`pdf.image(filepath)' I get an error saying ValueError: unsupported color specification rgb(255,255,255)

I tried searching for a solution but didn't go far. I am not sure what the root cause of the issue is. Any pointers?

Full error details here

[code]

[2022-08-04 05:50] Lucas-C commented on #480
Hi @LorenzoPeve!

Thank you for reporting this.

Could you provide the SVG file you tried to embed in the PDF, please?
Without it, it will be very difficult for us to reproduce the problem and help you.

[2022-08-04 06:36] gmischler commented on #480
It looks like the fpdf SVG parser currently only supports HTML color names (`"palegoldenrod"`, `"mediumorchid"`, `"lightseagreen"`, etc.) and hex strings (`#aa22ee`).

However, your example uses the CSS color format `rgb(222,012,123)`.

If that is actually a requirement in SVG (most likely, given that it is both produced and accepted by other software), then it should be fairly straightforward to

[2022-08-04 12:05] Lucas-C commented on #480
I'm working on implementing this

[2022-08-04 12:29] #480 closed

[2022-08-04 12:32] Lucas-C commented on #480
This has been fixed on the `mater` branch of this repo, and can be tested with:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

This fix will be part of the next release.

[2022-08-04 13:40] LorenzoPeve commented on #480
This is great! Thank you so much for the promptness, as I was getting close to a deadline.
I'll go ahead and get the development version until the next release.

[2022-08-04 14:45] LorenzoPeve commented on #480
Hello, I tried out the development version, and I am getting the following error. I just want to know if there is anything I can do on my end or if my SVG files don't work for some reason. I can make adjustments on my end to change the figures.

I have a reproducible example of my SVG. This is the code I am using, and I created dummy data.
Thanks again.

Error:

[code]

[2022-08-04 16:41] LorenzoPeve commented on #480
Here is a sample SVG file. Let me know if there is anything else I should provide.

![bokeh_plot (1)](https://user-images.githubusercontent.com/71228480/182904847-eaeddaf3-4fd2-4a22-9b89-b96a62acb077.svg)

[2022-08-04 18:03] gmischler commented on #480
Ah thanks.

Looks like we need to take into account that the path attribute 'stroke-dasharray' can be an empty string. Maybe we should generally expect that with all optional attributes, and essentially treat the empty ones as if they weren't there.

[2022-08-05 07:09] Brianrmendes commented on #441
Hey! @Lucas-C
I needed some explanation on the following 1) What exactly are BDC/EMC
2) In the _marked_sequence(), how exactly do we add support for /OC entries
3) In the _putresourcedict do we just add properties in the self._out("ProcSet [/PDF /TEXT.... /Properties]") something like this? And if yes then where do you expect us to write the properties function

(Ps:- I'm sorry for asking so many

[2022-08-05 09:48] Lucas-C commented on #480
I fixed this in https://github.com/PyFPDF/fpdf2/commit/34ddf557c848b89622dd773c915276ba82c60587

fpdf2 can now renders the SVG image provided by @LorenzoPeve

[2022-08-05 10:15] Lucas-C commented on #441
For detailed explanations, please refere to the [1.7 PDF spec](https://christianhaider.de/dokuwiki/lib/exe/fetch.php?media=pdf:pdf32000_2008.pdf).
Quoting it:

element of interest [...] The BMC, BDC, and EMC operators shall bracket a marked-content sequence of objects within the
content stream.

---

This method currently contains a call to `self._out(f"/P <</MCID {mcid}>> BDC")`.
It should be mod

[2022-08-06 00:03] Willy-Chan commented on #257
Hi! I'm relatively new to (advanced) programming and github/software development, but would very much like to dip my toes into the open-source community and try my hand at implementing this feature.

To be clear, the goal in this case is to create a function in fpdf2 that produces PDF forms?

Sorry if I ask any dumb/newbie questions, english is not my first language and I'm really new to all this!

[2022-08-06 09:05] Lucas-C commented on #257
Hi and welcome @Willy-Chan!

Exactly!

I don't have a specific idea on the signature this method should have.
This should be given some thought, given that PDF forms can be complex objects with many internal parts (form fields, appearence stream & layout, annotations & resource dictionary, optional JavaScript...).
And the goal would be to expose those forms as a user-friendly, yet expressive, API.

[2022-08-09 09:42] sokratisvas commented on #267
Hi, I can provide a Greek translation.

[2022-08-09 09:51] Lucas-C commented on #267
That would be awesome, great!

Do you know how to submit a PR? Do you need any information?

I suggest to read the following documentation on how to submit a contribution:
https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution

Once you will be familiar with the basic concepts of `git` & GitHub,
you can copy the file [docs/Tutorial.md](https://github.com/PyFPDF/fpdf2/blob/master/

[2022-08-10 15:27] thaicxx opened #484 "'DeviceRGB' object has no attribute 'pdf_repr'"
I was using the fpdf2 library to generate some pdf files after running a SQL script for a while in py_spark environment. But after doing some updates, I came across a new error msg: 'DeviceRGB' object has no attribute 'pdf_repr' while using the add_page() function in offset_rendering().
Is this a bug?

**Code (tried to minimize as much as possible)**

#!/usr/bin/env python
# coding: utf-8
# Type:

[2022-08-10 16:52] #484 closed

[2022-08-11 09:55] Lucas-C commented on #484
Glad you found a solution to your original problem.
I received the initial code in a GitHub notification email.

I can other face the same error, could you just mention what was the source of the problem ? 😊

[2022-08-11 12:26] MayankFawkes commented on #365
unfortunately still the same problem, [Pillow ](https://github.com/python-pillow/Pillow) had the same problem rendering fonts then they added [font layout engine](https://pillow.readthedocs.io/en/stable/reference/ImageFont.html#PIL.ImageFont.truetype) and [ImageFont.Layout.RAQM](https://pillow.readthedocs.io/en/stable/reference/ImageFont.html#PIL.ImageFont.PIL.ImageFont.Layout.RAQM) which solves t

[2022-08-11 13:22] Lucas-C commented on #365
This is an interesting lead, thank you @MayankFawkes.
One limitation is that [libraqm](https://github.com/HOST-Oman/libraqm) is a C library that hasn't been packaged as a Python package, AFAIK.
Hence it won't be straightforward for `fpdf2` to have a dependency on it.

[2022-08-11 14:42] MayankFawkes commented on #365
@Lucas-C there are some ways we can use it like, The build binary of libraqm is available, We can just use the binary of [libraqm](https://github.com/HOST-Oman/libraqm) for Linux is it really simple `apt-get install libraqm0 libraqm-dev` and for windows there are third party builds available, We can release an optional update which support of libraqm engine so the problem of rendering hindi and ot

[2022-08-11 17:12] thaicxx commented on #484
Hey @Lucas-C I was having an error after I updated my code to have page breaks > more especifically while using the add_page() function in offset_rendering() - the output was **_'DeviceRGB' object has no attribute 'pdf_repr'_**

 **with self.offset_rendering() as dummy:
            #print_caput(dummy, self)
            dummy.cell(h=25, w=dummy.epw/2)
        if dummy.page_break_triggered:

[2022-08-11 18:31] Lucas-C commented on #484
Sure, I removed the original first 2 revions from your original post

[2022-08-11 18:35] thaicxx commented on #484
@Lucas-C Thank you very much.
I actually still haven't found a solution for the problem, are you familiar with this error?

[2022-08-11 18:37] Lucas-C commented on #484
No, sorry.
But if you provide some minimal code to reproduce the error,
I'd be happy to help you and maybe solve a the bug if there is one.

[2022-08-12 08:01] gmischler commented on #365
If fpdf2 were linux-only, using stuff like ctypes would be no problem.
But for Windows, MacOS, and potentially other systems, only dependencies that can be installed via pip are practially realistic.

This specific issue here is "only" about ligatures, which is primarily necessary for indic scripts.
For scripts derived from aramaic (arabic, hebrew, mongolian, etc.), a more complete solution would

[2022-08-15 07:46] me-suzy opened #486 "I can't view paragraphs made up of more than one sentence correctly in PDF. In the PDF I can only view part of the first line."
hello, I can't view paragraphs made up of more than one sentence correctly in PDF.
In the PDF I can only view part of the first line from the paragraph. See this print screen:

![](https://snipboard.io/PQ1n7j.jpg)

This is the paragraph:

`<p class="text_obisnuit">Are your values generated by ignoring the differences between the rich and the poor? Are you in a position to benefit from the differen

[2022-08-15 14:59] gmischler commented on #486
Hello @me-suzy ,

if you check the [documentation](https://pyfpdf.github.io/fpdf2/index.html), then you will find that in several places it is not made very explicit, but `.cell()` does indeed only render one single line by design.
In the table of the various text methods in [Adding Text](https://pyfpdf.github.io/fpdf2/Text.html), it is marked with "one" in the column "lines" (phew, at least there

[2022-08-15 20:16] me-suzy commented on #486
https://pyfpdf.readthedocs.io/en/latest/reference/multi_cell/index.html

[2022-08-15 20:57] gmischler commented on #486
@me-suzy , that is a different software package (even if a quite similar one).

For fpdf2, please refer to the documentation I've linked above.

[2022-08-16 07:21] gettalong commented on #258
@Lucas-C Nice that you draw inspiration from HexaPDF :grin:

I just saw the example output at https://pyfpdf.github.io/fpdf2/Shapes.html and wanted to note that the lines joining at the center of the green solid arc are not joined correctly. You can see artifacts sticking out:
![image](https://user-images.githubusercontent.com/4104/184820697-daee7039-aae0-4326-b98d-2d35f6fcae2e.png)

HexaPDF rende

[2022-08-16 08:05] Lucas-C commented on #258
Thank you @gettalong!

At first, I thought that in order to fix this we would need to implement PDF _Line Join Styles_,
but in fact I think we should use the `h` path operator intead of cloing arcs with a line:
https://github.com/PyFPDF/fpdf2/blob/2.5.5/fpdf/fpdf.py#L1651

We should open a dedicated "bug" issue explaining the problem and how to solve it in `arc()` in `solid_arc()` methods

[2022-08-16 09:27] gettalong commented on #258
Yeah, that could also be the reason and would certainly be easier.

[2022-08-16 11:56] semaeostomea opened #487 "White border on right and bottom side & arabic script fix"
I don't think it's necessarily a bug and might have to do with how firefox renders pdfs so I'm putting it here as a question

I wanted to add a background and I couldn't find any other function to do this _(if there is one, please tell me, otherwise I'd be happy to contribute once I've added a few customizations to it and figured out how pull requests work)_ so I overwrote the add_page() function.

[2022-08-16 12:04] Lucas-C commented on #487
Interesting.
Could you provide the Python code ued to generate the PDF and/or the PDF itself?

[2022-08-16 12:22] Lucas-C opened #488 "Improve arc rendering"
There are currently two methods to render arcs with `fpdf2`:
* [arc()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.arc)
* [solid_arc()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.solid_arc)

However artefacts are visibles on line junctions when generating those shapes with `start_from_center=True` & `end_at_center=True`:

![image](https://user-images.githubuserco

[2022-08-16 12:23] Lucas-C commented on #258
I opened #488

[2022-08-16 12:26] Lucas-C commented on #474
@ksathyarao : are you still facing this problem?
Do you still have questions / need help or can this issue be closed?

[2022-08-16 12:57] Lucas-C commented on #480
This was released in [v2.5.6](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.6)

[2022-08-16 13:47] semaeostomea commented on #487
Here's the code for the overwritten class
[code]

This is the code to generate the pdf. It's returned as bytes, but when I save them to my disk directly with output() I get the same results, so the steps in between the bytes and the final output can't be the cause
[code]

It's a bit messy but I hope it's still readable

I also just noticed that when I zoom out, the border appears on the supposedly

[2022-08-16 13:52] Lucas-C commented on #487
I suggest you get a look at this guide: https://opensource.guide/how-to-contribute/#opening-a-pull-request
😊

I'm assigning this issue to myself to investigate, but it may take a few days before I find the time to do so.
I have a hunch that it's due to rounding floats.

[2022-08-16 13:54] Lucas-C commented on #473
@mangoez: are you still facing this problem?
Do you still have questions / need help or can this issue be closed?

[2022-08-16 14:12] Beuthmaster opened #489 "Any idea how to achieve letter spacing?"
Hey there, I'm looking for a way to enable customized letter spacing. Do you have any idea, how to achieve that?
I tried `write_html()`, but it seems like this library can't read html inline style properties, right?

Any tips appreciated! Thanks in advance!

[2022-08-16 14:21] aedvice commented on #489
Same issue here!

[2022-08-16 14:38] Lucas-C commented on #489
Hi @Beuthmater @aedvice: have you tested [set_stretching()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.set_stretching)?

[2022-08-16 18:26] gmischler commented on #489
There's currently no easy way to do that. Unfortunately, `set_stretching()` also changes the shape of the characters, which is probably not what you want.

It could be implemented, in a similar way as we currently use the `Tw` instruction to space words for justifying text.
The `Tc` instruction changes the space between individual characters.

A new method `set_character_spacing(spacing: float, un

[2022-08-17 01:31] mangoez commented on #473
Hi @Lucas-C thank you for your assistance!
All good :)

[2022-08-17 01:31] #473 closed

[2022-08-17 07:41] #488 closed

[2022-08-17 10:17] semaeostomea commented on #487
@Lucas-C I've reduced the code I provided above, making sure it doesn't have anything do to with the overridden class after all.
I think you also prefer not having to go through all that code

here is the short version with the same result:
[code]

[2022-08-17 13:46] AggarwR7 opened #494 "Is there a way to set row height according to the highest column height in the row without calculating the highest column height?"

[2022-08-17 13:58] AggarwR7 commented on #494
Hi Team,

I am using "multi_cell" to add data in the table. But if the column data is bigger, I want the whole row to take the height of the highest column height in the row while printing. I went through the listed issues, everyone seems to be calculating the max height of the whole row first, and then printing it according to the max height. My use case involves printing thousands of rows of dat

[2022-08-17 15:06] Lucas-C commented on #494
Hi @AggarwR7
This has been discussed in past issues.
Could this code snippet be useful to you?
https://github.com/PyFPDF/fpdf2/issues/91#issuecomment-813033012

[2022-08-17 15:18] Lucas-C commented on #487
What version of Firefox are you using?
I could not reproduce your problem using 103.0.1 (64 bits) on Windows, nor with 104.0.5112.81 (64 bits).

There is the PDF I generated using the latest version of `fpdf2`:
[issue_487.pdf](https://github.com/PyFPDF/fpdf2/files/9364084/issue_487.pdf)

[2022-08-17 15:24] Lucas-C commented on #487
Looking at the internal object stream generated, there does not seem to be any rounding issue:
[code]

[2022-08-17 15:32] Lucas-C commented on #494
Indeed they do.

No, sorry, to be clear: currently `fpdf2` offers no other way to do so.

[2022-08-17 15:43] semaeostomea commented on #487
I'm using 103.0.2 64 bits on Windows
I also don't see that issue on Chrome either, just Firefox
same with the file you generated:
![Screenshot 2022-08-17 173600](https://user-images.githubusercontent.com/100974908/185181706-b70c1a1b-9d4a-47da-be08-354cb82e4052.png)

3.10.5 and 2.5.5

[2022-08-17 17:07] Lucas-C commented on #487
That is really strange...
At what zoom level do you ee those artifacts?

Firefox uses [PDF.js](https://mozilla.github.io/pdf.js/) as its default viewer.
Do you use an alternative PDF viewer by any chance, maybe through a browser addon?
Based on their [FAQ](https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#faq-extensions), PDF.js is part of Firefox since version 19.

[2022-08-17 21:04] semaeostomea commented on #487
without extra space added to the rectangle I see them at 100% already. The weirdest part is that they disappear when I make the rectangle bigger. When I do that they only appear when I zoom out

I use the default viewer

That could be possible. I'm just confused as to why increasing the size of the rectangle fixes it to some extent

I'll also look into other ways to add a background and see if tha

[2022-08-17 22:04] Lucas-C commented on #487
What "other ways" are you thinking of?
I tested how LibreOffice & Word implement colored PDF backgrounds and they both use a rectangular shape.

[2022-08-18 08:00] Beuthmaster commented on #489
Thanks @gmischler . Works out perfect!

[2022-08-18 08:00] #489 closed

[2022-08-18 08:37] gmischler commented on #494
@AggarwR7 , you should be able to create a table in a single loop, as long as you can live with certain limitations.
* for each row
  * remember the fpdf current y position as row top
  * remember the row bottom (initialize with row top)
  * for each column
    * render cell contents with new_y="NEXT"
    * if the new fpdf current y is lower than the current bottom, update the bottom
    * reset f

[2022-08-18 13:46] semaeostomea commented on #487
For one, adding the background as an image (same result) but I also tried finding other ways to apply the color directly. As I understand it the rectangle is simply placed on top of a white canvas. But that doesn't seem to be possible.

Apart from that I've found out that this must be related to the format. When using a DIN format (eg A4, A5, A3) there's no border unless I zoom out to 60% at which

[2022-08-18 14:12] Lucas-C commented on #487
Sounds like a good idea to me.
They certainly know more about the viewer behaviour than me, and could be able to explain the glitch you see.

I add another look at the [1.7 PDF spec](https://christianhaider.de/dokuwiki/lib/exe/fetch.php?media=pdf:pdf32000_2008.pdf) but sadly no, I don't see any support in it to define a background color or image 😔

[2022-08-18 14:25] semaeostomea commented on #487
Oh maybe I didn't express my idea properly. I mean by doing it like I did, by adding the rectangle/image in the add_page() function when a background is specified, so that users don't have to override the class just for adding a background(which will also be applied on new pages added in the multi_cell() function, which they don't if it's done outside of the class before the multi_cell() function.

[2022-08-18 14:28] Lucas-C commented on #487
Oh OK, I understand now!
Alright, then yes, I would be open to a PR introducing a `set_background()` method,
which would then trigger the creation of a rectangle in every later call to `add_page()`.

[2022-08-18 15:15] Lucas-C opened #496 "Add a new bezier() method to draw curves"
Documentation on Bézier curves:
* [Wikipedia](https://en.wikipedia.org/wiki/B%C3%A9zier_curve)
* [Cubic Bezier Curves with SVG Paths](https://medium.com/@bragg/cubic-bezier-curves-with-svg-paths-a326bb09616f)
* [MDN SVG path CurveTo](https://developer.mozilla.org/fr/docs/Web/SVG/Tutorial/Paths#commandes_pour_les_courbes) (français)

There is some suggested usage example, once implemented, inspired

[2022-08-18 15:21] Lucas-C commented on #194
As it has been a few months now without any update, I guess this issue is up-for-grabs 😊

Anybody is welcome to give it a try!

[2022-08-18 20:14] Lucas-C commented on #487
Also:

You're very welcome, glad you've been contributing to `fpdf2` as your 1st project ^^

[2022-08-20 07:41] me-suzy opened #498 "How to convert HTML style tags inside fpdf paragraphs?"
Hi!

I have several HTML tags inside the paragraphs I'm writing to the pdf file.
Those HTML tags contain some style I want to apply to the text I am writing.
Let's consider this example:

My name is Emily. `<em>Hello world!<em>` My name is Jon.  (**in pdf file**)

Normally, on the HTML page this text is displayed like this (`<em>` tags transform the text into italic):

My name is Emily.  _Hello wo

[2022-08-20 08:03] me-suzy commented on #486
I resolve the problem. This was the solution:
[code]

[2022-08-22 09:00] Lucas-C commented on #498
Hi @me-suzy
You have spotted an actual bug of `fpdf2`, thank you for reporting it.
I'm working on a fix

[2022-08-22 09:07] Lucas-C commented on #498
@all-contributors please add @me-suzy for bug

[2022-08-22 09:09] #498 closed

[2022-08-22 09:09] Lucas-C commented on #498
PR #499 fixed this

You can test it by installing the latest `fpdf2` version from git:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

[2022-08-22 09:10] Lucas-C commented on #486
@me-suzy : glad you found a solution!

Closing this issue then

[2022-08-22 09:10] #486 closed

[2022-08-22 10:22] Lucas-C commented on #498
This has been broken since at least v2.2.0 of `fpdf2`:
https://github.com/PyFPDF/fpdf2/blob/2.2.0/test/html/test_html_features.pdf

[2022-08-22 10:39] Lucas-C commented on #494
@AggarwR7: does that answer your question?
Do you any other interrogation or can this issue be closed?

[2022-08-22 10:40] Lucas-C commented on #474
I guess that after 1 month since the initial anwer, this can be closed.
Feel free to reopen another issue if needed!

[2022-08-22 10:40] #474 closed

[2022-08-23 06:44] me-suzy commented on #498
Also, I have already installed GIT:

pip install github.py

But when I try to install your extension , and I got this error:

![image](https://user-images.githubusercontent.com/2770489/186088996-52648a83-c926-4696-9d18-0773cd0dd896.png)

[2022-08-23 09:25] pimuzzo opened #501 "Possible memory leak"
I noticed it during a loop that generates PDFs inside a scheduled job that runs daily.

**Minimal code**
[code]

outputs:
[code]

* The images are high res pictures that can be found [here](https://www.nasa.gov/multimedia/imagegallery/iotd.html)
* I followed the [official tutorial](https://pyfpdf.github.io/fpdf2/Images.html)

Any help or workaround will be really appreciated!

**Environment**
* OS

[2022-08-23 11:35] Lucas-C commented on #498
@me-suzy: no need to install `github.py`! This is a totally unrelated Pypi package: https://pypi.org/project/github.py/

You need to have the `git` command available, that is correct, but then just run this:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

This is syntax to install a Python package from a `git` repository.
Full documentation is available here: https://pip.pypa.io/e

[2022-08-23 11:36] Lucas-C commented on #501
Hi @pimuzzo!

Thank you for reporting this.
I'm assigning this to myself and plan to get a look at it asap.

[2022-08-23 12:12] pimuzzo commented on #501
Hi @Lucas-C!

I tried with a single page with one image and the output is:
[code]

The memory difference between start and end looks constant increasing the loops

[2022-08-23 13:12] gmischler commented on #501
This [Pillow issue #5401](https://github.com/python-pillow/Pillow/issues/5401) may or may not be relevant.

How does memory consumption develop if you run your code in a much longer (1k+) loop?

Do the PILLOW_BLOCK_SIZE and PILLOW_BLOCKS_MAX envvars make any difference?

[2022-08-23 13:38] pimuzzo commented on #501
I edited my code in this way:
[code]

1k+ loop will take too long to complete, but I tried with this code and 10 and 50 loops:

[code]

[2022-08-23 14:44] Lucas-C commented on #501
I'm having trouble identifyig where this memory allocation happens...
I tried several approaches: `memory_profiler`, `pympler`, `tracemalloc`, `memleax`...
Those tools always report an amount of memory allocated far below the RSS value.

Example with `tracemalloc`, based on your original code @pimuzzo:
[code]

Results in:
[code]

[2022-08-23 14:49] Lucas-C commented on #501
I tested adding those lines after the call to `pdf.output()`:
[code]
As a result the memory usage is a lot lower:
[code]

[2022-08-23 16:27] Lucas-C commented on #501
There is some minimal code that also displays the script peak memory usage:
[code]

Results in:
[code]

And after disabling the GC collection by commenting out the last 4 lines of the `for` loop:
[code]

Note that if you re-use the same images in several PDF files you are generating, you can use a small hack to speed things up by to re-using the images cache among successive FPDF instances:
[code]

[2022-08-23 16:28] Lucas-C commented on #501
I don't really think there is a memory leak...

@pimuzzo: do you have any more questions/interrogations regarding this?

[2022-08-23 16:33] pimuzzo commented on #501
I will add the `del` + `gc.collect()`.
Thank you for the small hack to speed things up and for your help.
No more questions for now.

[2022-08-23 19:57] Lucas-C commented on #501
Glad that helped you!
Closing this issue then

[2022-08-23 19:57] #501 closed

[2022-08-24 07:26] gmischler commented on #487
@semaeostomea , sorry to come late to the party here...

I'm missing a way to clear the background settings again.
Say I want to have a background on some page(s), but not the following ones. The only way to do that now is to set the background to white for the rest of the document.
I think just allowing `None` as a valid argument would do the trick here.

A short explanation on the documentation

[2022-08-24 08:15] Lucas-C commented on #487
I agree, good idea

[2022-08-24 08:36] semaeostomea commented on #487
You're right, I completely forgot about that after restricting the accepted values 😅

I'll issue another pull request for the changes then?

[2022-08-24 09:04] Lucas-C commented on #487
Sounds great, thank you @semaeostomea!
A single unit test and minor change in `set_page_background` should be enough

[2022-08-25 13:30] semaeostomea commented on #487
oh yes of course this issue can be closed 😊 thank you

[2022-08-25 13:30] #487 closed

[2022-08-25 13:41] Lucas-C commented on #441
@Brianrmendes: are you still working on this feature, or is it up-for-grabs for another contributor to implement this?

[2022-08-25 13:43] Brianrmendes commented on #441
@Lucas-C Hey! I'm sorry for the delay, I've been having submissions and exams lately in my college. I'm working on it though!

[2022-08-25 13:44] Lucas-C commented on #441
OK, great 😊 I hope your exams will go fine!
No worries, I just curious if you lost interest in this featuer, take your time on this!

[2022-08-25 20:50] me-suzy commented on #498
In the error it says that you have not installed git.
You need to install git.

[https://phoenixnap.com/kb/how-to-install-git-windows](https://phoenixnap.com/kb/how-to-install-git-windows)

You do these steps to Launch Git GUI (exclusive).

Open Git Bash.

Then go to the Configure GitHub Credentials step and run the 2 commands with your GitHub account data.

After doing that you run the command gi

[2022-08-25 21:09] me-suzy opened #505 "I have a html link in a paragraph that cannot be converted in PDF link"
`<p class="text_obisnuit">Intr-un articol precedent, <a href="https://neculaifantanaru.com/dupa-toate-regulile-artei.html"><em>Dupa toate regulile artei</em></a>, v-am povestit despre tanarul print Hamlet`

**shoult look like this in PDF**

<p class="text_obisnuit">Intr-un articol precedent, <a href="https://neculaifantanaru.com/dupa-toate-regulile-artei.html"><em>Dupa toate regulile artei</em></a

[2022-08-25 21:14] me-suzy commented on #498
Yes, I installed everything successfully, but it still looks the same.

This is the html paragraph with `<p class="text_obisnuit2"></p>` and inside this tag I have other 2 italic tags `<em></em>`

The basic tag doesn't see in PDF, very good. But the italic tag `<em></em>` is seen in PDF, and this is not good.

`<p class="text_obisnuit2"><em>Pentru a cunoa&#351;te realitatea un lider trebuie s&#259

[2022-08-25 22:40] Lucas-C commented on #498
The following code works perfectly fine for me with the latest version of `fpdf2`:
[code]
The Kanit font is a Google font: https://fonts.google.com/specimen/Kanit

The resulting PDF contains text in italics: [issue_498.pdf](https://github.com/PyFPDF/fpdf2/files/9428595/issue_498.pdf)

[2022-08-25 22:43] Lucas-C commented on #505
As already stated [in this comment](https://github.com/PyFPDF/fpdf2/issues/498#issuecomment-1227827186), please share some fully-autonomous [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_reproducible_example) so that we can replicate your problem.

If you do not provide us with some minimal Python code, we won't be able to help you much.

[2022-08-26 07:36] me-suzy commented on #505
**This is the complete PYTHON code.**

**1.** It must also be taken into account that the signs **:** are lost in PDF, also the uppercase letter at the beginning of the line:

For exemple:

`Leadership: Takes into account the opinions of others in order to understand...`

in PDF looks like this:

`Leadership takes into account the opinions of others in order to understand...`

**2.** Link problem

[2022-08-26 07:38] me-suzy commented on #498
I copy/paste my complete code on the link below. I also write the errors that I encountered

https://github.com/PyFPDF/fpdf2/issues/505#issuecomment-1228158345

[2022-08-26 09:55] RedShy commented on #505
Hi @me-suzy! If I understood correctly, the issue arises because you don't seem to use [`pdf.write_html()`](https://pyfpdf.github.io/fpdf2/HTML.html)
For example, with this code
[code]

the header is shown like this
![immagine](https://user-images.githubusercontent.com/24901693/186877688-8a13b030-2143-4b97-a8f6-e726b84f3a01.png)
Instead if I change
[code]
to
[code]
the header seems to be shown cor

[2022-08-26 10:06] Lucas-C commented on #505
Thank you for jumping in with this great answer @RedShy!

@all-contributors please add @RedShy for question

[2022-08-26 10:10] me-suzy commented on #505
It is not about the html TITLE tag. It is about the tags from paragraph. See this. I pointed the problem:

![image](https://user-images.githubusercontent.com/2770489/186881561-6361f8dd-3015-45ba-a22b-71f3895a43c8.png)

[2022-08-26 10:22] me-suzy commented on #505
I change, but is exactly the same thing.  You see at my title the diacritical marks `&#351; ` **Abracadabra, cine e&#351;ti** This is why I made a `dict_simboluri` at the beginnind of the Python code, as to transform automaticaly  `&#351; `  into  `ă`

![image](https://user-images.githubusercontent.com/2770489/186883136-7ef3d907-a3fd-494a-b282-1d8df112ec0b.png)

[2022-08-26 10:53] RedShy commented on #505
For rendering correctly also the paragraphs you should change the respectives lines at well.
For example at line 111 I changed
[code]
to
[code]
and at line 130
[code]
to
[code]

A segment of resulting PDF that I obtain is this
![immagine](https://user-images.githubusercontent.com/24901693/186887983-4e43248f-2410-46f1-8a7e-c14fe14516aa.png)

In general if you want to add html tags to the PDF you ha

[2022-08-26 12:02] me-suzy opened #510 "raise FPDFUnicodeEncodingException"
[code]

![image](https://user-images.githubusercontent.com/2770489/186896438-6ab3b7fb-7fc4-4b2c-b413-125dfb047873.png)

[code]

[2022-08-26 12:13] me-suzy commented on #505
I made those 2 change, and I get this error:

![image](https://user-images.githubusercontent.com/2770489/186900851-00b64749-2288-4541-a1f8-12eef2119657.png)

[2022-08-26 12:14] me-suzy commented on #505
also, I get the second error, after change the second line of yours:

![image](https://user-images.githubusercontent.com/2770489/186901189-164308c5-51ee-4410-bdbd-14e4478ef834.png)

[2022-08-26 12:24] Lucas-C commented on #505
Providing a screenshot of your IDE with a line of code in red is not very helpful...
A full error stacktrace would be a lot more useful.

Also, you did not provide any minimal code associated with the errors you faced:
how do you expect us to help you without sharing the underlying code triggering the problem?

Other `fpdf2` contributors may have suggestions to help you, and I thank them for their

[2022-08-26 12:25] semaeostomea commented on #510
The error message is telling you what's wrong:
`fpdf.errors.FPDFUnicodeEncodingException: Character "–" at index 76 in text is outside the range of characters supported by the font used: "helveticaI". Please consider using a Unicode font.`

This is not the same character as `-` (U+2212) , the unicode of this `–` dash is U+2013

The Helvetica font doesn't support this character, so you need to use

[2022-08-26 12:35] me-suzy commented on #505
[code]

[2022-08-26 12:46] me-suzy commented on #505
So, I change all styles ARIAL, TIMES, KANIT, I get the same error:

`fpdf.errors.FPDFUnicodeEncodingException: Character "ă" at index 45 in text is outside the range of characters supported by the font used: "helvetica". Please consider using a Unicode font.`

[2022-08-26 12:58] me-suzy commented on #505
AFTER UPDATE MY CODE WITH NEW FONT and modify those 2 lines, I get this error (I didn't have thise error before the change):

[code]

**THIS IS MY LAST VERSION OF PYTHON CODE:**

[code]

[2022-08-26 13:21] me-suzy commented on #505
ALMOST PERFECT !!

Except one thing.

![image](https://user-images.githubusercontent.com/2770489/186912985-3e7a9ffc-2af5-40b2-a6aa-68a577b2c4e9.png)

THE CODE VERSION 5 (almost perfect)

[code]

[2022-08-26 13:37] RedShy commented on #505
If you want both Bold and Italic you need to add the corresponding font.
So add `pdf.add_font("Kanit", style="BI", fname="fonts/Kanit-BoldItalic.ttf")` under `pdf.add_font("Kanit", style="I", fname="fonts/Kanit-Italic.ttf")`

Also it doesn't work that you set `pdf.set_font('Kanit', size=12, style="B")` for making it bold, you need to add the html tag, e.g. adding the `<b>...</b>` tag.

You could m

[2022-08-26 13:48] me-suzy commented on #505
ok, works.

One more thing. I also have another kind of tag, into paragraph. I have a `<span class="text_obisnuit2"></span>` into the paragraph starting with `<p class="text_obisnuit"></p>` as below:

Example:

`<p class="text_obisnuit"><span class="text_obisnuit2">* My name is James:</span> and I want to go home by Night.</p>`

Must look like this in PDF (My name is James with BOLD and the rest o

[2022-08-26 14:18] RedShy commented on #505
Currently, as written in the [documentation](https://pyfpdf.github.io/fpdf2/HTML.html), `fpdf2` doesn't support CSS, so in this case you may want to replace `<span class="text_obisnuit2"></span>` with `<b>...</b>`.

For example you could use `file_content = re.sub('<span class="text_obisnuit2">(.*)</span>', '<b>\g<1></b>', file_content)` to do the replacement in the entire html file.

I would put

[2022-08-26 16:49] me-suzy commented on #505
Brilliant. Thanks.

[2022-08-27 21:56] me-suzy commented on #505
I made a short tutorial with my code, that you helped me finnish it. Thanks for your help.

Maybe some one needs a complete code for fpdf library.

[https://neculaifantanaru.com/en/python-convert-multiple-html-pages-into-one-pdf-file-with-libraria-fpdf-and-fpdf2.html](https://neculaifantanaru.com/en/python-convert-multiple-html-pages-into-one-pdf-file-with-libraria-fpdf-and-fpdf2.html)

[2022-08-29 09:11] Lucas-C commented on #505
Thank you for sharing your tutorial @me-suzy
And thank you very much @RedShy for assisting here

I'm closing this issue now as things seem resolved

[2022-08-29 09:11] #505 closed

[2022-08-29 09:13] Lucas-C commented on #510
Closing this @me-suzy as you haven't answered here but based on the exchange in #505 it seems that you solved things out

[2022-08-29 09:13] #510 closed

[2022-08-29 09:15] Lucas-C commented on #494
In absence of any respone, closing this for now.
Please add a comment or reopen another issue if you still have a problem regarding this

[2022-08-29 09:15] #494 closed

[2022-08-29 15:43] dmail00 opened #512 "In a HTML table, bgcolor is affecting text colour"
Describe the bug
In a table bgcolor is affecting text colour.

**Error details**
The background is being set at [1] using box_shadow, and box_shadow [2] is getting the current fill colour changing it and then resetting it. However, set_fill_colour does more [3] as shown below, so just caching and reseting the colour is not enough
[code]

As a hack I changed shadow_box to the following and it is re

[2022-08-29 16:18] Lucas-C commented on #512
Hi @dmail00!

Thank you for reporting this bug, and for the detailed error report!
I was able to reproduce the problem easily with your example.

Your fix was functional, but I think that instead of a call to the private method `.out()`,
a "cleaner" fix could be to replace the line `self.pdf.fill_color = fill_color` in `HTML2FPDF.box_shadow` by this:
[code]

Would you like to submit a PR, includin

[2022-08-29 16:18] Lucas-C commented on #512
@all-contributors please add @dmail00 for bug

[2022-08-31 22:54] guillaume-dotcom opened #514 "Superscripts and subscripts with markdown and/or html"
Hey guys,

This package is already a wonderful thing. For my usage, the game changer would be to make it easier to write superscript and subscript in the pdf file.

So at least the html shortcuts for subscripts and superscripts would be good, the best way would be to have the mardown working for all math/latex style input.

The reason for this is mostly for maths to be rendered easily in tables.
F

[2022-09-01 06:30] gmischler commented on #514
In an earlier discussion (#298) I have pointed to the unicode subscript/superscript range as another workaround:  [Unicode subscripts and superscripts](https://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts)
The result is not always particularly pretty, but it still may still be an option.

I'm currently playing with a refactoring of the text flow routines, in order to better encapsulat

[2022-09-01 08:36] Lucas-C commented on #514
I fully second @gmischler answer.

This sounds like a great addition, I would be happy to accepta PR adding support for `<sup>` & `<sub>` HTML tags in [HTML2FPDF](https://github.com/PyFPDF/fpdf2/blob/2.5.6/fpdf/html.py#L195)

[2022-09-01 19:12] gmischler commented on #514
Once my current PR and the one coming after it are merged, it should be "relatively" easy to do this.

* We need to add new parameters to the state stack. eg.:
  * `char_vpos` ("SUPER"/"SUB"/None), for choosing a shift direction.
  * `vpos_shift` (default eg. 0.5), for the vertical movement relative to font size.
  * `vpos_scale` (default eg. 0.7), for how much smaller the shifted characters shoul

[2022-09-01 21:19] gmischler opened #515 "embed_file() fails tests on Windows for text files"
**Error details**
Those test cases that embed a text file fail, because the data are stored with `\n\r` line endings there. Since they are read in binary mode, the resulting PDF is different from the stored one.

![grafik](https://user-images.githubusercontent.com/17468844/188013776-587cf300-5441-4dcf-be8f-4622892e1385.png)

**Minimal code**

`$> pylint -k test_embed`

**Environment**
* Windows
*

[2022-09-02 12:00] Lucas-C commented on #515
Thank you for reporting this @gmischler
I'll get a loot at it when I can, probably next week

[2022-09-05 10:29] Lucas-C commented on #515
I have just tested this under Windows and those tests pass for me:
[code]

I think this has more to do with `git` client configuration: maybe you have [core.autocrlf](https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreautocrlf) set to `true`?
You can test it with `git config --get core.autocrlf`

To avoid this kind of environment-dependent issues, we could adopt a [.gitattributes

[2022-09-05 17:57] gmischler commented on #515
Ah yes, setting it to "input" and refetching the branch fixes it.

That would definitively be a good idea. 👍

[2022-09-05 19:31] #515 closed

[2022-09-05 21:23] gmischler commented on #515
@Lucas-C , after this reconfiguration, Desktop Github now shows me the "tutorial/tuto[2-7].html" files as changed, presumably because they are stored in the repository with CRLF file endings. Might want to fix that for consistency.

[2022-09-05 21:31] Lucas-C commented on #515
Thanks for the notice, done!

[2022-09-07 20:45] Lucas-C commented on #418
Given that this migration has been beautifully made by @RedShy in #477,
do you think that we can cloe this @gmischler?

[2022-09-07 20:49] Lucas-C commented on #224
Note that with the latest code, after merging #477, no more error is raised, but emojis are not visible in the generated PDF

[2022-09-08 06:02] gmischler commented on #418
Well, this task looks quite finished, so I guess we can declare it as such.

[2022-09-08 06:02] #418 closed

[2022-09-08 12:07] Lucas-C commented on #488
This has been released in [v2.5.7](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.7)

[2022-09-08 12:07] Lucas-C commented on #498
The fix from PR #499 has been released in [v2.5.7](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.7)

[2022-09-08 12:07] Lucas-C commented on #512
This has been released in [v2.5.7](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.7)

[2022-09-08 12:49] gmischler commented on #514
Implemented in #520 and published with release 2.5.7.

[2022-09-09 07:21] #514 closed

[2022-09-09 11:34] guillaume-dotcom opened #524 ".add_font() -- AttributeError: 'table__n_a_m_e' object has no attribute 'getBestFullName'"
When updating to latest release (v2.5.7) and checking out if my older scripts were compatible, I discovered that the add_font created an attribute error and seems to me like a bug.

With code below on Windows assuming that the font file is accessible and all works just fine with fpdf2 v2.4.6.

[code]

I get the following error:

Thanks.

[2022-09-09 12:10] Lucas-C commented on #524
Hi and thanks for reporting this @guillaume-dotcom

I'm sorry but I couldn't reproduce your issue, neither under Linux (Ubuntu) nor Windows (10)

Note also that your sample code is not fully correct.
I defined `fontfolder = Path('test/fonts/')` in order for it to work when executed at the root of this repository.

[2022-09-09 12:32] guillaume-dotcom commented on #524
Hi @Lucas-C  and thanks for the swift reply,

Point taken. Apologies for leaving one the `fontfolder` definition.

It is odd. Changing the interpreter to a previous version of fpdf2 worked just fine then. I wonder what could trigger this message.

I also tried to reproduce your code (exactly) and get the same error.

[2022-09-09 13:01] gmischler commented on #524
You don't seem to have a recent enough version of fonttools installed.
The name of the "missing" method was changed there from `getNiceFullName()` to `getBestFullName()` [a few months ago](https://github.com/fonttools/fonttools/commit/1649973800cbf0c8d96b785ccac381672a0996cc).
The version you have was probably installed as a dependency of some other package before that.

That's easy to explain, si

[2022-09-09 13:44] gmischler opened #525 "fonttools.svgPath.path.parse_path() to replace svg.path?"
I just discovered that fonttools have a module "svgLib", containing a class [svgLib.path](https://fonttools.readthedocs.io/en/latest/svgLib/path/index.html), which again has a method `parse_path()`.

I wonder if this could be used to replace the "svg.path" package that we currently use, reducing the number of dependencies for fpdf2 again.

[2022-09-09 18:25] nicholasjin opened #526 ".svg from plotly cannot be parsed - stroke-width with length in px should be allowed"
**Describe the bug**

.svg Plot produced in `plotly` cannot be parsed.

**Error details**
If an exception is raised, it is very important that you provide the full error message.
Otherwise members of the fpdf2 won't be able to help you with your problem.

[code]
**Minimal code**
Please include some minimal Python code reproducing your issue:
[code]
Below is an example plot that produces this error

[2022-09-12 08:40] guillaume-dotcom commented on #524
Hey @gmischler,

That did the trick. thanks. :)

Shouldn't we have an updated fonttools requirements in setup.py to ensure this is not a recurring issue?

[2022-09-12 09:42] gmischler commented on #524
Yes, setting a minimum version might be useful for several dependencies. We've had similar questions about Pillow in the past.

Some people even reccommend to pin all dependencies to a fixed version that has been checked and tested, in order to prevent supply chain attacks.

[2022-09-12 12:03] Lucas-C commented on #524
I agree! Would you like to submit a PR introducing a minimum version for `fonttools` @guillaume-dotcom?

[2022-09-12 20:41] Lucas-C opened #530 "GitHub Actions pipeline is broken due to pdfchecker URL being invalid"
Spotted in #528

[code]

[2022-09-13 07:52] guillaume-dotcom commented on #524
Yes @Lucas-C. I will submit a PR.

[2022-09-13 07:59] tluanga opened #531 "FPDFException( fpdf.errors.FPDFException: A page cannot be added on a closed document, after calling output()"
I get this error while generating a pdf .

[code]

[2022-09-13 08:49] Lucas-C commented on #526
Hi @nicholasjin and thank you for reporting this issue. And welcome as a fpdf2 contributor!
Could you please provide a minimal SVG file that causes your problem?
I'll get a look at this bug soon after you provide it.

@allcontributors please add @nicholasjin for bug

[2022-09-13 08:50] semaeostomea commented on #531
I can't see you calling `generate_test_pdf()` anywhere. Is it possible you're trying to call it more than once sometime later in your code that is not included here? You opened the pdf before defining `generate_test_pdf()`, which means that if you call that function twice, it will throw that exact error since the pdf if you opened before has been closed by the first call to `generate_test_pdf()`

[2022-09-13 08:51] Lucas-C commented on #531
Hi @tluanga and welcome here!
You did right to come here for help.
However you eem to have skipped some steps in the issue template,
notable the part about providing a **minimal** reproducible example:
https://github.com/PyFPDF/fpdf2/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-09-13 09:11] Lucas-C commented on #525
This sounds interesting, well spotted @gmischler!

Have you checked their code quality / test coverage, and if they support as many use cases as `svg.path`?

[2022-09-13 10:14] tluanga commented on #531
The problem is that sometimes the code works and some times it is not, I call the function from an async function, I am sure I call it once

[2022-09-13 10:22] semaeostomea commented on #531
try moving `pdf = RegistrationApplicationPDF()` into the `generate_test_pdf` function.

If you do that you also need to move the `pdfTextField` function into that function or pass `pdf` to it because it will throw an error otherwise

[2022-09-13 10:57] gmischler commented on #525
Fonttools looks to be a very well maintained and active project, but other than that I haven't looked into the details of this specific module yet.

[2022-09-13 11:12] Lucas-C commented on #531
Could you please reduce your code snippet to the bare minimum that triggers your issue?

[2022-09-13 11:45] #530 closed

[2022-09-13 21:15] Lucas-C opened #534 "Add support for <dl>/<dt>/<dd> in HTML2FPDF"
Documentation on `<dl>`/`<dt>`/`<dd>`: [MDN](https://developer.mozilla.org/fr/docs/Web/HTML/Element/dl)

The goal here is to add support for those HTML tags in [fpdf/html.py](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/html.py)
Of course, new unit tests should be added, as well as a mention of those tags on [the dedicated documentation page](https://pyfpdf.github.io/fpdf2/HTML.html#supported-

[2022-09-13 22:41] yk-jp commented on #534
@Lucas-C
Hi, I would like to work on this issue.
I'm new to OSS contribution, but I'd like to try it.

[2022-09-13 23:00] Lucas-C commented on #534
Welcome @yk-jp!
You are very welcome to work on this :)
You can start by having a look at our [Development](https://pyfpdf.github.io/fpdf2/Development.html) page,
and by installing the required packages on your development environment in order to be able to run `black` and `pytest`.

[2022-09-13 23:27] Lucas-C opened #536 "New feature: FPDF.mirror()"
**Original issue title:** _New feature: text transformations - skew, diagonal text, mirror_

The idea comes from one of @digidigital recipes: https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2/tree/main/skew_shear_rotate_text#skew-shear-and-rotate-text (_cf._ #274)

In terms of design / API, a potential user-interface could be to give access to the underlying `Tm` PDF operator

[2022-09-13 23:35] Lucas-C opened #537 "Implement one of the currently unsupported SVG features"
<ins>**Context**</ins>
Our current [SVG parser](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/svg.py) has [some limitations](https://pyfpdf.github.io/fpdf2/SVG.html#currently-unsupported-notable-svg-features)

<ins>**Goal**</ins>
Provide support for any of the currently unsupported SVG features (`<text>`, `<image>`...)
Some unit tests should be added covering your implementation.

---
By implem

[2022-09-13 23:42] Lucas-C commented on #441
Hi @Brianrmendes!
Do you think you'll have time to submit a PR before or during [hacktoberfest](https://hacktoberfest.com)?
Otherwise I think we could let potential hacktoberfest participants come and give it a try 😊

[2022-09-14 06:24] Brianrmendes commented on #441
We can absolutely let potential hacktoerfest participants take part in this! I'm having a hard time in solving the issue, so it would be great to see how others approach this issue!

[2022-09-14 14:58] Lucas-C commented on #536
Oh you mean that in this case:
[code]

...the order of the "skew" & "shear" operations is ambiguous?
Well spotted, I hadn't thought of that issue.

I agree with the idea of separate contect-managers then.

No, I made a distinction between them in my mind, but now I realize the terms were wrong...
We should use clearer, more explicit terms instead. I'm going to edit the issue title & description.

[2022-09-14 17:26] gmischler commented on #536
That sounds like it should already be covered by rotation... But you may well mean what I'd call vertical skew.

To me, like apparently to you, "skew" and "shear" are near synonyms.
I'm not sure if "bent" is the right word here though, despite the example using it. To me bending is something that happens around a curve.
Any native speakers around? :wink:

If we start with an orthogonal font: ![ima

[2022-09-15 07:05] gmischler opened #540 "New Feature: Support ligature Glyphs from TTF Fonts"
We've had several issues raised because fpdf2 currently doesn't correctly support writing systems that require the merging of successive characters into combined glyphs (ligatures). This appears to be mainly the case for indic scripts.

Compare #365, #381, #459, #474, and downstream [global_scorecards #7](/global-healthy-liveable-cities/global_scorecards/issues/7).

Those ligature glyphs are usual

[2022-09-15 20:38] nicholasjin commented on #526
Also, on the off-hand chance that this plot fails to render/download again for any reason, here is the .svg file in text format
[code]

[2022-09-16 06:19] gmischler commented on #526
Your idea of "minimal" doesn't seem to be quite the same as ours... :wink:
The problem could easily be demonstrated in about a hundred bytes.

Looks like our code currently neglects that "stroke-width" is technically a length, and can come with an explicit unit.

[2022-09-16 07:19] Lucas-C commented on #526
Thank you @nicholasjin for providing the SVG file, and thank you @gmischler for the analyis.

This remindes me of #376, where I did not really address the `px` problem.

I won't have time to submit a fix for this in the next days, but anyone is welcome to submit patch-PR!

[2022-09-16 10:16] Sriram1958 opened #541 "I am trying to use Tamil font (ttf). But the letters are jumbled up."
Describe the bug

I want to print Tamil font letters in my report.  I used fpdf2 to send the output to PDF (& then I can send it to Printer).
It is printing without any errors.  But the letters are jumbled up.

**Error details**
NIL reported.

**Minimal code**
### Print_To_Pdf-From-Table-with-Header-Page-Control-with-Diff-Fonts.py
from fpdf import FPDF

pdf = FPDF()

s_font_name = "NotoSansTamil-L

[2022-09-16 10:45] gmischler commented on #541
Thanks for the report.

As specificly mentioned in the [documentation](https://pyfpdf.github.io/fpdf2/Text.html#typographical-limitations), fpdf2 does not currently support the automatic ligatures required for most indic scripts, including tamil.

The issue #540 just below this one summarizes the problem, all the previous reports about it, and a possible solution. But it will likely take quite a w

[2022-09-16 15:20] Sriram1958 commented on #541
Thanks for the quick & meaningful response **gmishler**.
Thanks for pointing out the correct areas of the documentation.  I should have read this prior to disturbing you. Sorry.
Thanks for giving clarity that it will take quite sometime for fpdf2, to provide a solution,  in this regard.

Would like to bring to your notice that MS-Word does it efficiently as also the browsers.

Thanks a lot once ag

[2022-09-16 15:20] #541 closed

[2022-09-16 21:24] #526 closed

[2022-09-16 21:49] Lucas-C commented on #534
Thank you and good job for submitting a PR @yk-jp!
I made a code review. Do not hesitate to ask questions if any part of the contribution process seems unclear to you.

@allcontributors please add @yk-jp for code

[2022-09-17 16:46] Spider2themax opened #546 "Issues loading font file due to pickle error"
Error here is relatively straightforward; attaching font file (had to zip it first, apparently ttf format cannot be uploaded direct to ticket) and code for reproducing error:

[code]

Error:

[code]

This error occured on a Databricks instance, but I also reproduced this in a terminal on my local Mac v12.5.1 and python3 3.8.6

[Arboria Black Italic.ttf.zip](https://github.com/PyFPDF/fpdf2/files/95

[2022-09-17 19:30] gmischler commented on #546
Fpdf2 hasn't been using pickle for quite a while, which means you're using a outdated version of the library.
Please update to the current version and try again.

[2022-09-17 23:41] Spider2themax commented on #546
@gmischler thanks - this was absolutely the issue. stupid error on my part, thanks!

[2022-09-17 23:41] #546 closed

[2022-09-18 10:23] gmischler opened #547 "Enable correct whitespace handling in write_html()"
Technically, this is also a bug report...

## Problem ##
It is one of the characteristics of the HTML format that you can add all kinds of whitespace (spaces, tabs, newlines, etc.) in any amount pretty much anywhere. When the data is rendered by a conforming web browser, all that whitespace gets collapsed into a single space character between the actually printing data to the left and right of it.

[2022-09-19 05:45] Tillrzhtgrfho opened #548 "Duplicate footer when ToC spans multiple pages"
In the footer of the first page, the actual number of pages and {nb} are overlapping.

If the Table of contents has multiple pages, the `footer()` function is called twice. Once when the ToC placeholder is inserted and another time when the actual ToC is created and a new page begins in `render_toc()`.

**Minimal code**

This code creates an pdf with a footer and a Table of contents that spans mul

[2022-09-19 15:00] marcstober opened #549 "Hebrew combining diacritics aren't positioned correctly"
Thank you for keeping this open source project going!

I can't get Hebrew combining diacritics ("vowels") to appear correctly, even after looking into the some solutions proposed for similar issues.

For example, here is a Hebrew letter BET with a DAGESH (dot in the middle): **בּ**

And here is a screen shot from Word:

![image](https://user-images.githubusercontent.com/799448/191036806-20f930d5-9

[2022-09-19 17:36] #534 closed

[2022-09-19 18:43] gmischler commented on #549
Yes, I suspect that the hebrew fonts handle this by means of the ligature mechanism, and this detailled presentation of the situation there makes me think so even more. So if we're all lucky, we'll eventually get it solved that way.

The bidi question is also interesting as it relates to the diacritics. Right now, we're simply expecting the user to supply the text pre-bidified. Once the ligature h

[2022-09-20 01:06] marcstober commented on #549
While #540 does seem related, I think this belongs as a separate issue. Both of them seem to be about using more advanced font features, but #540 is about better supporting ligatures and this issue is about better supporting combining diacritics. So, I don't think resolving one of these things will necessarily resolve the other, although it's possible they'll require similar changes to the code.

[2022-09-20 04:24] semaeostomea commented on #549
I hope it's alright for me to chime in, since I wrote the temporary RTL script fix

You're right. This fix is supposed to be used as a whole (both libs) when using any kind of RTL script. The reshaper doesn't do anything to non-arabic scripts

this is an issue with displaced diacritics in general (this does not only affect hebrew, it also affects Diné Bizaad and Czech for example), which, as far a

[2022-09-20 06:54] gmischler commented on #549
When I talk about "ligatures" as a technical term, what I usually mean would be more accurately termed "glyph substitution". What in typography is considered a ligature is only one of the possible applications of that concept. There's no (technical) reason this couldn't be applied to diacritics as well, especially if they result in a typographical change of the base character.

But looking more cl

[2022-09-20 08:58] Lucas-C commented on #531
Unless an update is made on this issue in the following week, I'm planning to close it

[2022-09-20 09:15] Lucas-C commented on #548
Thank you for reporting this @Tillrzhtgrfho!

@allcontributors please open @Tillrzhtgrfho for bug

I opened #552 to solve this

[2022-09-20 09:16] Lucas-C commented on #548
@all-contributors please add @Tillrzhtgrfho for bug

[2022-09-20 09:32] gmischler commented on #549
Ok, found https://www.unicode.org/reports/tr15/#Primary_Exclusion_List_Table, which explains that certain characters are excluded from recombining for "stability" reasons. Apparently it is more important that the standard never changes than getting the correct output.

That makes it official that every software package needs to recombine those diacritics on its own. Now we just need a list of whic

[2022-09-20 09:40] #548 closed

[2022-09-20 09:50] #524 closed

[2022-09-20 19:31] #525 closed

[2022-09-21 02:34] marcstober commented on #549
Hi @gmischler , thanks for looking into this. What I gave is not a great example because it's too trivial. It happens to have to have a composed form which is part of that exclusion list. Hebrew letters can have multiple diacritics and there are only composed forms for a small portion of the many possible combinations. I don't believe that well-designed Hebrew fonts use glyph substitution, but rat

[2022-09-21 07:29] gmischler commented on #549
It is still a helpful example for solving one part of the puzzle. In fact, those combined glyphs that do exist will serve as a good testing ground once we are getting a general substitution mechanism in place. That will serve as an intermediate step before we actually look at the "gsub" table. I hope @Redshy (who did the fontTools transition) will find enough time to participate in this soon.

I'd

[2022-09-21 19:41] Lucas-C opened #554 "Doc: provide an example on how to combine usages of PyPDF2 & fpdf2"
We already have a page about [editing existing PDFs using `pdfrw` & `fpdf2`](https://pyfpdf.github.io/fpdf2/ExistingPDFs.html) in our documentation, and another one about [combining `borb` & `fpdf2`](https://pyfpdf.github.io/fpdf2/borb.html).

Given that [PyPDF2](https://github.com/py-pdf/PyPDF2) is a lot more popular that `pdfrw`, we could provide another documentation page about combining `PyPDF

[2022-09-24 09:52] darioackermann opened #555 "Parsing Error in ShapeBuilder.rect / convert_stroke_width"
Describe the bug

**Error details**
`  File "C:\Users\***\AppData\Local\Programs\Python\Python310\lib\site-packages\fpdf\svg.py", line 354, in rect
    width = float(tag.attrib.get("width", 0))
ValueError: could not convert string to float: '100%'`

In a nutshell, it tries to convert an svg attribute `width="100%"` into float which fails.
**Minimal code**
QRBill Library from here: https://github.c

[2022-09-24 12:03] Lucas-C commented on #555
Thank you for reporting this @darioackermann!
You provided a SVG file for the bug report so that's perfect.
I won't have time to get a look at this before next week, but you can submit a PR to fix this if you want.

[2022-09-24 12:03] Lucas-C commented on #555
@all-contributors please add @darioackermann for bug

[2022-09-24 21:53] ahadmushir commented on #554
Hello,
I would like to work on this.

[2022-09-25 08:13] darioackermann commented on #555
I'm happy to help out. Will try to see if I can provide any substantial PR

[2022-09-25 08:49] darioackermann commented on #555
I see that the second part of the problem has been fixed here: https://github.com/PyFPDF/fpdf2/commit/17830745671a63ce02d11ac46bd8cab75ddfe623 (#526 #542)

[2022-09-25 09:25] darioackermann commented on #555
Wait: This library currently does not draw any `text` elements?

[2022-09-25 09:33] darioackermann commented on #555
Should have read the docs. It's quite clear there. That's a deal-breaker for us, sadly :(

What I have found so far is that when parsing in `rect`, `resolve_length` should be used. For percentage values, it should be able to figure out the parent's width / height (traveling up the XML tree as much as needed)

[2022-09-25 10:02] Lucas-C commented on #555
You are right. This fixed hasn't been released yet: https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#fixed
Have you tested if you still get the bug when using the latest code version from this repo?

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

Not currently, but we are planning to implement them: #537
PRs are welcome 😊

What kind of "relative values" are you refering to

[2022-09-25 10:07] darioackermann commented on #555
The second issue is resolved by the fix provided, thx 😊

That's awesome! Unfortunately I don't really know anything about SVG and how I'd convert text to a path.

The SVG file above uses % for the first rect definition, to fill its parent. This could be solved with moderate effort, but I'm not sure about all the other relative sizes.

[2022-09-25 10:15] Lucas-C commented on #554
Welcome @ahadmushir!
That's nice, feel free to submit a PR 😊
Is it your first FLOSS project contribution?
If so, you can find some guidelines there:
https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution

[2022-09-25 11:33] ahadmushir commented on #554
If I understand the problem correctly, do we just need to rename the documentation filename?
Or am I mistaken? @Lucas-C

[2022-09-25 11:39] Lucas-C commented on #554
No, the idea is to <ins>**add**</ins> some new documentation page about combining `PyPDF2` & `fpdf2`, which will require some testing first 😊
The _issue_ description is not clear enough? If so, do you have questions to clarify things?

[2022-09-25 12:12] ahadmushir commented on #554
Ok, now I understand. Thanks for the clarification 😊

[2022-09-28 07:25] Lucas-C opened #559 "Failing CI / GitHub Actions: need to adapt code to latest endesive release"
Since the latest release of [endesive](https://pypi.org/project/endesive/#history), the CI pipeline is failing on those 2 unit tests:
[code]

[2022-09-28 09:30] Lucas-C commented on #559
This was fixed by https://github.com/PyFPDF/fpdf2/commit/7cc67088a5139142da4cf448d965214e5f7750a5

[2022-09-28 09:30] #559 closed

[2022-09-28 16:28] antusystem opened #560 "'FPDF' object has no attribute 'write_html'"
Hi, I running the example [here](https://pyfpdf.github.io/fpdf2/HTML.html) to write html to PDF, but I get this error:

`AttributeError: 'FPDF' object has no attribute 'write_html'
`

The code I'm using is literally the one in the page of the example:

[code]
I'm on _Linux Mint 21_ with a _Conda_ environment with _Python v3.10.5_ installing the dependencies with _Python Poetry v1.2.1_ with _fpdf2

[2022-09-28 16:39] ghost opened #561 "Support Appearance Streams e.g. to hide icons of file attachement annotations"
Hi, I would like to have the icon removed when using code like this:

[code]

When opening this, we get an ugly paper pin in the document (which is expected) and without some hacks we can't remove this.
In the LaTeX [`attachfile`](http://mirrors.ctan.org/macros/latex/contrib/attachfile/attachfile.pdf) package it's possible to remove this by adding an own icon, where we can just pass an empty recta

[2022-09-28 16:57] antusystem commented on #560
Thanks, that worked, though, I had to execute ` poetry remove fpdf2` because I don't remember how to install that way packages with Poetry, but it worked installing with the pip line you send. Thanks

[2022-09-28 17:11] Lucas-C commented on #560
Sorry about this @antusystem, this is a recurring issue with our documentation at https://pyfpdf.github.io/fpdf2/ being about the code on the `master` code of this repo, not about the latest `fpdf2` release.

`HTMLMixin` has just been deprecated, _cf._ https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#deprecated & #543

You can find some documentation on how to use `write_html()` with the l

[2022-09-28 17:41] Lucas-C commented on #561
Welcome @TS40 and thank you for submitting this issue, with a reference PDF file demonstrating what you aim for.

I had a quick look and the `no_ugly_icon.pdf` file you provided use _Appearance streams_ to hide the paper clip annotation:
[code]

`fdpf2` currently does not support appearance streams, but as the maintainer I would welcome PRs that would provide support for them.

[2022-09-28 17:53] Lucas-C commented on #501
Indeed, the PDF spec only allows for JPEG files to be embedded, so PNG files need to be re-encoded.

Your assumptions are correct.

Sadly, for you use case, I don't see in any way how `fpdf2` could allow you to generate a single PDF document with 125+ PNG images without using that much RAM...
In theory, the Python code could lazily process every image file: at the very last moment when writing PDF

[2022-09-28 18:38] Lucas-C commented on #501
Yes exactly. Those images would still be loaded into memory as JPEG when calling `.image()` though.

I guess you could try subclassing `FPDF` and overriding its internal `._out()` & `_newobj` methods... and all other references to `self.buffer` in `fpdf2`. Which could be more difficult that you hoped.

[2022-09-28 20:12] Lucas-C commented on #555
Closed by #558

[2022-09-28 20:12] #555 closed

[2022-09-28 20:13] #531 closed

[2022-09-28 21:14] Lucas-C commented on #501
Interesting. looking at their reference PDF files in [src/tests/output/](https://gitlab.mister-muffin.de/josch/img2pdf/src/branch/main/src/tests/output), what they call "embedding PNG" is simply embedding images without any compression.

I was wrong / unclear when I wrote earlier that _"the PDF spec only allows for JPEG files to be embedded"_.
JPEG is **the only [lossy image compression](https://e

[2022-09-29 09:40] Lucas-C commented on #501
FYI,regarding the initial memory leak issue,
I have just added checks in our unit tests suite to control memory usage of `fpdf2`:
https://github.com/PyFPDF/fpdf2/commit/7fce7231547060555fadb7bbeb05ef97d6dc8f4b

[2022-09-29 11:55] Lucas-C commented on #62
I had a look a this feature, and implementing it will require several refactorings...

Here is a naive starting point, a new method that should be called just after `_putheader()` in `_enddoc()`, because **<ins>this PDF object must be inserted first in the document</ins>**:
[code]

As indicated by the code comments, several informations must be known at thi stage:
* the full file length
* the offs

[2022-09-30 05:52] Dani-Google commented on #267
Hi
I can provide Urdu Translation :)

[2022-09-30 06:28] gmischler commented on #540
In #549, @marcstober pointed out that some combined characters are not technically ligatures (looked up in "gsub"), but rather diacritics. Those don't need to be substituted, but they follow special placement rules found in "gpos". This is particularly important (and tricky) when several of them need to be combined with a single base character, which may require them to be stacked on top of each o

[2022-09-30 11:50] gmischler opened #570 "FlexTemplate leaks settings changes"
**Error details**
When inserting a `FlexTemplate()` instance into a document, with any elements that necessitate changes to the current settings, then those changes will stay in place afterwards. An obvious example is a text element in a template, which will cause any text coming after it to adopt its style.

**Minimal code**

[code]

![grafik](https://user-images.githubusercontent.com/17468844/19

[2022-10-01 00:18] antusystem commented on #560
Yes, this issue is closed. Thankss

[2022-10-01 06:27] ehildebrandtrojo commented on #547
Hey! I'm down to give it a shot; can you assign me the task.

FYI I'm new to contributing to open source, so don't be surprised if I end up asking some basic questions along the way.

[2022-10-01 06:37] #560 closed

[2022-10-01 09:58] JDeepD commented on #496
Would like to work on it, if no one else is working.

[2022-10-03 08:01] Lucas-C commented on #496
You are very welcome, go on!

[2022-10-03 08:06] Lucas-C commented on #267
Hi and welcome @Dani-Google!

That would be awesome 😊

You are very welcome to submit a Pull Request of a new `docs/Tutorial-urd.md` file!

[2022-10-03 08:08] Lucas-C commented on #62
Just a quick note: I'm currently attempting to implement this, but it may take some weeks before completion, and will require some important code refactoring

[2022-10-03 08:46] Dani-Google commented on #267
Ok, thanks :)

[2022-10-03 12:58] SmritiSatyan commented on #267
@Lucas-C Hi there, I can try a Kannada language translation, will check if its rendered properly. Is that okay?

[2022-10-03 13:00] Lucas-C commented on #267
That is more than OK, you are very welcome to do so @SmritiSatyan! 😊

[2022-10-04 14:18] Aashish-Upadhyay-101 commented on #496
hello, if its available can I work on it?

[2022-10-04 15:20] Lucas-C commented on #496
Ping @JDeepD: have you started working on this, or are you planning to do so soon?
If so, great! 😊 Any help needed?
Else, would you be OK to leave it for @Aashish-Upadhyay-101 to work on it?

[2022-10-04 15:27] JDeepD commented on #496
I am planning to work on this soon. Since I have not contributed to fpdf2 before, I am looking into some code and documentation. But @Aashish-Upadhyay-101 can work on it as I would probably need some more time to understand the codebase and begin working on it.

[2022-10-04 15:51] Aashish-Upadhyay-101 commented on #496
nice, before starting I have some few questions
@Lucas-C do I have to create bezier() method from scratch ?

[2022-10-04 17:38] Lucas-C commented on #496
@JDeepD : thank you for you answer. If @Aashish-Upadhyay-101 creates a PR first, you input will be welcome as a reviewer on it!

@Aashish-Upadhyay-101 yes, no method exist at this moment.

[2022-10-04 18:09] lcscosta opened #573 "Support to PDF/X"
**Please explain your intent**
Support creation of PDF/X with fpdf2. PDF/X is a useful format for industrial/professional printing.

**Describe the solution you'd like**
A new format for saving PDFs in pdf.output function.

**Additional context**
I suppose that is a complicated implementation. Unfortunately, I don't know any other library in Python that deals with PDF/X.
One possibility is the cre

[2022-10-04 18:39] Lucas-C commented on #573
Hi @lcscosta

Thank you for your suggestion

The Wikipedia page about PDF/X: https://en.wikipedia.org/wiki/PDF/X

Given that the ISO specifications are not publicly available, this may reveal to be difficult to implement

I agree however that this would be a nice feature for `fpdf2`

[2022-10-05 02:23] Aashish-Upadhyay-101 commented on #496
@Lucas-C, I have to make function that renders bezier curve. To actually render on the pdf which function or library this project is using? I think drawing.py has some functions inside it, right?

[2022-10-05 06:01] gmischler commented on #496
As mentioned in the issue description, the drawing.py module has several classes that implement the geometric calculations:

* [BezierCurve()](https://github.com/PyFPDF/fpdf2/blob/4bcd4559ac9dea1f1e2d12a96f934fa5643983ee/fpdf/drawing.py#L2015)
* [RelativeBezierCurve()](https://github.com/PyFPDF/fpdf2/blob/4bcd4559ac9dea1f1e2d12a96f934fa5643983ee/fpdf/drawing.py#L2087)
* [QuadraticBezierCurve()](ht

[2022-10-05 07:30] Aashish-Upadhyay-101 commented on #496
I'm new to open source and really struggling to do this....! can you help?

[2022-10-05 11:12] TzviGreenfeld commented on #267
Hi, I can start working on hebrew translatrion

[2022-10-05 11:15] Lucas-C commented on #267
That would be great, thank you @TzviGreenfeld 😊

[2022-10-07 08:05] Lucas-C commented on #496
Hi @Aashish-Upadhyay-101, and welcome.
I am going to b a bit busy for a few days, but I should have some time on Monday to give you some pointers.
Those pages are good starting points if you are new:
* https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution
* [* ](https://pyfpdf.github.io/fpdf2/Development.html#installing-fpdf2-from-a-local-git-repository)

Could you try to explai

[2022-10-07 14:41] JDeepD commented on #496
Did you install the requirements first?

Install dependencies using `pip install -r test/requirements.txt`

The `docs/Development.md` is a pretty good starting point.

The codebase should generally remain uniform. See how other functions are implemented and try to implement the `bezier()` function in a similar manner.

[2022-10-07 15:59] Aashish-Upadhyay-101 commented on #496
<img width="1440" alt="Screen Shot 2022-10-07 at 9 43 43 PM" src="https://user-images.githubusercontent.com/81024263/194597169-c69204fc-deca-4b1d-b8e5-23eaf8ece8ba.png">

@JDeepD I got this error message when I tried to install the requirements.txt

[2022-10-07 16:19] JDeepD commented on #496
First thing that you should do when you get errors is to google it and try out some top solutions.

For ex, the error here is `error: command swig failed...`

After a bit of googling, [this](https://www.dev2qa.com/how-to-install-swig-on-macos-linux-and-windows/#:~:text=Before%20you%20can%20use%20Swig,not%20installed%20in%20your%20os.) is what I found.

[2022-10-07 17:25] Aashish-Upadhyay-101 commented on #496
@JDeepD now everything is setup, now I will try to implement bezier

[2022-10-07 17:58] Aashish-Upadhyay-101 commented on #496
@JDeepD can you help me with bezier() function.
I created a empty function inside fpdf's class FPDF like this

[code]
but don't know afterwards how to implement it, can you guide me

[2022-10-08 04:00] JDeepD commented on #496
You need to read some internal code for it. See the links mentioned in the top comment by Lucas.

[2022-10-08 10:33] Aashish-Upadhyay-101 commented on #496
@JDeepD I think if you have already understanded the code base, you can work on this issue.
I'm just a beginner and like literally no idea whats going on the project

[2022-10-09 18:37] JDeepD commented on #496
@Aashish-Upadhyay-101 If you have left working on this issue, then please let us know.

[2022-10-09 18:52] Aashish-Upadhyay-101 commented on #496
@JDeepD I left working on this issue, I think I need some more time to understand whats going on.

[2022-10-11 20:28] Zenigata commented on #267
Hey there! I want to finish the French translation.

[2022-10-13 16:50] TeoColuccio opened #580 "Is it possible to represent text inside a "box" in a specific position?"
The most suitable function seems to be .multi_cell(), but with this I can't set the coordinates on the y axis.
In fact I'm trying to set the "h" parameter, but this goes to set the height of the single cell (hence also the distance between them), and not where the text is to be printed.

[2022-10-13 19:18] Lucas-C commented on #580
Hi @TeoColuccio!
Could you provide some <ins>minimal</ins> code describing what you are trying to achieve?
Maybe your problem is similar to issue #210?

[2022-10-13 20:02] TeoColuccio commented on #580
Basically, what I would like to be able to do is insert a text box in a sheet position that I specify. As in this example created manually:
![es](https://user-images.githubusercontent.com/16000669/195698017-2a770862-0764-4b22-8e32-30d7be807929.png)

[2022-10-14 00:27] TeoColuccio commented on #580
Ok,

`
txt = """
Laborum ut aute occaecat laboris cupidatat sit. Cupidatat irure excepteur id labore sunt velit. Laborum in sit pariatur aliqua enim dolore sint nostrud eiusmod ex sunt elit. Enim ipsum sint reprehenderit laboris incididunt consequat amet ullamco laborum cillum nulla elit esse.

Sint occaecat aliqua do irure cupidatat et excepteur. Sint nisi do in ipsum irure. Elit sit quis enim co

[2022-10-14 05:18] JianDk opened #581 "Unable to detect when a page break should occur in unbreakable tables"
**Describe the bug**

In the documentation https://pyfpdf.github.io/fpdf2/PageBreaks.html , the page break does not work. In the current documentation found on the mentioned link the page break is demonstrated using the below code taken from the documentation. In the last line it should be `pdf.output("unbreakable_table.pdf")` instead of `pdf.("unbreakable_tables.pdf")`. Even with the correct code

[2022-10-14 06:50] gmischler commented on #580
No, it's working perfectly just as designed and documented.
While you were looking the other way, this happened (the very first sentence):

[set_y(y)](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.set_y)

    Moves the current abscissa back to the left margin and sets the ordinate.
    If the value provided is negative, it is relative to the bottom of the page.
    Args

    y : flo

[2022-10-14 10:57] TeoColuccio commented on #580
Ok I understand. But in fact set_xy () works perfectly and so I can also close the issue.

[2022-10-14 10:57] #580 closed

[2022-10-14 11:20] Lucas-C commented on #581
Hi and welcome @JianDk!
Thank you for reporting this.

I have fixed the documentation, it should be updated online in a few minutes: https://pyfpdf.github.io/fpdf2/PageBreaks.html#unbreakable-sections

The `print()` line of the `for` loop is now fixed:
[code]

[2022-10-14 11:20] #581 closed

[2022-10-14 11:21] Lucas-C commented on #580
Great!
Thank you for your help @gmischler 😊

[2022-10-14 12:28] Lucas-C commented on #554
I'm reopening this.

A page has a been initialized by @devdev29: https://pyfpdf.github.io/fpdf2/CombineWithPyPDF2.html
That's great!

As mentioned in the initial issue description, it would also be interesting to have some documentation on how to **create a PDF document with `fpdf2` and edit it with `PyPDF2`**
PRs are welcome to add a section about this in `docs/CombineWithPyPDF2.md`

[2022-10-14 16:14] TeoColuccio opened #585 "Inaccurate writing of the individual letters"
I'm trying to bring my project written in js, entirely in python, and to do that I need to be able to write a single letter in a defined portion of the page.
For this I am using pdf.text(), but I also tried .cell() (after setting x and y with set_xy()).
The problem is that the location doesn't seem to be accurate.

The code is this:
[code]

I printed "testing" once with the single letters and once

[2022-10-14 22:16] Lucas-C commented on #585
I agree with @TS40 answer (thanks for helping!)

I'm well aware about `fpdf2` arbitrary float rounding, and that's something I'm planning to give users more control on,
at some point in the future. If people are willing to contribute some MRs about this, I'd be happy to discuss the matter more and to welcome them.

[2022-10-15 08:14] gmischler commented on #585
`.cell()` and `.multi_cell()` are designed to arrange text within a box, possibly with a printed border. To avoid overlap with that border, they add a small distance to the right and left of it, which result in a gap between the characters if you just continue after `new_x=XPos.RIGHT`.
Theoretically, you could use `.text()` to place each character individually, but to get that right you'd have to

[2022-10-15 11:19] Lucas-C commented on #585
Also, if you want to reuse the same coordinates you had in your `pdf-lib.js`-based project,
a solution could be to specify a custom `unit` parameter to [`FPDF`](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF) constructor, in order to stretch all the coordinates at once.

With all those answers, does that solve your problem @TeoColuccio ?

[2022-10-15 13:57] TeoColuccio commented on #585
The best solution at the moment is to adjust the x coordinates as in your code:
[code]
But in fact, a definitive solution would be to round off the x and y variables better, perhaps with more decimal places.
If I'm able, I'll do a PR.

[2022-10-15 18:52] gmischler commented on #585
There are __*NO*__ rounding issues at play here.
If rounding was an issue at all, then it would generally not be possible to position text (or anything) correctly with fpdf2.

The coordinates in a PDF file are defined in points (1/72 inch ~= 0.35 mm).
At two decimals as in `f"{123.4567:.2f}"`, we specify the text position to an accuracy of 0.0035 mm. A deviation that small is imperceptible to the

[2022-10-15 19:31] Shikharishere commented on #496
I would like to work on this issue?

[2022-10-15 19:47] JianDk commented on #581
Thanks for the prompt resolve of this issue.

[2022-10-15 20:34] JianDk opened #589 "How to detect if adding a table column will result in page break?"
I am having experiencing troubles in detecting when adding a table column multicell will result in page break. Consider the attached pdf, where I have generated a table with 3 columns. The first column contains a short description, the second column contains a longer description and inside the third column should be a QR code. In this example, I am not able to detect that adding the 4th row will r

[2022-10-16 17:35] Lucas-C commented on #585
While I fully agree with your comment & analysis @gmischler,
I still supect that some `fpdf2` rounding issues combined with some PDF viewers own rendering logic
may be the reason why [Undying Dusk](https://lucas-c.itch.io/undying-dusk) sometimes presents minor visual glitchs
when several images are rendered very close to each other and pixel-perfect precision is required.

This may be the result o

[2022-10-16 17:38] Lucas-C commented on #496
Great!

Feel free to drop a comment if you start working on this.
I also suggest to quickly submit a pull request, [as a draft](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests), so that you can share your ongoing work.

[2022-10-16 18:08] Lucas-C commented on #589
Hi @JianDk

No need to create both a discussion **and** an issue.
I closed the former one.

Thank you for providing some code to explain your problem.
However, as described in [our bug report template](https://github.com/PyFPDF/fpdf2/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), we recommend to provide some **<ins>minimal</ins>** Python code reproducing the issue.
Yours is not really minimal:

[2022-10-16 18:51] gmischler commented on #585
Easy enough to find out, if you create the same page with more decimals in the coordinates, and check what those viewers make of it then.
If that should fix the glitches (which I doubt, see below), then offering an option to set the rounding precision might make sense, otherwise it seems like a waste of effort.

[code]
Yes, digital arithmethics have to deal with such errors (we use `math.isclose()

[2022-10-16 19:28] JianDk commented on #589
Hello Lucas,

Thanks for your reply and sorry for the bad example attached. I have now changed the code into a minimal example to show the problem.

After reviewing the code you might ask why I am not using pdf.multi_cell  with auto page break as the default? The reason is that as soon as there is a page break, the QR code on the third column no longer stays at the top of the cell. Is there a way

[2022-10-16 22:14] TeoColuccio commented on #585
You were absolutely right, unfortunately I hadn't paid attention to the size of the document which was expressed in pt and not in mm as the default for fpdf. By simply setting pt in the fpdf constructor I solved it.

[2022-10-16 22:14] #585 closed

[2022-10-17 06:47] Lucas-C commented on #585
Glad you solved your issue @TeoColuccio !

[2022-10-17 06:58] Lucas-C commented on #547
Hi @ehildebrandtrojo!
Have you started codding on this?
If you face any difficulty, feel free to report them and ak for help!

Those pages are good starting points if you are new to open source:
* https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution
* https://pyfpdf.github.io/fpdf2/Development.html#installing-fpdf2-from-a-local-git-repository

[2022-10-17 07:02] Lucas-C commented on #496
Also, thank you for your help & answers here @JDeepD!
And thanks for your interest in `fpdf2`, your contributions will be very welcome 😊

@all-contributors please add @JDeepD for question

[2022-10-17 07:57] TeoColuccio commented on #585
Thank you very much!

[2022-10-17 14:44] ehildebrandtrojo commented on #547
Thank you for the resources Lucas!
Unfortunately I've been really busy with clases and I still haven't had the chance to start.
In the next few days I should be able to get started though. If I can't, I'll let you know, and you can let someone else take the ticket.
Sorry for any inconveniences caused.

[2022-10-17 16:24] Lucas-C commented on #547
Don't worry, that's perfectly fine 😊
This is volunteer work, no pressure!

[2022-10-17 18:02] #554 closed

[2022-10-17 18:12] JianDk commented on #589
Hello Lucas,

Thanks for looking into this, unfortunately it does not solve my issue. I have tried to modify your example into my code. First let me share my code with you as below, and in order to allow you to reproduce my code, I will attach the fonts and image that in this message. The problem is when I generate the second column I get a lot of spacing. I have attached an example of what my cod

[2022-10-17 21:35] Lucas-C commented on #589
I have been able to to run your script.

What kind of spacing? Vertical?
By passing `border=True` to `multi_cell()` you'll see that the cell generated is very high.
That is because each line is rendered with the `height` you specified, in this case `50`.
The `max_line_height` parameter will be useful to you: https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.multi_cell
Try this:
[code]

[2022-10-18 15:54] JianDk commented on #589
Thanks so much for pointing it out. I spent several hour yesterday looking at the code, and didn't realize that there was this issue with height. It should have been `height = 5` in stead of `height = 50`. Below is the final working solution. Once again thanks so much for help looking into this issue.

[code]

[2022-10-18 15:54] #589 closed

[2022-10-19 13:37] Lucas-C commented on #62
I merged a first PR ( #574 ) that initiates a `fpdf/linearization.py` module, with a `LinearizedOutputProducer` subclass that starts to implement the spec. I haven't implemented the hint tables & hint streams yet.

Also, there is an example of linearized PDF file: [AlertBoxExamples.pdf @ acrobatusers.com](https://acrobatusers.com/assets/collections/tutorials/legacy/tech_corners/javascript_corner/t

[2022-10-19 14:44] Lucas-C commented on #62
I also added a first unit test: [test/test_linearization.py](https://github.com/PyFPDF/fpdf2/blob/master/test/test_linearization.py)

Making this test pass will mean that is issue can be closed.

[2022-10-22 12:23] ethmtrgt commented on #267
Hey! I would love to work on Turkish translation.

[2022-10-22 17:35] jeettrivedi commented on #496
I've begun work on this issue. I've opened draft PR (#596) so that I can share my progress.

From what I understand, here is my approach:
Add a public method to class `fpdf` called `bezier`. This method will take a list of two or more points. The method will simply iterate over this set of points and render bezier curves using the methods created in PR #196.

I notice that in the description of th

[2022-10-23 08:27] Lucas-C commented on #267
Nice! Go on, you are very welcome do do so 😊

[2022-10-23 08:37] Lucas-C commented on #496
As can be seen in the CodePen snippet on the following page, yes bezier curves with filling make sense:
https://www.sitepoint.com/html5-svg-cubic-curves/

[2022-10-24 02:49] ehildebrandtrojo commented on #547
Hey @Lucas-C!
Unfortunately, I don't think I have the time to work on this issue.
I'm graduating this semester and so, classes, along with job search, are taking up a lot of my time.
Still, I wanted to thank you for creating such a welcoming environment for first time contributors.
I hope that once I'm done with the semester, I can start contributing to more open source projects like this one!

[2022-10-26 17:24] S0PEX opened #597 "Image is drawn on different position related to width, although x and y cords are supplied"
Hey,

currently building a script that gets data from our database and creates a PDF table.
In this table, I need to insert .png files and resize them to fit a cell.
On paper, this cell is 4.85 cm x 2.54 cm, so I would like to resize the image to the same size and insert into cell `x`.
Based on this, the insert logic should look something like this:
[code]

When I now change `code` I would imagine

[2022-10-26 18:47] Lucas-C commented on #597
I adapted your code a little bit to demonstrate that everything works fine with `fpdf2`:
[code]

With `DUMMY TEXT ALT`, the 12 barcodes generated on the second page are different than the ones on the first page.

By the way, would you be open to submit a PR with an example on how to combine `code128` & `fpdf2`?
* https://pyfpdf.github.io/fpdf2/Barcodes.html
* [docs/Barcodes.md](docs/Barcodes.md)

[2022-10-26 19:16] S0PEX commented on #597
Hey, thanks for the response. Are the x and y positions in mm, or which unit is used?
`margin_top, margin_left, margin_right = (21.5, 9.8, 0.9)` are mm values extracted from Word.
When I check the cells from Word and generated output, they are off by a couple of mm.
The `y` also has an increasing error for each new row. Not really sure where this is coming from.

I can account for that and adjust

[2022-10-26 19:36] Lucas-C commented on #597
The default unit is `mm`: https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF

This may be due to differing margins, or a different page format:
https://github.com/PyFPDF/fpdf2/blob/2.5.7/fpdf/fpdf.py#L105
I couldn't say for sure as I cannot compare with the Word document you mentioned 😊

Awesome ! 🥳

[2022-10-26 19:44] S0PEX commented on #597
Thanks for the info regarding the page format dimensions. I will check tomorrow once I am on Windows again.
Really appreciate your help.

Cheers

[2022-10-26 19:44] #597 closed

[2022-10-26 19:47] Lucas-C commented on #597
You're welcome!
Good luck with your scripts 🤞

[2022-10-29 21:45] jeettrivedi commented on #496
I see. I read through some of the implemented methods in the `drawing` module and realized that all I need to do is to generate the string representing the complete Bezier curve (as in the examples you linked) that can be passed to the path render function. Does that solution make sense?

[2022-10-30 03:08] rngallen opened #598 "How to add watermarks on pdf?"
Currently am creating my pdfs using fpdf2 but for some reason some of them should have watermark

How to implement watermarks when creating pdfs?

[2022-10-30 21:20] Lucas-C commented on #496
Yes, absolutely 😊
In `bezier()` you can use the existing [drawing_context](https://github.com/PyFPDF/fpdf2/blob/2.5.7/fpdf/fpdf.py#L1113) or [new_path](https://github.com/PyFPDF/fpdf2/blob/2.5.7/fpdf/fpdf.py#L1182) methods that can be use a [context managers](https://book.pythontips.com/en/latest/context_managers.html)

[2022-10-30 21:22] Lucas-C commented on #598
Hi @rngallen

Does this example answer your question?
https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2/blob/main/README.md#stamp-and-watermark-pdf-files

[2022-10-31 07:05] gmischler commented on #496
@jeettrivedi, you might want to check out the svg.py module and compare how it uses the bezier methods in drawing.py. You can probably keep it simpler than that because you don't need to deal with other path elements, but the parts handling curves (especially continuous curves) may still be useful to study.

[2022-11-03 17:31] VCDragoon commented on #560
@Lucas-C @antusystem Just came here to say I hit this same issue going through the tutorials, from a fresh install of `pip install fpdf2`.

The solution provided above worked, `pip uninstall fpdf2` and then `pip install git+https://github.com/PyFPDF/fpdf2.git@master` - but I had to hunt a little bit for it here.

Would recommend adding a note to the tutorial in that section, or even a link to this

[2022-11-04 02:36] andersonhc commented on #194
I'll give it a try

[2022-11-07 17:34] #598 closed

[2022-11-08 21:05] astrike30 opened #600 "Why am I getting warning FFTM NOT subset; don't know how to subset; dropped?"
Hi, I am trying to add the font `DejaVuSans.tff` from the free font pack. When I run the following code:

[code]

I get the warning `FFTM NOT subset; don't know how to subset; dropped`. The pdf seems to generate fine, am I doing something wrong? Otherwise is there a way to fix this or at least suppress the warning?

Thanks :)

[2022-11-08 22:31] Lucas-C commented on #600
I tested your code with [this DejaVuSans.ttf font file](https://github.com/PyFPDF/fpdf2/blob/master/test/fonts/DejaVuSans.ttf) and it works fine.
* where does your `DejaVuSans.ttf` file comes from?
* what version of `fpdf2` are you using?

[2022-11-09 07:27] gmischler commented on #600
This is a message from the [fonttools library](https://github.com/fonttools/fonttools/blob/25bcde5f318415be7d4d37728090dc54758d0704/Lib/fontTools/subset/__init__.py#L3001). It tells you that it doesn't know how to add the elements of the `FFTM` table found in the font file to the glyphs included in the PDF file. The `FFTM` table appears to be a "FontForge Time Stamp Table", which looks like propri

[2022-11-11 19:14] seanpmulholland commented on #547
Hi all, working on this now. Relatively new to OS contributions so let me know if anything looks incorrect!

I have the whitespace issue mostly sorted. Had a question on tests though - would it be preferred to replace the test.pdf files with updated outcomes or to force the code in the tests to display the old extra whitespace?
example:

`<h1>H1   {long_title*2}</h1>`  <- test case with 3 spaces

[2022-11-12 12:08] gmischler commented on #547
The current tests just verify the existing behaviour, which at the time was considered "good enough" but is technically incorrect.
Once the code is fixed to produce the correct result, the tests should of course also reflect that and verify the corrected output.
There is no point in "veryfying" the previously incorrect output even after it has been corrected. So yes, you'll have to adapt all the a

[2022-11-12 14:54] rgarus opened #601 "fpdf.ln() not working in version 2.5.7 if last fpdf.cell() was called with empty txt"
In the following example line feed should use as height the height value of the last printed cell, which is the height of the current font size. This works in fpdf2 version 2.5.6, but no longer in version 2.5.7. In version 2.5.7 the used height value is 0.

**Minimal code**
[code]

**Environment**
* OS Linux
* Python version 3.10
* fpdf2 version 2.5.7

[test_2.5.6.pdf](https://github.com/PyFPDF/fp

[2022-11-12 15:39] seanpmulholland commented on #547
Got it, thanks! PR opened

[2022-11-14 07:23] gmischler commented on #601
Thanks for reporting this!

Looks like it's my fault and happened in #519.
A tactical fix should be easy and quick, I will look at it more closely tonight.

On a strategic level though, I'm not sure about the wisdom of maintaining `self.lasth` for this purpose.
@Lucas-C, wouldn't it make more sense to simply use the current font height?
It doesn't look like `self.lasth` is documented anywhere outs

[2022-11-14 10:19] Lucas-C commented on #601
`lasth` is now private: https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L266
It is set by `_render_styled_text_line()` called from `text()`, `cell()`, `multi_cell()` & `write()`.
My understanding is that its value does not always come from `self.font_height`. It can be specified for example from the `h` parameter of `cell()`.

Hence, while I would be OK to get rid of `self._lasth`, I do n

[2022-11-15 12:34] Lucas-C commented on #601
@gmischler: consider the following code
[code]
As you can see `self._lasth` can change even if `.font_size` does not.

[2022-11-15 12:36] Lucas-C commented on #600
@astrike30: without any answer from you, I'm planning to close this _issue_.

Agreed, I'm going to add this to the list of excluded tables, with a comment explaining why

[2022-11-15 15:26] gmischler commented on #601
Ah I see.
To be honest, this feels like a rather weird behaviour to me, but it also appears to be rather old, so we'll have to live with it for now...

[2022-11-15 19:46] jeettrivedi commented on #496
Hey, I am actively working on it right now. I will have questions likely next week. Thank you for checking in!

[2022-11-15 19:54] Lucas-C commented on #496
Great!

[2022-11-16 14:44] andersonhc commented on #194
My changes are progressing well. If you want to take a look how it's going it's all on my fork.
I still need to go though all the functions and make sure everything works (specially linearization), add the tutorial and tests.

This is an example :

[code]

[2022-11-16 21:40] Lucas-C commented on #194
Wow, I checked your fork, you have already done ome solid work! Congrats!

Don't worry about linearization, it is not supported yet by `fpdf2` (_cf._ #62)

Regarding the method API you suggested, it seems nice.
I think you may be better off using [enum.flag](https://github.com/andersonhc/fpdf2/blob/master/fpdf/enums.py#L614) to implement them, and put it in `fpdf.enums`.
This way you could have a

[2022-11-18 09:30] MaKaNu opened #606 "Is it possible to create a shape relative to a cell?"
So the title already mentions what my intention is. In detail, I like to have a shape (specific a line) which is positioned relative to a `cell` or `multicell`, so if the cell is moving the shape also gets a new position. My workaround for the moment is to position the cells first and than the shapes afterwards by hardcoding the position.

[2022-11-18 10:39] gmischler commented on #606
What do you mean by "moving" a cell? As far as I'm aware, fpdf2 doesn't currently support animated content.

Can you be a bit more specific about what exactly you are trying to do?

[2022-11-18 12:59] MaKaNu commented on #606
You are right about animations. That is not what my intention was. with moving I want to say I change manually the values of the position of a cell and my line is logical connected to cell but not programmatically.

[2022-11-18 14:23] andersonhc commented on #606
You can use get_x() and get_y() to save the coordinates when you insert the cell, then you use the values to position your line.

Depending you what you need maybe this line can be drawn as cell border - that would be even easier.

[2022-11-18 14:27] MaKaNu commented on #606
That sounds like the thing I was looking for, and you are right about the cell border I just used until now the `border=1` didn't recognized what is possible with strings. Now I understand why `str` is a possible type.

[2022-11-18 18:26] #547 closed

[2022-11-18 18:28] #606 closed

[2022-11-18 18:29] MaKaNu commented on #606
Was exactly what I was looking for. maybe an addition in the tutorials would be nice.

[2022-11-18 18:31] Lucas-C commented on #606
@all-contributors please add @andersonhc for question

[2022-11-18 18:32] Lucas-C commented on #606
GLad you found what you were looking for @MaKaNu!
If you want to improve the docs regarding this, that's great! Feel free to submit a PR 😊

And thank you @andersonhc for helping here!

[2022-11-20 11:06] #601 closed

[2022-11-20 17:53] Lucas-C commented on #560
Sorry for the annoyance @VCDragoon.

I wanted to wait for a new major feature, like linearization or encryption, before publishing a new release.
I ended up making a new release today, so this specific issue should not bother anyone.

[2022-11-30 17:58] miguelmpn opened #611 "What is the propper way to go back to page 2 and write index"
Hello,
I'm generating one PDF document, at the end I'll have a Dict with titles and pages and I need to go back to page 2 and write the index.
The index needs to be generated at the end of the document generation because only then I will know the page numbers.

What is the proper way of doing this?

At the moment I count the titles and generate enough blank pages to withstand the index, then, in t