[2020-10-24 20:50] alexanderankin opened #8 "Support python3.9"
When installing with python3.9, the following error message occurs (private details omitted):

pillow also has a list of compatible versions to reference [here](https://pillow.readthedocs.io/en/stable/installation.html) so that's probably something to just update, the question is which one? I don't remember why the current version was chosen.

[code]

[2020-10-26 09:15] alexanderankin commented on #8
fixed, published new version

[2020-10-26 09:15] #8 closed

[2020-10-31 21:11] Aurnytoraink opened #9 "[Feature Request] Import an existing PDF"
This will be usefull to fill already existed PDF

[2020-11-12 14:08] alexanderankin opened #10 "merge versions and release new version"
@Lucas-C ive started working on this locally, and ive pushed my changes to here: https://github.com/alexanderankin/pyfpdf/pull/new/merging_lucas-c

there's still a couple merge conflicts (in the committed version) and I'm not sure that ive done everything right. I think my python unit tests have more line coverage than the old ones (ive added a unit testing framework vs reingart's version), so it

[2020-11-13 11:29] Lucas-C commented on #10
Awesome!
Great work 👍
I'll try to take a look at this on next Monday, to make sure all works fine & add missing tests if need be.
Do not hesitate to ping me back if you don't hear from me in next weeks ;)

Just a note: when I click on your link I end up on https://github.com/reingart/pyfpdf, but I guess you want the Pull Request to aim your repo ?

Thank you for working on making this lib better!

[2020-11-13 21:34] alexanderankin commented on #10
@Lucas-C yes, definitely meant to link to this instead https://github.com/alexanderankin/pyfpdf/compare/master...alexanderankin:merging_lucas-c?expand=1

[2020-11-17 07:24] Lucas-C commented on #10
I have found the code comments you left with the unfinished code merge, and I'm working on it.

It's really nice to have proper standards unit tests!

However I am quite sad that you introduced several dependencies to your fork: https://github.com/alexanderankin/pyfpdf/blob/master/setup.py#L35
Requiring to install a huge library like Numpy in order to use this lib is a bit of a deal-breaker for me

[2020-11-17 07:54] Lucas-C commented on #10
I added a commit on `merging_lucas-c` with my work so far.

[2020-11-19 10:02] Lucas-C commented on #10
Latest update: I've got rid of numpy and the current version works fine with my project using PyFPDF () under Python 3.

What remains to be done for this branch to be merged:
- some bugs remain with Python 2 ( @alexanderankin do you really want to keep compatibility with Python 2 ??)
- some hash-based unit tests are broken:
[code]

[2020-11-19 10:46] alexanderankin commented on #10
@Lucas-C No, I think at this point supporting python 2 is not strictly necessary, but that may motivate a major revision (which means i may have wasted `2`, but perhaps that means `2.1` is more fitting?) I will try to take a look at the unit tests.

I don't remember what `numpy` was being used for, but i think dependencies are good (coming from the npmjs world) and i thought that adding a font lib

[2020-11-19 16:33] Lucas-C commented on #10
Thanks for the detailed answer!

- let's go with dropping support Python 2 then ! :)
I've updated `setup.py` accordingly in the branch, and the unit tests executed by GitHub Actions will only ran under Python 3.6, 3.7, 3.8 & 3.9.

- I don't have anything against dependencies in general. I'm totally fine with the other 3 (`Pillow`, `six` & `future`).
It's just that Numpy can be a pain to install :

[2020-11-19 16:55] Lucas-C commented on #10
I fixed the remaing tests, all is green ! 🎉 🙌
-> https://github.com/alexanderankin/pyfpdf/actions/runs/372720846

[2020-11-20 23:19] alexanderankin commented on #10
ok there it is. https://pypi.org/project/fpdf2/2.1.0rc1/

right now `pip install fpdf2==2.1.0rc1` is available while `pip install fpdf2` gets 2.0.6. Will release 2.1.0 in the next couple of days hopefully.

[2020-11-20 23:27] alexanderankin opened #12 "Create a Changelog for recent versions"
It would be good summarize the releases, maybe even tag them in vcs and sum up the changes, and grab dates from the commits.

[2020-11-20 23:27] alexanderankin commented on #12
I may get to this within the week.

[2020-11-25 07:03] Lucas-C commented on #10
Great!

When the branch is merged in master I'll submit a PR to a `CHANGELOG.md` if that is ok for you.

[2020-12-07 08:10] Lucas-C commented on #10
Hi!
Could you please make a new release on Pypi?
I think this issue could be closed then :)

[2020-12-07 16:21] hasii2011 commented on #10
I'll wait for this also

[2020-12-07 20:54] alexanderankin commented on #10
@Lucas-C @hasii2011 done! https://pypi.org/project/fpdf2/#history

[2020-12-07 20:55] #10 closed

[2020-12-08 07:34] Lucas-C commented on #10
Thank you!

[2020-12-10 01:05] alexanderankin opened #15 "Unicode font usage still calls into the util string functions"
some code still reaches the util string functions with a buffer:

[code]

this is obviously bad and is why i had to yank the `2.1.0`.

[2020-12-12 09:26] Lucas-C commented on #12
Closing this now that https://github.com/alexanderankin/pyfpdf/pull/13 has been merged

[2020-12-12 09:26] #12 closed

[2020-12-12 09:28] Lucas-C commented on #15
Bad news :(
What are the consequences ? Do you have a test case where this cause a bug ?

[2020-12-12 09:39] Lucas-C commented on #9
This sure would be handy, but would require a massive code change, as this lib currently does not implement PDF parsing.

For this use case, you may try `pikepdf` or `pdfrw` and combine libs. For example, you could craft new pages with `pyfpdf2` and add them to existing PDFs using `pdfrw`.

[2020-12-12 11:40] alexanderankin commented on #15
I think its just any unicode font, that whole section of code is lacking code coverage

[2020-12-12 15:14] alexanderankin commented on #15
<details>
<summary>here's what im working with to run the code</summary>

[code]

</details>

[2020-12-12 16:19] alexanderankin commented on #15
by the way, im running this test with `python3 -m unittest test.fonts.issue_15.Issue15` and `python3 -m unittest test.image.image_types.insert_images.InsertImagesTest.test_insert_jpg` breaks for some reason, even though the image is loaded the hash changed (png, bmp, and gif are still the same). my work is on the `15_utils_handle_str_bytes` [branch][1]

[1]: https://github.com/alexanderankin/pyfpd

[2020-12-12 19:19] alexanderankin commented on #15
ok so the tests pass, im not exactly sure thats everything. other than that its ready for pr/merging.

I had to remove the import in `test/__init__.py` so that means that partially running the test suite doesn't work (or was that only on python 2? i started out today double checking everything for python 2 out of habit).

[2020-12-22 21:34] alexanderankin commented on #15
Ok, the person who reported the problem has tried out the new code, so i am going to publish the changes from the 15_utils... branch as the next patch version, which would be 2.1.1

[2020-12-22 21:39] Lucas-C commented on #15
Great! :)

[2020-12-24 09:56] Mubeen-hub opened #16 "Is this project Maintained ?"
I'm little bit confused between pyfpdf and fpdf2,
What you have enhanced in fpdf2 ?
I want to use it with python 3.7 or 3.8, is this stable with python3.7 ?
Looking for a properly maintained library of python (3.7+), i want to generate some custom PDF that will contain text from dict.
Looking forward for your response.

[2020-12-24 10:58] alexanderankin commented on #16
You can see here https://github.com/alexanderankin/pyfpdf/runs/1513416072 that
tests are passing on this library, the version 2.0.5 was released to enable
python 3.9 compatibility. This fork of the library is maintained.

There are some speed optimizations which I am releasing soon, which you can
preview https://pypi.org/project/fpdf2/2.1.0rc1/, there are some fixes
which will be released as `2.1.

[2020-12-24 11:36] Mubeen-hub commented on #16
Thanks for the clarification @alexanderankin :+1:

[2020-12-24 11:36] #16 closed

[2020-12-24 13:08] Mubeen-hub opened #17 "How to add Border on page ?"
I want to add border in each page (individual or all at once).
Image is attached for better understanding.
![image](https://user-images.githubusercontent.com/56192593/103090518-078df980-4613-11eb-96b9-db7a4dca3a22.png)

[2020-12-27 19:11] Mubeen-hub opened #18 "set_auto_page_break is not working"
The function set_auto_page_break(auto: bool, margin: int) is not actually preventing text to over write my footer.
 This is in loop that is calling multicell function.
Attached image below for more clarification.
![image](https://user-images.githubusercontent.com/56192593/103178008-02de7500-48a1-11eb-8659-037b5328b566.png)

[2020-12-30 14:22] Spenhouet opened #19 "Are vector graphics supported"
I'm currently looking into options to generate a PDF via python. We are currently using LaTeX but it is slow and this project does look good. Especially that it seems to be pythonic.

In the image methods the documentation states that only image format like JPG are supported.
Is there any way to insert PDF, .esp or .svg images (any vector format)? This would be crucial for us.

[2020-12-30 15:00] alexanderankin commented on #19
the image layer at some point used to be done with pillow. pillow would have converted it to jpg or png or something, but its worth giving that a shot.

[2020-12-30 15:04] Spenhouet commented on #19
Thanks for the fast reply. I'm currently not hands on but we will check it out when it becomes a priority (could be some months). Just wanted to ask if in case you are already aware.

[2020-12-30 15:32] alexanderankin commented on #19
The biggest drawbacks right now of this library is font handling (because the maintainers (of this fork) don't know how it works in pdf, and havent prioritized mastering this subject)

[2020-12-30 17:18] Spenhouet commented on #19
With "maintainers" you are referring to your self? :)
But thanks for the hint. That could also be a deal breaker. We will see 👍

[2020-12-30 17:19] alexanderankin commented on #19
@Spenhouet me and @Lucas-C are maintainers with commit access

[2020-12-30 17:56] Lucas-C commented on #19
About the vector images: images in a PDF can only be JPEGs (that is clearly expressed in the spec),
however yes, Pillow will do the job of rastering SVG images provided, so I'm confident this is supported!

[2020-12-30 18:01] Lucas-C commented on #18
Thank you for the report.
Could provided a minimal Python that reproduces the issue?

[2020-12-30 18:14] Spenhouet commented on #19
@Lucas-C But it should not be rasterized, right? I mean vector images should stay vector image. Not sure what you mean with the spec. Surely the PDF spec allows for vectorized graphics:

Maybe "Image" is not the thing I'm referring to. I just want to put vector graphics onto the PDF like plots or logos.

[2020-12-30 18:34] Spenhouet commented on #19
I tried to use the Computer Modern (CM) fonts (https://ctan.org/pkg/bakoma-fonts) with pyfpdf but failed.
Also tried to add the font via the .ttf file but I get a `UnpicklingError: invalid load key, '\x00'.` exception.

[2020-12-30 20:16] Lucas-C commented on #19
For the font issue, I suggest to open a separate issue.

Your quote from the PDF spec is interesting. Here is a section on Wikipedia about this:
https://en.wikipedia.org/wiki/PDF#Vector_graphics

As far as I know, PDF path objects are a very different syntax from SVG. If there was a Python tool that perform this kind of conversion, it could be very interesting to include it in `pyfpdf`. But right

[2020-12-31 11:02] Spenhouet commented on #19
Not sure how you come to this conclusion. As far as I know SVGs are constructed from path objects: https://www.w3.org/TR/SVG/paths.html

What type of Python tool are you looking for?

Other python PDF libraries seem to support vector graphics:

- [PyMuPDF](https://github.com/pymupdf/PyMuPDF): https://github.com/pymupdf/PyMuPDF/wiki/Vector-Image-Support
- [pikepdf](https://github.com/pikepdf/pikepd

[2020-12-31 11:04] Spenhouet opened #20 "Adding font leads to UnpicklingError"
I tried to use the Computer Modern (CM) fonts (https://ctan.org/pkg/bakoma-fonts) with pyfpdf but failed.
Also tried to add the font via the `.ttf` file but I get a `UnpicklingError: invalid load key, '\x00'` exception.

[code]

[2020-12-31 17:57] alexanderankin opened #21 "Fonts"
Creating an issue to track all the other issues with font handling. Fonts did not really work with the original code. This issue is supposed to track progress towards figuring it out and implementing changes.

[2020-12-31 17:58] alexanderankin commented on #21
#20 is a new one that I haven't seen yet. typically the problem with font handling is that like the cmap is out of range for some unicode characters or something like that.

[2021-01-03 08:06] Lucas-C commented on #19
To illustrate my point, there are 2 snippets from [VectorMagic example page](https://vectormagic.com/examples) for the _Cogs_ image:

- the uncompressed PDF stream object (I used `qpdf` to extract it):
[code]

- the equivalent SVG syntax;
[code]

It can be seen how, while usage of the same coordinates can be spotted, the syntax differs.

What we need here is some code to convert a vector image (EP

[2021-01-03 11:31] Lucas-C commented on #20
I'm waiting for the clean-up in this PR to be merged: https://github.com/alexanderankin/pyfpdf/pull/22

After that I'll give a look at this.
A good start would be to make our `CharmapTest.test_first_999_chars` test (in `test/end_to_end_legacy/charmap/charmap_test.py`) pass.

[2021-01-05 09:18] bwdalmijn commented on #20
Hello, i somewhat bypassed this by taking the php files and parsing them myself. I implemented the new code concerning the truetype font files, it "dies" over the version of the ttf file. If i remove it , it says there is no attribute "name" in the extracted information. If you want i could drop the code of the php parsing here somewhere. I also modified the add_font function to accomodate this.

[2021-01-05 09:28] Lucas-C commented on #20
I'm curious about reading your code, so yes! :)

I'm not sure about what are the PHP files you are refering to though.

[2021-01-05 09:40] bwdalmijn commented on #20
PHP font files, by converting the truetype font files via [this site](http://www.fpdf.org/makefont/)
For the parsing:
`import re
import regex

def parse_php(fontfile):
    font_dict = {}
    for item in php_chunks(fontfile):
        key, attr = item.split(" = ")
        attr = attr.replace("\t","").strip()
        attr = re.sub("^(.*);",r"\1",attr)
        # re.split("[,](?!'=>)",data["cw"])

[2021-01-05 09:41] bwdalmijn commented on #20
Sorry, posting the code went a bit wrong...

[2021-01-05 09:43] bwdalmijn commented on #20
[code]

[2021-01-05 09:43] bwdalmijn commented on #20
[code]

[2021-01-05 09:58] bwdalmijn commented on #20
It is not pretty, but it does allow me to use other fonts.

[2021-01-05 14:25] Lucas-C opened #25 "Suggestion: rename repo "fpdf2""
This would make clearer for all users that this repo is the source code behind the `fpdf2` lib: https://pypi.org/project/fpdf2/

What do you think?

[2021-01-05 18:32] Lucas-C commented on #21
I'm not sure there is a need for a "global" issue given there are already specific issues.
What do you think?

[2021-01-05 20:04] Lucas-C commented on #15
What's the status on this?
Will it be closed by https://github.com/alexanderankin/pyfpdf/pull/26 ?

[2021-01-05 20:05] Lucas-C commented on #20
Thank you @bwdalmijn Interesting, and I was able to find the source code behind this `/makefont/` web page.

I think I found a simpler fix for this issue though: https://github.com/alexanderankin/pyfpdf/pull/26

[2021-01-05 20:06] alexanderankin commented on #15
oh this should be closed I think, I just don't recall which commit fixed it...

[2021-01-05 20:12] alexanderankin commented on #21
I figured that in the long term font handling should be "overhauled" (actually, hauled out to the trash and replaced with some font library), so this would be a good place to discuss. Also, I'm used to JIRA's "epic" concept which lets issues be linked to one another. I would prefer we keep this open for now.

I somehow think that even after #26 theres gonna be some unicode stuff that crops up just

[2021-01-05 20:13] #20 closed

[2021-01-05 21:34] Lucas-C commented on #15
I don't think you merged your branch though: https://github.com/alexanderankin/pyfpdf/tree/15_utils_handle_str_bytes

[2021-01-05 21:36] Lucas-C commented on #21
If you're used to JIRA, you may want to check out GitHub Projects: https://github.com/alexanderankin/pyfpdf/projects

I fully agree about using a dedicated lib for font handling!

[2021-01-06 09:10] Lucas-C commented on #15
Maybe a new Pypi release could be nice once you'll have merged or closed this?
-> https://pypi.org/project/fpdf2/#history

[2021-01-06 13:29] bwdalmijn commented on #21
Hi,
Dont know if my question belongs here, but starting a seperate issue for it seems a bit much.
The self.charwidths attribute of the TTFontFile class is a list.
However the FPDF class wants it to be a dictionary.
Is my observation correct? Is it easy to fix? (I'm not that much at home in the ttfonts python file).

Kind regards,

[2021-01-06 13:38] alexanderankin commented on #21
Thanks, this is exactly the kind of discussion this issue was intended for.
I unfortunately have a busy start but have in the past very
fruitlessly tried to study those details myself.

On Wed, Jan 6, 2021 at 8:29 AM Brendan <notifications@github.com> wrote:

[2021-01-06 13:55] Lucas-C commented on #21
@bwdalmijn What makes you think that "the FPDF class wants it to be a dictionary" ?

[2021-01-06 14:14] Lucas-C opened #31 "Suggestion: migrate all the docs in docs/reference into docstrings"
It seems to me that the API docs generated with `pdoc` serve the same purpose as the Markdown files in [docs/reference](https://github.com/alexanderankin/pyfpdf/tree/master/docs/reference).

Hence the idea would be to remove `docs/reference` after migrating all those useful API docs directly in the code as docstrings.

Moreover, in my experience the closest the doc is to the code, the higher are t

[2021-01-06 14:42] alexanderankin commented on #31
yes i think this seems worthwhile but also quite a chore so the best thing here is to make an example PR and leave comments with how exactly it works and then i can help out with this too.

[2021-01-06 14:46] Lucas-C commented on #17
Try this:
[code]

Does this code snippet answers your question?

[2021-01-06 14:55] alexanderankin commented on #25
yeah, that makes sense. should i just like... do it?

[2021-01-06 15:00] Lucas-C commented on #25
Whenever you want yes, but this will have many impacts on links in the documentation

[2021-01-06 15:25] bwdalmijn commented on #21
@Lucas-C When i try adding a font and then using it (TrueType Fontfile that is):
The functions I use are slightly modified compared to yours, but the mechanics are the same.
[code]
when "compiling" i get the error message:
[code]

This refers to the "cw" element of a font in the dictionary FPDF.fonts.
The 'cw' element of a core-font, for instance, is a dictionary, where the characters are used as

[2021-01-07 10:24] alexanderankin opened #34 "Chore: release version 2.2.0"
This is up: https://pypi.org/project/fpdf2/2.2.0rc1/

I just want to understand how ready it is for 2.2.0.

If there are no other font bugs *introduced* as a result of all these new changes, then that is fine.

Also would like to get back to a release cycle that is regular, makes sense, and maybe even with CI on a protected branch to automatically do `"rc$((++version))"`...

[2021-01-07 11:17] Lucas-C commented on #34
I think an automated release process would be nice! Maybe based on git tags, so that we would hust have to perform a GitHub release?

For the v2.2.0, do you plan to do some more manual testing, or do you expect something else?

[2021-01-07 18:30] Lucas-C commented on #34
Just a note: I've found some remaining bug related to the usage of "core fonts".

I've started working on a PR to fix them. It relies on https://github.com/alexanderankin/pyfpdf/pull/33.
I haven't found the exact fix yet, but I have added tests.

[2021-01-07 19:08] Xtrem532 opened #35 "multi_cell() behaviour difference between pyfpdf and pyfpdf2"
`multi_cell()`s used to modify the Document `self.y` coordinate in pyfpdf (adding their own height to it). In pyfpdf2, `self.y` stays the same. Is this intended, or a bug?

[2021-01-07 19:17] Xtrem532 commented on #35
Just found PR #7, applied the single line changed, problem fixed. Would recommend to merge #7.

[2021-01-08 10:21] alexanderankin commented on #35
Created a PR #36 to make all green check marks happen for that fix

[2021-01-08 10:24] alexanderankin commented on #31
So an example of this would be in #33 and specifically on these lines:

https://github.com/alexanderankin/pyfpdf/blob/5278440725706b39e864364226166ca9d40cdf2a/fpdf/template.py#L161-L167

[2021-01-08 10:53] Lucas-C commented on #35
Can you confirm this is OK now for your usage @Xtrem532 ? :)

[2021-01-08 12:21] alexanderankin commented on #34
ok ive added protection to the master branch, its tempting to remove force pushing on all branches even though its so damn convenient, but thats unrelated - now at least there wont be any accidental version publishes to pypi (only with an up to date review)

[2021-01-08 12:48] Xtrem532 commented on #35
Yeah, Thanks!

[2021-01-08 12:59] alexanderankin commented on #34
added #38

[2021-01-08 15:01] Lucas-C commented on #35
Perfect, closing this then

[2021-01-08 15:01] #35 closed

[2021-01-08 15:06] Lucas-C commented on #34
New PR about the core fonts: https://github.com/alexanderankin/pyfpdf/pull/39

[2021-01-08 15:18] Lucas-C commented on #34
@alexanderankin: Do you want to include your fix for https://github.com/alexanderankin/pyfpdf/issues/15 in the new release?

[2021-01-08 15:22] Lucas-C commented on #34
I think the branch protection setting you set had an unexpected side effect :(

Now the PR are all pending on unexisting checks: https://github.com/alexanderankin/pyfpdf/pulls

_cf._ https://github.community/t/github-actions-pull-requests-always-include-some-outdated-checks/16157

[2021-01-08 15:36] alexanderankin commented on #34
ok i dont have time to figure that out right now but ive removed the secret and taken off the check

[2021-01-08 17:39] Lucas-C opened #40 "Suggestion: logo"
I thought it could be nice to find a logo for `fpdf2`.

I made this one with Gimp, tell me what yout think about it:
![pyfpdf-logo](https://user-images.githubusercontent.com/925560/104046711-ca179780-51e0-11eb-81b5-2fecbbb6d421.png)

[2021-01-08 17:46] Lucas-C commented on #40
Another take:

![pyfpdf-logo2](https://user-images.githubusercontent.com/925560/104047373-d5b78e00-51e1-11eb-8cce-1a8d81bd4cd4.png)

[2021-01-08 17:47] Lucas-C commented on #40
Sources, all free of rights:
- https://www.deviantart.com/pixelworlds/art/Gadsden-Snake-Vector-Resource-148737966
- https://pixabay.com/fr/illustrations/pdf-miniature-fichier-ic%C3%B4ne-2127829/
- https://commons.wikimedia.org/wiki/File:Icon-pdf.svg

[2021-01-08 18:52] Spenhouet commented on #19
Wouldn't it be enough to only support PDF as vector image format? That would be enough for me. Everyone wanting to add vector graphics then would need to use their own converter of choice or directly generate PDF images.

[2021-01-08 21:59] Lucas-C commented on #19
I'm not sure to understand: you mean allowing to embed a PDF in a PDF?

[2021-01-09 16:44] Spenhouet commented on #19
Exactly. I mean if it is already a PDF, then it should not be complicated to embed it, right? Embedding could also mean extracting the content of the PDF and just putting it on the other PDF.

[2021-01-10 11:30] limo49 opened #45 "Bordered cells in a table"
How can be created a table with borders to each cells?
Using write_html, I can set borders to the TABLE but not to each TD.

[2021-01-10 19:13] Lucas-C commented on #45
Could you provide a short code snippet of how you create your table please?

[2021-01-10 19:31] alexanderankin commented on #45
heres an minimum table

[code]

just putting it here in case its useful for figuring out what to do - you can put these all on one command line (and put `os.system('evince output.pdf');` afterwards) and try new changes out.

[2021-01-11 11:05] Lucas-C commented on #45
There is an example of HTML to enable `<table>` borders:

[code]

I added tests and fixed a few bugs with `<table>` usage with `write_html` as part of this PR: https://github.com/PyFPDF/pyfpdf/pull/46

[2021-01-11 11:38] Lucas-C commented on #25
@alexanderankin As you moved this repo to a dedicated org, do you mind if I perform the renaming of this repo into `fpdf2`, and I make the changes everywhere needed in the docs?

[2021-01-11 12:42] limo49 commented on #45
Thanks for the answers but your examples don't set borders around each single cell (in version 2.0.6)

Instead of:
![image](https://user-images.githubusercontent.com/29986135/104183626-8d32e700-5412-11eb-9118-b445c63e1be2.png)

I need:
![image](https://user-images.githubusercontent.com/29986135/104183742-b6ec0e00-5412-11eb-87b3-24194b747fd3.png)

[2021-01-11 13:24] Lucas-C commented on #45
Yes, that's why I introduced `table_line_separators` on https://github.com/PyFPDF/pyfpdf/pull/46

Feel free to add your comments on it: does it: do you think this parameter naming is fine? Given the test output in `test/html/test_html_table_line_separators.pdf `, will that achieve what you need?

I think we can include that PR as part of version 2.2.0 that should be released soo.

[2021-01-11 13:29] Lucas-C commented on #45
Note that for more advanced HTML to PDF conversion, you may want to check https://github.com/Kozea/WeasyPrint

[2021-01-11 13:32] alexanderankin commented on #25
yeah thats fine.

On Mon, Jan 11, 2021 at 8:30 AM Lucas Cimon <notifications@github.com>
wrote:

[2021-01-11 13:35] alexanderankin commented on #34
@Lucas-C you are also added on PyPI, feel free to release this new version when you get everything in order. I wont be able to keep up with this pace this upcoming week. thanks.

[2021-01-11 13:43] Lucas-C commented on #25
Done, ang global renaming performed in https://github.com/PyFPDF/fpdf2/commit/73e1b8542bb15e9aec96d82ba5bf531a847b81fc

[2021-01-11 13:43] #25 closed

[2021-01-11 14:14] Lucas-C commented on #34
Ok, thank you for the green light! 🚦
👍

[2021-01-11 14:29] Lucas-C commented on #21
Thank you for the detailed explanations.

There is a minimal code snippet showing how to load "courier.ttf" and use it to render some text:
[code]

I have just tested this with latest version of the code on this repository, and it works fine.

Maybe the exception you got came from your custom code?

To help you we will need a minimal code that reproduces your issue, with a specific published versi

[2021-01-11 15:01] Lucas-C commented on #34
@alexanderankin : I checked and I sadly do not have released rights on the Pypi project:
[code]

[2021-01-11 15:08] alexanderankin commented on #34
Sorry maybe I forgot I sent it now

On Mon, Jan 11, 2021, 10:02 Lucas Cimon <notifications@github.com> wrote:

[2021-01-11 15:12] Lucas-C commented on #34
It's good now, thanks!

[2021-01-11 16:10] limo49 commented on #45
It seems `table_line_separators` is OK.
Thanks

[2021-01-11 17:40] Lucas-C opened #48 "Suggestion: support for PDF-417 barcodes"
_cf._ [PDF-417](https://fr.wikipedia.org/wiki/PDF-417) on Wikipedia

Maybe using https://github.com/mosquito/pdf417?

The existing [code39](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L2289) method can be used as an model.

[2021-01-11 17:46] Lucas-C opened #49 "Suggestion: support QRCodes"
Maybe using https://github.com/lincolnloop/python-qrcode?

The existing [code39](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L2289) method can be used as an model.

[2021-01-11 17:57] Lucas-C commented on #40
I'm adopting the 2nd one for the next release. Feel free to comment or re-open this to provide feedback or other suggestions.

[2021-01-11 17:59] #40 closed

[2021-01-11 18:40] Lucas-C commented on #34
New released published:
- https://github.com/PyFPDF/fpdf2/releases/tag/2.2.0
- https://pypi.org/project/fpdf2/#history
- https://chezsoi.org/lucas/blog/fpdf2-release-2-2-0.html

[2021-01-11 18:40] #34 closed

[2021-01-11 18:41] Lucas-C commented on #45
Closing this then, as it has been released in v2.2.0: https://pypi.org/project/fpdf2/

[2021-01-11 18:41] #45 closed

[2021-01-11 18:41] Lucas-C commented on #17
Closing as an example as been been provided.

[2021-01-11 18:41] #17 closed

[2021-01-11 18:42] Lucas-C commented on #15
Closing this now that v2.2.0 has been released: https://pypi.org/project/fpdf2/

[2021-01-11 18:42] #15 closed

[2021-01-11 22:26] alexanderankin commented on #34
fingers crossed

On Mon, Jan 11, 2021 at 1:40 PM Lucas Cimon <notifications@github.com>
wrote:

[2021-01-12 05:51] Lucas-C opened #51 "Suggestion: allow to set documente metada"
Inspiration could be taken from `pikepdf`: https://github.com/pikepdf/pikepdf/blob/master/src/pikepdf/models/metadata.py#L323

Some bits are alredy set by `FPDF._putinfo`: https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L2060

This should also properly documented in a new `docs/Metadata.md` file

[2021-01-12 09:40] bwdalmijn commented on #21
Hi @Lucas-C,

Thank you for the reply.
If it works fine for you then correct assumption would be that my alterations caused the error, yes.
Thank you for trying it out.
I will dig a bit to see what's going on.
If you're interested I could drop the main fpdf.py somewhere. That is basically all that differs.

King regards,

[2021-01-12 10:19] Lucas-C commented on #21
`fpdf/fpdf.py` changed a lot in the last 2 weeks, with the addition of `black` as code formatter.
Your version may be very different now.

If yours adds some useful features, and you want to contribute to this repo by adding them in `fpdf2`, feel free to open a _Pull Request_ to submit your code!

[2021-01-13 07:59] devansh-07 opened #52 "Suggestion: Add support for Inline bold Text"
I'm currently working on a project which uses the fpdf library to generate PDF files. I'm looking into options to highlight some specific words in a cell (or multi_cell) using **bold** or _Italic_ text. I found that we can use multiple cells with different font styles to achieve this but if we have multiple words that need to be styled, this idea is not so efficient. It makes the code messy and re

[2021-01-13 08:28] Lucas-C commented on #52
Interesting suggestion!

Could you develop what kind of Python usage you imagine?
Do you to support processing of Markdown-style markup on the `text` parameter in `FPDF.cell` for example?

I had a quick look at the PDf spec, and font weight control always seem to induce font switching with the `Tf` operator.

I also checked and this is not currently supported by the HTML conversion feature:

    p

[2021-01-13 10:28] devansh-07 commented on #52
I haven't actually worked on it. But I was thinking of using something similar to what SO and Github uses
(i.e., \* for italic text, \**  for bold text, and \*** for Bold italic text. or \_ in place of \* and \\ to escape these characters).

For example,
[code]
Output:
*This text is italic*. **This text is bold**. ***This text is bold italic***.

I don't have much idea of how PDFs work internally,

[2021-01-13 14:41] Lucas-C commented on #49
test it with a QRCode generated from https://my-qr.art

[2021-01-13 15:42] #48 closed

[2021-01-13 15:44] #51 closed

[2021-01-13 15:48] Lucas-C commented on #49
Closed by https://github.com/PyFPDF/fpdf2/pull/54

[2021-01-13 15:48] #49 closed

[2021-01-13 16:18] #21 closed

[2021-01-13 18:41] Lucas-C commented on #52
Actually, my mistake, this is already supported by `FPDF.write_html`!

But you'll need to use the old HTML tags `<b>`, `<u>` and `<i>`:

[code]

[2021-01-13 18:48] Lucas-C opened #56 "Review & adapt remaining tutorial/tuto*.* files"
The `.htm` files refer to PHP code but the `.py` files seem OK.

The first 3 tutorials are already covered in `docs/Tutorial.md`.
Remain the 3 last ones:
    4. lay the text across multiple columns
    5. tables
    6. insert links (internal and external) and shows a new text writing mode + rudimentary HTML parser

[2021-01-13 18:48] Lucas-C commented on #56
I started some clean-up in https://github.com/PyFPDF/fpdf2/pull/55

[2021-01-13 18:48] Lucas-C commented on #52
I added a test for this in https://github.com/PyFPDF/fpdf2/pull/55

[2021-01-14 16:27] Lucas-C commented on #19
I plan to write a documentation page on how to embed an existing PDF in one generate with `fpdf2`.
This will require an external lib like `pdfrw`.

Pillow does not support SVG but there are Python libs (_e.g._ [`svglib`](https://pypi.org/project/svglib/) based on ReportLabs) that can. It'd be nice to have another documentation page dedicated to embeding vector graphics by using another lib like th

[2021-01-14 22:19] Lucas-C commented on #9
Documented as part of https://github.com/PyFPDF/fpdf2/pull/57

Closing this

[2021-01-14 22:19] #9 closed

[2021-01-14 22:19] Lucas-C commented on #19
See new documentation page added as part of https://github.com/PyFPDF/fpdf2/pull/57 for an example of how to embed existing PDFs.

[2021-01-16 12:30] Lucas-C opened #58 "Add a FPDF.polyline method"
Inpiration could be taken from the existing [`line(x1, y1, x2, y2)` method](https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L470).

The table 4.9 of the [PDF 1.7 spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf) should also be helpful

Adding this method will bring us one step further to map SVG primitives like `polyline` or `path`

An additional method `po

[2021-01-16 12:33] Lucas-C opened #59 "Add a FPDF.circle method"
It would simply be a user-friendly wrapper around a call to [`FPDF.ellipse`](https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L515)

Adding this method will bring us one step further to map SVG primitives.

[2021-01-16 12:37] Lucas-C opened #60 "Add a FPDF.text_annotation method"
Section 12.5 of the [PDF 1.7 spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf) should be helpful in implementing this.

It would be especially useful to add a documentation page indicating how to add such text annotations on an existing PDF.

[2021-01-16 12:43] Lucas-C opened #61 "Validate all fpdf2 examples using PDF checkers"
The goal here is:
- to detect any future change that would break generated PDFs syntax, by introducing checkers in our CD pipeline
- to ensure that PDFs generated by `fpdf2` conform to several checker tools, including [PDF/A](https://en.wikipedia.org/wiki/PDF/A) & [PDF/UA](https://en.wikipedia.org/wiki/PDF/UA) standards

Some work towards this has been started in https://github.com/PyFPDF/fpdf2/pu

[2021-01-16 12:44] Lucas-C opened #62 "Produce linearized PDFs"
Appendix F of the [PDF 1.7 spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf) should be helpful in implementing this.

[2021-01-16 12:48] Lucas-C commented on #52
@devansh-07 Does this answer your initial request? Can this issue be closed?

[2021-01-16 19:43] alexanderankin commented on #60
Graphics state? What will this method do?

On Sat, Jan 16, 2021, 07:37 Lucas Cimon <notifications@github.com> wrote:

[2021-01-17 17:32] Lucas-C commented on #60
Wrong section sorry, it's in 12.5

This method would simply add a textual annotation on a range of text in the document.

[2021-01-18 09:42] sree293 opened #63 "Question: Possibilty of WordWrap while represent data in Tabular format."
Hii,
I am using fpdf2 and trying to write data into pdf in Tabular format. But if the length of the Table cell is less than the length of the text(string), data is overlapping with the content of another cell.Is there any way I use word wrap and have data in the next line instead of overlapping with adjacent cell content?

I have attached my test code and generated pdf files for reference and bett

[2021-01-18 15:12] manfredlotz opened #64 "Create a URL link"
In html I could have `<a href="url">link text</a>`. Is there a possibility to have a kindof `link(..)` function which writes such a link to pdf? Something like `link_external("link text", "url")`

The `link()` function I found does only link to some other place in the pdf document.

Thank you.

[2021-01-18 17:55] Lucas-C commented on #64
This really require some more documentation, so thanks for asking :)

This is how you can create a URL link:
[code]

For an link internal to the document, it is a bit more convoluted:
[code]

[2021-01-19 07:51] Lucas-C opened #66 "Setting the font to an already used one can remove first text displayed!"
Minimal reproduction code:
[code]

[2021-01-19 07:59] Lucas-C commented on #63
Hi!

I had a look at your code, and I think the solution for you is to use the `multi_cell` method:
https://pyfpdf.github.io/fpdf2/reference/multi_cell.html

There is your code adapted for using it:

[code]

There are still issues remaining though:
- you will be impacted by this bug I found this morning: https://github.com/PyFPDF/fpdf2/issues/66. A PR has already been submitted to solve it.
- `FPD

[2021-01-19 08:00] #66 closed

[2021-01-19 09:23] Lucas-C commented on #64
You can also use `write_html`: https://github.com/PyFPDF/fpdf2/blob/master/test/html/test_html.py#L54

[2021-01-19 12:12] slightlynybbled opened #71 "Number of pages appears to not function correctly"
This worked in `fpdf`.

I have an object that I created called `_Report` that subclasses `fpdf`:

[code]

I have tried several items for that last line in the `footer` to no avail.  I have also tried to move the `self.alias_nb_pages()` to a couple of different locations, but it always prints "{nb}" on to the PDF.

[2021-01-19 12:42] Lucas-C commented on #71
Your snippet does include how to initialize & use your custom class.
After trying to use it, I realized that `_user_documents` refers to an undefined attribute, and that the call to `set_font` in `__init_` must be done before `add_page`

Could you please provide code that is directly usable to reproduce your issue ?

[2021-01-19 12:55] slightlynybbled commented on #71
You are correct.  I tried to strip things a bit to the bone and ended up making my example un-runnable.  My bad.  I have updated the snipped to represent a minimal example.

Thank you for your assistance,

j

[2021-01-19 14:02] Lucas-C commented on #71
I had to slightly modify your `create_report` method:
[code]
But it works:
![2021-01-19 15_01_11-report pdf - SumatraPDF](https://user-images.githubusercontent.com/925560/105044683-4cb51800-5a67-11eb-929b-f4fc4b629197.png)

[2021-01-19 14:03] slightlynybbled commented on #71
When you say "it works", that looks exactly like it doesn't work.  I'm expecting to see "Page 1 of 1".

[2021-01-19 14:41] Lucas-C commented on #71
This is the text string used in the `footer` method: `f'Page {self.page_no()} of ' + '{nb}'`

This is where your issue come from.

Try this instead:
[code]

[2021-01-19 14:46] Lucas-C commented on #71
The workaround I mentioned above should work for you,
but this is indeed a bug with old `alias_nb_pages` feature.

I'm going to take a look at it soon in order to replicate the original functionality.

[2021-01-19 17:06] devansh-07 commented on #52
Yeah sure! Thank you for the help.

[2021-01-19 17:36] slightlynybbled commented on #71
Perfect workaround.  Thank you!

I don't want to hit "close" b/c it appears that you are tracking this as a bug, but feel free to close when you feel that the issue is resolved.

[2021-01-19 18:15] Lucas-C commented on #71
Thanks. This will be automatically closed when https://github.com/PyFPDF/fpdf2/pull/72 will be merged.

Also, a side note: I noticed your "trick" to avoid f-string substitution of the "{nb}' alias.
Note that an alternative is to double the curly braces: `f"{{nb}}"` 😉

[2021-01-19 18:17] slightlynybbled commented on #71
I agree.  I had initially done that, but in my attempts to correct the issue, I tried a few things.  I prefer f-strings, but I was at my wit's end.

[2021-01-19 18:26] Lucas-C opened #73 "Generalize the font-alias mechanism"
Currently, "Arial" is defined in the code as an alias for "helvetica":
- [in `add_font`](https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L581)
- [in `set_font`](https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L709)

This could be generalized according to the table of alternatives from appendix H, section 5.5.1 of the [PDF 1.7 spec](https://ghostscript.com/~robin/pdf_reference17.pdf

[2021-01-19 18:27] Lucas-C commented on #71
Closed by https://github.com/PyFPDF/fpdf2/pull/72

[2021-01-19 18:27] #71 closed

[2021-01-19 20:24] eumiro opened #75 "Convert tests to pytest"
Would you consider converting the tests to pytest?

`assert expr` is easier to read than `self.assertSomething(x, y)`

Using their `tmp_path` fixture would simplify the temporary files manipulation enormously. Every test function gets its own subdirectory in `/tmp/pytest-of-$USER` and three latest test runs are kept there for further investigation. This would save the whole housekeeping after test

[2021-01-19 20:34] alexanderankin commented on #75
Isn't the grouping of the test useful, also ( and this was more relevant
before we introduced qPDF) having the output of the test next to the test
kind of makes sense so that you can do comparisons. Assert is a python
keyword, right? So it seems like it can be used regardless of the framework

On Tue, Jan 19, 2021, 1:24 PM Miroslav Šedivý <notifications@github.com>
wrote:

[2021-01-19 20:36] Lucas-C commented on #62
This could be checked using [pikepdf](https://github.com/pikepdf/pikepdf/blob/master/tests/test_pdf.py#L61) or `qpdf`:

    qpdf --check-linearization / --show-linearization

[2021-01-19 20:41] Lucas-C commented on #75
I think switching to `assert` will break compatibility with `unittest`.

I'm used to `pytest` and I know the many useful features it would provide, so I'm favorable overall.

However @alexanderankin has been maintaining this project for longer than I have, and I'd prefer not to operate this change if he's not comfortable with it 😉

[2021-01-19 20:45] eumiro commented on #75
@alexanderankin of course you can keep the test classes.

When unittest encounters `assert expr`, it only says the `expr` is but does not analyze the expression. That's what all those `self.assertSomething` methods are for. `pytest` analyzes the expression. That's why the switch would have to be planned and there's (almost) no way back to the stdlib unittest.

I am just asking whether you're consi

[2021-01-19 20:54] alexanderankin commented on #75
I'm not super active anymore, so I dont know that the exception needs to be
made for me specifically, but surely there have to be some benefits to
using the std lib? I'm not sold but I'll do some research. Perhaps the
stdlib test framework isnt that great if it cant catch assertion errors

On Tue, Jan 19, 2021, 1:45 PM Miroslav Šedivý <notifications@github.com>
wrote:

[2021-01-19 20:58] eumiro commented on #75
It does catch `assert` errors:

`assert x > y, "wrong order`

will tell you `wrong order`

But if you give `pytest`

`assert x > y`

it will print the values of `x` and `y` as well.

[2021-01-19 21:06] alexanderankin commented on #75
What id like to avoid is the tests being much different so that its easy to
see what changed and difficult to drop a lot of coverage in the move.
You'll notice above each test I have commands to run each class, as long as
stuff like that is preserved, etc. I don't know that it makes sense for me
to object to a framework if it's really mainstream, better, and @lucas-c is
familiar.

On Tue, Jan 19,

[2021-01-20 06:03] alexanderankin commented on #75
there seems to be a consensus in the python community on pytest lol. I use java at work, so i see lots of the self.assertEquals and [hamcrest](https://github.com/hamcrest/PyHamcrest) methods (without the self, though b/c its java). I think pytest overall is the right move in order to keep it going. according to the internet this is worthwhile.

[2021-01-20 08:16] Lucas-C commented on #75
Great!
Let's go with `pytest` then!

@eumiro are you volunteering to do the transition? 😊

[2021-01-20 08:36] Lucas-C commented on #63
Working on this in https://github.com/PyFPDF/fpdf2/pull/76

[2021-01-20 17:20] eumiro commented on #75
I can certainly help you to prepare the directories and start the migration, but then it looks like a nice bunch of good-first-issues for other contributors.

I'd propose to create a new directory `tests` with the subdirectory `testdata` and in a new branch start copying the tests and their test data there. Once it's done, the old `test` directory can be removed and after the merge the CI will run

[2021-01-20 19:11] manfredlotz commented on #64
Thanks for, `write_html` which I found as well in the meantime.

However I was not able to get `pdf.link(x, y, width, height, "https://github.com/PyFPDF/fpdf2")` running.
Instead I found something in the docs so that I got this working:

[code]

[2021-01-21 08:31] Lucas-C commented on #64
Glad you found a solution!
Indeed, [the `write` method accepts a `link` parameter](https://pyfpdf.github.io/fpdf2/reference/write.html)

Here is an alternative example code using `FPDF.link`:
[code]

[2021-01-21 08:36] Lucas-C commented on #75
Thank you very much for the time you are taking in improving `fpdf2` tests!

I see you already opened a PR: https://github.com/PyFPDF/fpdf2/pull/80 😮

Awesome! I'm going to comment on it & continue the discussion there

[2021-01-22 09:16] fbernhart commented on #73
I'd like to give it a try. 😊

I wanted to look up if there are more details in the mentioned 1.7 specs, but I couldn't your table. As well there is no section 5.5.1 in Annex H. 🤔

[2021-01-22 15:13] Lucas-C commented on #63
PR #76 is ready.

Tests have been added, including one replicating what you were trying to achieve @sree293:
https://github.com/PyFPDF/fpdf2/blob/623ba13eaaf5cc7e06bfb5bf10bcd8e1b2de49c9/test/cells/test_multi_cell.py#L84

You can install the version from this branch this way, if you want to test it out:

    pip install git+https://github.com/PyPDF/fpdf2.git@multi_cell_ln3

[2021-01-22 17:24] Lucas-C commented on #73
Great!

Sorry for the erroneous reference. I mixed up two different documents:
- in [PDF Reference - Version 1.7 - sixth edition (1310 pages)](https://ghostscript.com/~robin/pdf_reference17.pdf) there is a section 5.5.1 on appendix H, it's on page 1109
- in [Portable Document Format - First Edition - 2008-7-1 (756 pages)](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf)

[2021-01-23 08:10] Lucas-C commented on #63
Closing this now that #76 has been merged

[2021-01-23 08:10] #63 closed

[2021-01-23 10:10] Lucas-C commented on #75
Done in https://github.com/PyFPDF/fpdf2/pull/82

Closing this

[2021-01-23 10:10] #75 closed

[2021-01-23 14:00] Lucas-C opened #88 "Fix VeraPDF rule 6.3.5-3: the font descriptor dictionary shall include a CIDSet stream"
Quoting https://docs.verapdf.org/validation/pdfa-part1/#rule-653-2:

For now this rule is disabled in `scripts/verapdf-ignore.json`

[2021-01-23 14:03] Lucas-C opened #89 "Fix VeraPDF rule 6.4-2: remove support for SMask keys in order to achieve PDF/A-1 comformity"
Quoting https://docs.verapdf.org/validation/pdfa-part1/#rule-64-2:

For now this rule is disabled in `scripts/verapdf-ignore.json`

[2021-01-23 14:45] Lucas-C opened #90 "Handle alt_text in FPDF.link"
Currently an `alt_text` parameter can be provided to this method: https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L794

However, it is never used in `_putpages`: https://github.com/PyFPDF/fpdf2/blob/2.2.0/fpdf/fpdf.py#L1476

Resources on how to implement alternate text descriptions on links:
  * section 10.8.2 _Alternate Descriptions_ of the [PDF Reference - Version 1.7 - sixth edition (13

[2021-01-23 15:10] Lucas-C opened #91 "Support multi-lines text in table cells with write_html"
Example HTML to use:
[code]

The text in the first cell of the first row currently overflows.

A starting point would be to add a dedicated test in [test_html.py](https://github.com/PyFPDF/fpdf2/blob/master/test/html/test_html.py).

In terms of code, some changes could be made in `HTML2FPDF.handle_data` in order to call `self.pdf.multi_cell(... ln=3)` instead of `FPDF.cell`. Inspiration could be t

[2021-01-24 09:26] Lucas-C opened #92 "Add a unit test for add_font(..., uni=False) with a .pkl font definition"
We miss unit tests for this case

[2021-01-25 19:03] limo49 opened #95 "Avoid page break"
Is it possible to specify that a paragraph or table should not be divided on two pages?

[2021-01-25 19:48] #61 closed

[2021-01-26 08:10] Lucas-C commented on #18
Closing this due to inactivity.

Documentation on `set_auto_page_break` is being redacted in https://github.com/PyFPDF/fpdf2/pull/96

[2021-01-26 08:10] #18 closed

[2021-01-26 08:12] Lucas-C commented on #95
Hi,

I'm in the process of documenting this in https://github.com/PyFPDF/fpdf2/pull/96

It's redacted yet for tables,
but for text rendered with the `FPDF.cell` method,
there is an example on how to control this here: https://github.com/PyFPDF/fpdf2/blob/more-docs/tutorial/tuto4.py#L39

[2021-01-29 10:24] #52 closed

[2021-01-29 10:24] Lucas-C commented on #64
Documented added in https://github.com/PyFPDF/fpdf2/pull/96

Closing this

[2021-01-29 10:24] #64 closed

[2021-01-29 10:25] Lucas-C commented on #95
Documentation added in https://github.com/PyFPDF/fpdf2/pull/96

Closing this

[2021-01-29 10:25] #95 closed

[2021-01-29 21:24] #92 closed

[2021-01-30 18:25] eumiro opened #98 "Possible bug in `template.py` accessing different levels of `self.texts`?"
These three lines:

https://github.com/PyFPDF/fpdf2/blob/6511eb02bd38acfd871e299cb781052f4fd0c73f/fpdf/template.py#L116-L118

are in the code unchanged since ten years. The check and retrieval access different levels of the `self.texts` dict.

[2021-01-31 10:05] Lucas-C opened #99 "Suggest to update web2py copy of fpdf with fpdf2 code"
_cf._ https://github.com/web2py/web2py/tree/master/gluon/contrib/fpdf & https://pyfpdf.github.io/fpdf2/UsageInWebAPI.html

[2021-01-31 18:23] Lucas-C commented on #98
This should be fixed by https://github.com/PyFPDF/fpdf2/pull/100

[2021-02-03 15:18] Xtrem532 opened #101 "`add_font` should support an explicit path instead only a filename"
Specifically, https://github.com/PyFPDF/fpdf2/blob/6511eb02bd38acfd871e299cb781052f4fd0c73f/fpdf/fpdf.py#L573-L580 makes it impossible to add fonts from arbitrary locations without changing the working directory or setting the `SYSTEM_TTFONTS` constant.

This was possible in PyFPDF by just passing the path as str (see https://github.com/reingart/pyfpdf/blob/cb3340806c140b6e63eb4ce9d6230be84fba456e

[2021-02-03 15:29] Lucas-C commented on #101
Hi and thanks for reporting this @Xtrem532!

I added a test for `add_font` last week, post release `2.3.0`, using a `Path` object:
https://github.com/PyFPDF/fpdf2/blob/master/test/fonts/test_add_font.py#L29

I also made a minor fix, that maybe could haved fixed your issue:
https://github.com/PyFPDF/fpdf2/commit/d8a5b019c4b0a410628e0f0670473b9ba7a6b188

Hence:
- could you provide some minimal Pytho

[2021-02-03 15:42] Lucas-C commented on #101
I added a new test and all seems OK: https://github.com/PyFPDF/fpdf2/commit/dd7d7aff55bdb8d322e1cbb5cc355fac4f475471

Hence, could you provide some minimal Python code reproducing your issue please?

[2021-02-03 15:59] Xtrem532 commented on #101
I see - support *should* be there, the Path concatonation with "." threw me off.
The real problem is that if `FPDF_CACHE_MODE` is set to 2, https://github.com/PyFPDF/fpdf2/blob/dd7d7aff55bdb8d322e1cbb5cc355fac4f475471/fpdf/fpdf.py#L2387-L2390 gets a path object, raising
[code]

[2021-02-03 16:13] Xtrem532 commented on #101
Just wrapping `fn` in a `str()` call worked for me:
[code]

[2021-02-04 13:29] Lucas-C commented on #101
Out of curiosity, how did you set `FPDF_CACHE_MODE`?

[2021-02-04 13:54] Lucas-C commented on #101
Also, I plan to get rid of this cache mode in https://github.com/PyFPDF/fpdf2/pull/103

[2021-02-04 15:46] Xtrem532 commented on #101
Its not private, so its really strightforward to set:

[code]

BTW, I really dislike how PyFPDF2 has the  same modulename as PyFPDF1 - it just is not a drop in replacement at this point, and being one would hold it back anyway, so just accept the API incompatibilities and rename it.
That would also enable things like

[code]
which is way less hacky then trying to use the versionnumber to detect if

[2021-02-04 16:21] alexanderankin commented on #101
`pyfpdf` is effectively deprecated because as far as i know the only maintainer with commit and publish access has not published since 2015 and insists on 2.7 support because there are apps he built the application for which use python2.

Which is to say I'm comfortable reusing the import name even if its not a perfect replacement. Right now somethings are broken because of the changes necessary t

[2021-02-04 16:23] Lucas-C commented on #101
The cache is enabled by default and will stay, it's just cache mode 2 that this PR aims to get rid of 😊

[2021-02-08 11:04] uovodikiwi commented on #58
Hi @Lucas-C, nice to meet you! I would like to contribute on the project :) I've recently forked it and worked on this issue in my local env. I didn't see that @alexanderankin was already assigned to this task but if they haven't started working on this I could create a PR for this in the following days :)

[2021-02-09 09:29] Lucas-C commented on #58
Nice!

Welcome & thanks for contributing @uovodikiwi!

Feel free to submit a PR 😊

Ping @alexanderankin: can you confirm that's OK with you ?

[2021-02-09 09:33] alexanderankin commented on #58
yes absolutely!

On Tue, Feb 9, 2021 at 4:30 AM Lucas Cimon <notifications@github.com> wrote:

[2021-02-12 08:47] Lucas-C commented on #101
Done in https://github.com/PyFPDF/fpdf2/pull/103

Closing

[2021-02-12 08:47] #101 closed

[2021-02-13 15:51] Lucas-C commented on #60
Note: _Link Annotations_ are already used in `FPDF._putpages` to render links

[2021-02-15 14:19] pwt opened #108 "Q: Bold and/or Italic text within 'cell()' or 'multi_cell()'?"
First, a big thanks for all the work on this library. I'm already using it to produce professional-looking PDF documents efficiently.

Is it possible to produce inline **bold** and/or *italic* text when using `cell()` or `multi_cell()`? I note the discussion in #52, but I don't know how I'd use the HTML renderer to replace or augment what I'm currently doing with cell/multi_cell.

[2021-02-15 21:55] Lucas-C commented on #108
Do you need to put **all** of the cell content in bold or italic?
If so, `set_font` will let you switch to bold/italic before rendering the cell.

Else, I'm afraid that currently `fpdf2` won't let you easily do what you want...

There is an example of table rendering with `write_html` there:
https://pyfpdf.github.io/fpdf2/Tables.html#using-write_html
However bold/inline styling inside HTML table c

[2021-02-16 01:01] alexp1917 commented on #108
@Lucas-C i think we might as well start supporting this, otherwise this is a bit ridiculous in my opinion, but the question is how to preserve apis, docs, backwards compatibility, etc...

[code]

[2021-02-16 07:49] Lucas-C commented on #108
There is a potential workaround:
[code]

[2021-02-16 07:59] Lucas-C commented on #108
Now I agree that it'd be nice if `FPDF.cell` / `FPDF.multi_cell` / `FPDF.write` could support setting only part of text as bold / italic.

The question is: **what would be the best way to provide this feature to users**, while staying mostly backward-compatible & aiming at a clean library APi at the same time?

Maybe those 3 functions could support minimal [Markdown](https://en.wikipedia.org/wiki/

[2021-02-16 11:06] pwt commented on #108
Thanks for the responses, folks.

Yes, I believe that would work well, althoughI think we'd need to enable escapes (`\**`, etc?) as part of this. Note that I've been tending to use `multi_cell()` rather than `cell()` in my applications.

[2021-02-20 13:51] #73 closed

[2021-02-22 09:06] Lucas-C commented on #90
I'm having trouble to build a reference PDF file with a description text on a link...

There is one I crafted, using 2 technics, an `/Alt` entry in the `/Link` `/StructElem`, and a `/Contents` entry in its `/Link` page annotation (`/Annots`):
[link-alt-text-attempt.pdf](https://github.com/PyFPDF/fpdf2/files/6020770/link-alt-text-attempt.pdf)

Sadly, neither Adobe Acrobat Reader nor Sumatra PDF see

[2021-02-22 09:27] Lucas-C commented on #90
I was able to validate that with [NVDA](https://www.nvda-fr.org/) and Adobe Acrobat Reader the `/Alt` text was read out loud.

Hence I'm going to implement this technic.

[2021-02-24 12:05] yohanboniface opened #111 "unbreakable and multi_cells"
I'm having weird page breaks, and it seems it's related to multi_cell + unbreakable use.

Here is a test case, based on the tutorial:

[code]

This outputs this pdf:

[unbreakable_tables.pdf](https://github.com/PyFPDF/fpdf2/files/6035763/unbreakable_tables.pdf)

The first four table are OK, but there is an unexpected page break after the 4th table.

Here is the logger output:

[code]

I cannot eas

[2021-02-24 13:09] Lucas-C commented on #111
Thank you for the minimal bug-reproducing code!
This always makes things easier for maintainers 😊

I'll try to have a look at this today

[2021-02-24 13:11] #90 closed

[2021-02-24 18:06] Lucas-C commented on #111
I found the fix and opened https://github.com/PyFPDF/fpdf2/pull/112 to solve this issue

It will be included in the next release that will occur before the end of the week

[2021-02-24 18:10] yohanboniface commented on #111
Thanks! :)

[2021-02-24 20:10] #111 closed

[2021-02-27 21:07] #58 closed

[2021-02-28 09:32] Lucas-C commented on #111
Released as part of `v2.3.1`: https://github.com/PyFPDF/fpdf2/releases/tag/2.3.1

[2021-03-01 08:36] Lucas-C commented on #98
Closing this now that the fix has been released

[2021-03-01 08:36] #98 closed

[2021-03-16 02:21] ivanleoncz opened #116 "pdf.output() no delivering application/pdf (Django)"
I have the following code while trying to deliver a PDF file via Django:

[code]

After a request, this view provides a new tab where the browser tries to load the PDF file, but in fact, it presents the download option. When I download the file, I check its MIME type, and it turns out that it is a `text/plain`, comparison to other PDF files that I have from different sources:

[code]

While lookin

[2021-03-17 07:42] Lucas-C commented on #116
Thank you for reporting this problem.

I started with this test:
[code]

The MIME type of the generated file is correct:
[code]

Hence, I'm starting to wonder if the issue could not come from how Django handles `HttpResponse`...

Could you please provide a runnable minimal test?
Maybe a really minimal Django app with a single ressource returning a PDF, similar to your initial code sample?

[2021-03-17 22:13] ivanleoncz commented on #116
Thank you. I have a Django app here. I just have to do some modifications, and I'll put it here :+1:

[2021-03-21 06:50] pandrey2003 opened #117 "Update Pillow dependency"
`fpdf2` makes use of the `Pillow` library with the requirement: `Pillow [required: >=4,<=8]`. As of 19th of March, 2021, there seem to be 6 security issues with Pillow < 8.1.1:

- [CVE-2021-27923](https://github.com/advisories/GHSA-95q3-8gr9-gm8w)

- [CVE-2020-35654](https://github.com/advisories/GHSA-vqcj-wrf2-7v73)

- [CVE-2021-27921](https://github.com/advisories/GHSA-f4w8-cv6p-x6r5)

- [CVE-20

[2021-03-21 19:03] raspberrypython opened #118 "Unicode multi_cell line wrap breaks after parenthesis"
I'm having an issue when using multi_cell with a unicode font, it seems like I get corrupted characters when a line break occurs and the line contains a parenthesis before the line break. This doesn't occur when I use pdf.write.

Python: 3.9.2
fpdf2: 2.3.1

I've been able to reproduce the issue with a sample project:

[code]

The code outputs this pdf:
[unicode.pdf](https://github.com/PyFPDF/fpdf2

[2021-03-22 12:50] Lucas-C commented on #117
You are mistaken here: `fpdf2` uses the latest version of Pillow since v2.2.0:
https://github.com/PyFPDF/fpdf2/blob/2.2.0/setup.py#L39

[2021-03-22 12:50] #117 closed

[2021-03-22 12:56] pandrey2003 commented on #117
OK, thanks you've spotted my mistake.

[2021-03-22 13:41] Lucas-C commented on #118
This is indeed a bug. It seems to happen only in justified mode (`align='J'`) with unicode fonts.
There is some special "manual" word spacing in that case:
https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L1209

[2021-03-22 14:05] Lucas-C commented on #118
This bug will be solved by https://github.com/PyFPDF/fpdf2/pull/119

[2021-03-22 14:11] #118 closed

[2021-03-26 20:09] BConquest opened #120 "Page Break after every cell if multicell crosses a page break."
I am having weird issues with multicell inserting a page break after every cell if it crosses a page break.

[code]

[table_with_cells.pdf](https://github.com/PyFPDF/fpdf2/files/6214119/table_with_cells.pdf)

This seems related to issue #111, thanks for the cool lib.

[2021-03-27 02:53] alexanderankin commented on #21
https://github.com/reingart/pyfpdf/issues/181

[2021-03-27 07:25] Lucas-C commented on #120
Interesting, thank you for the issue report!

I opened https://github.com/PyFPDF/fpdf2/pull/121 to solve this case

I plan on merging it & generating a new release this week-end.

[2021-03-27 08:33] #120 closed

[2021-03-27 18:33] alexp1917 commented on #116
you probably want to make sure you are setting the correct value for [Content-Disposition
](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) as well as making sure that django respects your `content_type` header

[2021-04-01 08:21] mrkaragoz opened #122 "Parenthesis is not shown correctly in Justified mode if UNICODE font is used"
Open parenthesis '(' and close parenthesis ')' is not shown correctly in justified mode if UNICODE font is used. Parenthesis' were replaced with two squares which I believe are Japanese letters.

[2021-04-01 08:27] Lucas-C commented on #122
Thank you for reporting this issue.

This is probably related to https://github.com/PyFPDF/fpdf2/issues/118

What version of `fpdf2` are you using?

[2021-04-01 08:34] mrkaragoz commented on #122
Sorry for not adding version info beforehand. My "fpdf" version is 2.3.1.

Now, when I try with version 2.3.2 problem solved. Thank you for your quick reply.

[2021-04-01 08:35] mrkaragoz commented on #122
My bad for not trying with the latest version :^)

[2021-04-01 08:37] #122 closed

[2021-04-01 08:41] Lucas-C commented on #122
No worries 😉

[2021-04-04 13:27] RubendeBruin commented on #91
I modified the write-table-example such that the whole row is increased in height:

[code]

![image](https://user-images.githubusercontent.com/34062862/113510240-309b2000-955a-11eb-809e-f89d66035c74.png)

[2021-04-08 12:55] Kewings opened #123 "write_html can't support unicode"
[code]

[2021-04-11 04:05] Kewings commented on #123
ignore it, i use other font like SIMLI.ttf, can display Chinese characters now.

[2021-04-11 04:05] #123 closed

[2021-04-12 00:13] alallier opened #124 "Feature request: table of contents"
Anyway easy way to create a table of contents?

I see this [old class definition](https://github.com/reingart/pyfpdf/blob/master/attic/TOC.py) in the original project but that doesn't work

[2021-04-12 08:53] Kewings opened #125 "write_html: proper handling of <img> inside <td>"
i use jinja2 to render html code:
[code]
when i write_html, and pdf.output, it shows pictures not expected:
![image](https://user-images.githubusercontent.com/29881381/114368255-ce709980-9baf-11eb-8f0c-be6f38a52d0c.png)

does anyone have ideas?

[2021-04-12 18:27] Lucas-C commented on #123
Glad you found a solution by yourself ! :)

[2021-04-12 18:29] Lucas-C commented on #124
`pyfpdf2` currently has no built-in way to generate a table of contents, but this would be a nice new feature for sure!

[2021-04-12 18:54] alallier commented on #124
I have a solution where I loop over table of contents level items at the beginning and use the links to link later in the document. But it's impossible to list page numbers because you don't know the page number ahead of time (chicken and the egg type problem).

The solutions I've seen basically abstract away the add page function to keep track of page numbers within the program (like what I linke

[2021-04-13 06:33] Lucas-C commented on #91
Thank you for sharing this code snippet @RubendeBruin

Yes, I think this is a good start, and this approach could be used in `HTML2FPDF.handle_data` to implement this feature.

[2021-04-13 06:47] Lucas-C commented on #125
I @Kewings.

Sadly your code snippet is not enough to easily reproduce your problem...
We would need the Python code, images & version of `fpdf2` used in order to reproduce this issue.

You provided 2 screenshots and stated that it does not work "as expected".
But what did you expect precisely here?

In hope this could be useful for you to troubleshoot your issue, using the following Python code I

[2021-04-13 07:06] Kewings commented on #125
Hi Lucas-C,

thanks for your reply.
same html code as you writed, i got pdf like:
![image](https://user-images.githubusercontent.com/29881381/114510409-3afb9f00-9c69-11eb-9ca7-83cba482a16c.png)

and what i want is like :
![image](https://user-images.githubusercontent.com/29881381/114510627-74340f00-9c69-11eb-9b7c-d8b103c11171.png)

html code is:
[code]

[2021-04-13 09:27] Lucas-C commented on #125
OK, thanks for the extra explanations.

My understanding is that you want a side-by-side layout using HTML table cells.
Is that correct?

I think I see how to modify `HTML2FPDF` in `fpdf/html.py` in order for `<img>` tags inside `<td>` cells to be positioned correctly.
I'll report here soon if this works as I expect.

[2021-04-13 10:57] Kewings commented on #125
yeah, many thanks.

[2021-04-13 11:01] Kewings commented on #125
and maybe another issue used write_html can be fixed together?

[2021-04-13 16:45] Lucas-C commented on #125
I opened https://github.com/PyFPDF/fpdf2/pull/126 to implement my fix.

Regarding your other issue, try passing `table_line_separators=True` to `FPDF.write_html`

[2021-04-13 19:48] Lucas-C commented on #125
I have just merged #126.

@Kewings you can test the latest version this way:

    pip install git+https://github.com/PyPDF/fpdf2.git@master

If you can confirm that it solves your initial issue, I'll close this.

[2021-04-14 01:59] Kewings commented on #125
this issue is resolved, thanks.

[2021-04-14 02:08] Kewings commented on #125
i firstly uninstalled fpdf2 in my compute, and i tried ```pip install git+https://github.com/PyFPDF/fpdf2.git@master```, then double checked fpdf2/html.py in github with my site_packages, and confirmed they are same.
but issue not resolved.
still get same page as:
![image](https://user-images.githubusercontent.com/29881381/114643848-063f2480-9d09-11eb-8997-cb7147e2986a.png)
code is:
[code]

[2021-04-14 05:00] Lucas-C commented on #125
Yes, I'll wait for a few days before making a new release on Pypi. The version on the `master` will then be bumped.

No, and I may not have the time to look at this soon. But feel free to open another issue on this subject.

[2021-04-14 05:00] #125 closed

[2021-04-14 07:06] Lucas-C commented on #125
For centering `<img>` in `<td>`, check out https://github.com/PyFPDF/fpdf2/pull/128

[2021-04-14 07:09] Lucas-C commented on #124
This would really be a great feature.

There are features of the PDF format that may be related to this and that we may want to support: Logical Structure & Bookmarks

[2021-04-14 11:56] Kewings opened #129 "how to make img in <td> centering"
html code:
[code]
pdf.write_html(html)
pdf.output('test.pdf')

[2021-04-14 12:00] Lucas-C commented on #129
This was implemented in #128

Try using `<center>` instead of `align="center"`:

[code]
Using the latest version this way:

    pip install git+https://github.com/PyPDF/fpdf2.git@master

Can you please confirm that it solves your problem?

[2021-04-14 17:20] Lucas-C commented on #124
I have opened https://github.com/PyFPDF/fpdf2/pull/130 in order to implement the document outline & table of contents features.

[2021-04-15 03:28] Kewings commented on #129
not yet.

i installed lastest version, and tried as below:
[code]
i got page like:
![image](https://user-images.githubusercontent.com/29881381/114809754-58ea1080-9ddd-11eb-8aff-0006064b3f35.png)

what i want is:
![image](https://user-images.githubusercontent.com/29881381/114809890-9484da80-9ddd-11eb-93f5-8840f986c09d.png)

[2021-04-15 09:46] Lucas-C commented on #129
I have added another commit with more fixes and a new test on `master`.
Could you please try again with the latest version @Kewings ?

[2021-04-15 11:39] Kewings commented on #129
yes, resolved.

```align='center' ```in ```<td>``` or ```<center><img ...></center>``` either can do it now.

many thanks.

[2021-04-15 11:39] #129 closed

[2021-04-17 19:13] pandrey2003 opened #131 "image() randomly returns previous pictures if called many times"
fpdf2 is used in [social-media-profiler](https://github.com/pandrey2003/social-media-profiler) project, hence we have to visualize a lot of images and we were surprised to get incorrect, previously displayed images on PDF. Using the same input (see below) we checked different versions of your library:
![Screenshot 2021-04-17 at 21 56 03](https://user-images.githubusercontent.com/64363269/115124009

[2021-04-18 18:13] Lucas-C commented on #131
A bug has regarding this has been fixed in https://github.com/PyFPDF/fpdf2/commit/4bc2824 and released in version `2.3.0` on 2021-01-29.

You should probably just upgrade your version of `fpdf2` to the latest version and check if your issue is still present.

[2021-04-18 18:15] Lucas-C commented on #131
Aslo, please check the [CHANGELOG.md](https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md) file for the release notes of every version of `fpdf2`, including new features & potential breaking changes.

[2021-04-18 18:16] Lucas-C commented on #131
Please report here after upgrading `fpdf2` version so that we can close this issue or further try to help you 😉

[2021-04-19 08:13] pandrey2003 commented on #131
@Lucas-C Thanks for a quick response! Tested everything as you asked:

- 2.3.0 is the last version the works fine;
- starting from 2.3.1 have the problem I described above;
- I suppose, this is linked to the `FPDF.image now accepts new optional title & alt_text parameters defining the image title and alternative text describing it, for accessibility purposes` in v.2.3.1, "Added".

Hope this helps!

[2021-04-20 07:02] pandrey2003 commented on #131
Thanks for a look into my project! It appeared you are absolutely right! I created two Python modules and tested `fpdf2==2.3.0`and `fpdf2==2.3.2` on them. The first one does not use my [get_and_process_image](https://github.com/pandrey2003/social-media-profiler/blob/master/app/backend/visualization/helpers/get_and_process_image.py) utility function, and the second one **does** use that utility fun

[2021-04-20 07:16] Lucas-C commented on #124
As indicated on #130, the PR is ready for review

[2021-04-20 07:50] Lucas-C commented on #131
Thank you for confirming my hypothesis with your test!

I opened https://github.com/PyFPDF/fpdf2/pull/132 to implement a fix.

Could you please test it with:

    pip install git+https://github.com/PyPDF/fpdf2.git@issue-131

[2021-04-20 09:49] Kewings opened #133 "beg for version 2.3.3 release"
hi team,

would you please help to release version 2.3.3 with img in td fixed?

thanks.

[2021-04-20 11:35] pandrey2003 commented on #131
@Lucas-C Thanks for a quick fix! Your pull request works superbly - no cached pictures!

[2021-04-20 14:36] Lucas-C commented on #133
I plan to perform a new release once the 2 currently opened PRs are merged.

Checking with the co-maintainer of this repo : @alexp1917 do you agree with that plan ? 🙂

[2021-04-20 14:38] Lucas-C commented on #131
The PR has been merged, closing this issue now.

As I have indicated in https://github.com/PyFPDF/fpdf2/issues/133, a new release will be made as soon as the last remaing PR has been reviewed & merged.

[2021-04-20 14:38] #131 closed

[2021-04-20 15:12] alexp1917 commented on #133
Sounds good to me, I've been buried with stuff lately, but looks like
you've got a handle on this

On Tue, Apr 20, 2021, 10:36 AM Lucas Cimon ***@***.***> wrote:

[2021-04-20 21:54] alexp1917 commented on #133
@Lucas-C let me know if i should go ahead and do this release. im getting caught up on all the issues. looks like you have been busy here, but i dont see what to wait on, or if anything else is in progress - please let me know. otherwise i will get to this tonight hopefully.

[2021-04-21 07:01] Lucas-C commented on #133
I'm waiting on a review from you on https://github.com/PyFPDF/fpdf2/pull/130 but I do not want to hurry you at all.

This PR introduces new methods so I thought it'd be nice to have your feedback on it.

Tell me once you approve to merge it 😉

[2021-04-21 07:04] Lucas-C commented on #60
A PR is on the way to implement this: https://github.com/PyFPDF/fpdf2/pull/134

[2021-04-21 19:49] #60 closed

[2021-04-21 19:59] Lucas-C commented on #133
New release published: https://github.com/PyFPDF/fpdf2/releases/tag/2.3.3

[2021-04-21 19:59] #133 closed

[2021-04-21 19:59] Lucas-C commented on #124
This has been released: https://github.com/PyFPDF/fpdf2/releases/tag/2.3.3

[2021-04-21 19:59] #124 closed

[2021-04-21 20:13] alallier commented on #124
Wow you guys work so quick! I saw the traffic and didn't even get a chance to sit down before you released it!

Awesome work thank you!

[2021-04-21 20:20] alallier commented on #124
(I think I can speak for many here but) it's so refreshing to see this type of interaction in open source community. Not something I'd normally do but if you have a link I'd love to (donate) buy you a beer/coffee for your quick work!

[2021-04-22 06:18] Lucas-C commented on #124
Those are really kind words, thank you!

I don't ask for money for any of my open wource / libre software work,
but if you feel generous I have an [itch.io page](https://lucas-c.itch.io) where people can donate for the pen & paper games I create.
They're in French so that may not be of any use to you 😊
I also plan to release (on itch.io) a PDF video game made with `fpdf2`, hopefully tomorrow or Sa

[2021-04-24 00:47] alallier opened #135 "Call add_page if not already called once before calling insert_toc_placeholder"
It's not clear you have to call `add_page` before calling `insert_toc_placeholder` with the provided error.

Documentation should be updated to relfect this and/or if possible have `insert_toc_placeholder` call `add_page` if there are no pages already started

[2021-04-24 01:00] alallier opened #136 "Feature request: table of contents generation without requiring to know in advance how many pages it will span"
With this exception

[code]

Although I checked the code [here](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L1991-L1994) and it doesn't seem it should fail

[2021-04-24 02:18] alallier commented on #136
I was looking at the [code](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L2812) and I see in the placeholder arguments you can specify how many pages it will span. This seems to work although you need to know your page count ahead of time which is hard to do when running against dynamic datasets.

[2021-04-24 08:01] #135 closed

[2021-04-24 08:01] Lucas-C commented on #135
Thank you for the report! Fixed on `master` branch

[2021-04-24 08:03] Lucas-C commented on #136
Yeah, this a current limitation of this implementation.

I think I see how I can make this fully dynamic now, I'm going to have a look at it.

[2021-04-24 08:20] Lucas-C commented on #136
The challenge will be to increment all references to page numbers:
* in `self.pages` : dict containing pages and metadata
* in `self.annots` : link & text annotations
* in `self.links` : internal link inside the document
* in `self.struct_builder.doc_struct_elem.k` (all `page.id`)
* in `self._outline`

I fear this will introduce quite some code, and lower code readability...

As a workaround for n

[2021-04-25 03:15] Kewings opened #137 "how to make long text in <td> break automatically?"
[code]
it shows:
![image](https://user-images.githubusercontent.com/29881381/115979233-521a8500-a5b7-11eb-8787-c2a7280d5bf5.png)
descriptions not be broken.

[2021-04-25 08:18] Lucas-C commented on #137
I think the issue you are reporting is a duplicate of this one: https://github.com/PyFPDF/fpdf2/issues/91

Can you confirm this is the same problem?

[2021-04-25 09:32] Kewings commented on #137
for the words need multi rows, i think it is same issue.

for the border line out of the table, it is different issue, you can find a bottom border line of cell '2' extended out of the table.

[2021-04-25 17:10] ralhei opened #138 "Reference manual docs not available"
When going to the reference manual and then clicking e.g. on 'cell' (https://pyfpdf.github.io/fpdf2/reference/cell.html) this leads to a 404. Seems like some html files did not get uploaded properly.

[2021-04-25 19:51] Lucas-C commented on #138
Thank you for reporting the issue!
I'll have a look at this very soon

[2021-04-25 19:53] Lucas-C commented on #137
OK, I see, but it never happens when there is no text overflow?

[2021-04-26 02:32] Kewings commented on #137
no, have no concern with text
when table_line_separators=True, and ```<tr><th>111</th><td>222</td></tr>``` will have this issue.

[2021-04-26 08:45] joncombe commented on #138
dashed_line, ellipse, image, line, link, ln, multi_cell, output, rect, set_font, set_left_margin, set_margins, set_right_margin, set_top_margin

[2021-04-26 17:45] Lucas-C commented on #138
Fixed by https://github.com/PyFPDF/fpdf2/commit/5438a48

It was a dummy typo I made weeks ago...
Thank you both for reporting the issue!

[2021-04-26 17:45] #138 closed

[2021-04-26 19:30] Lucas-C commented on #137
Ok, I found a minimal case reproducing your issue:

[code]

I think this bug is due to the mixed use of `<th>` & `<td>` inside a `<tr>`...

I'm trying to fix a fix now.

[2021-04-26 20:01] Lucas-C commented on #137
Solved! Thanks for reporting the problem @Kewings 😉

[2021-04-28 12:50] the-yrr opened #139 "image() with pillow.Image.Image creates fake duplicates"
The name of the image is used to check for duplicates

For pillow images this is str(name)  (the "name" variable is the image)
the image name will be something like:

<PIL.WebPImagePlugin.WebPImageFile image mode=RGB size=2048x2803 at 0x1EA56628F40>

this identifier is not unique and created massive problems with random wrong images

I propose to change the code to something like this (works for m

[2021-04-28 14:18] Lucas-C commented on #139
This may be a duplicate of https://github.com/PyFPDF/fpdf2/issues/131

Could you provide the version of `fpdf2` you are using please?

[2021-04-28 16:34] the-yrr commented on #139
I use version 2.3.3, just updated it 2 days ago.
the code snip is from the "image" function in the "fpdf.py" file, the block starts at line 1720 in my file.

it is not quite a duplicate of #131, the ByteIO was fixed, but not the pillow.Image.Image error I encountered (as can be seen in the code snip). The problem itself is the same though.

after reading the changelog:
I tried to add an image usin

[2021-04-29 07:50] Lucas-C commented on #139
OK, thanks for the explanations.

There is the unit test validating that `BytesIO` are supported:
https://github.com/PyFPDF/fpdf2/blob/master/test/image/image_types/test_insert_images.py#L63

Could you provide some Python code reproducing your issue please?
How is your usage of `FPDF.image` different from this unit test?

[2021-04-29 13:43] the-yrr commented on #139
this should give a pdf with images containing row + column position, e.g.
00, 01, 02, 03
10, 11, 12, 13
...

I added a pdf generated by the script. As you can easily see, it does not work after the first line

[duplicate.pdf](https://github.com/PyFPDF/fpdf2/files/6399006/duplicate.pdf)

[code]

[2021-04-30 16:48] #139 closed

[2021-04-30 16:50] Lucas-C commented on #139
This was some excellent minimal code reproducing the issue!

This was fixed and released: https://github.com/PyFPDF/fpdf2/releases/tag/2.3.4

Thank you for reporting it 😉

[2021-05-03 18:00] aquatic7 opened #142 "Margins documentation is broken: https://pyfpdf.github.io/fpdf2/Margins.html"
A topic says, all links to the margins documentation is broken: https://pyfpdf.github.io/fpdf2/Margins.html

[2021-05-03 20:55] Lucas-C commented on #142
What do you mean exactly by "broken"?

When I visit this documentation page, this is what I see:
![2021-05-03 22_53_36-Margins - fpdf2](https://user-images.githubusercontent.com/925560/116932413-826ebd00-ac62-11eb-92db-db32b43f7e70.png)

This was reently ( https://github.com/PyFPDF/fpdf2/issues/138 ) fixed, could it be a browser cache issue?
Could you try to `CTRL + SHIFT + R` and see if the probl

[2021-05-03 22:01] aquatic7 commented on #142
I mean the links for:

    set_margin
    set_left_margin
    set_right_margin
    set_top_margin
    set_margins
    set_auto_page_break

https://pypi.org/project/fpdf2/fpdf/#fpdf.FPDF.set_margin
https://pypi.org/project/fpdf2/fpdf/#fpdf.FPDF.set_left_margin
https://pypi.org/project/fpdf2/fpdf/#fpdf.FPDF.set_right_margin
https://pypi.org/project/fpdf2/fpdf/#fpdf.FPDF.set_top_margin
https://pypi.o

[2021-05-04 07:46] #142 closed

[2021-05-04 07:46] Lucas-C commented on #142
Ok, got it, thank you!

This should be fixed now

[2021-05-06 07:17] Lucas-C opened #144 "Improve images compression by supporting more image filters"
Currently, in [image_parsing.py](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/image_parsing.py#L59), images are compressed using `FlateDecode` (zlib)

Some alternative filters could be implemented: `DCTDecode`, `JPXDecode`...

_cf._ section "3.3 Filters" of the [PDF 1.7 spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf)

In terms of interface, one simple solutio

[2021-05-10 05:08] Gabbalo opened #145 "Support for emojis"
Is there any chance to implement the support for emojis to the generator? There is a free font at google called [Noto](https://www.google.com/get/noto/help/emoji/) which might be used (not sure).
As emojis are used widely all over the web and some pages even accept them as password, it would be great, if this wonderful asset whould have the support for it, too, wouldn't it?

[2021-05-10 09:02] Lucas-C commented on #145
Good question! Thanks for asking.
Some elements to answer:

* the [Zapf Dingbats](https://en.wikipedia.org/wiki/Zapf_Dingbats) is a builtin font in `fpdf2`,
so that is one way to display some signs & symbols using a font right now:
[code]

* currently, `fpdf2` does not seem able to parse `NotoColorEmoji.ttf`:
[code]
Raises:
[code]
Seems like `TTFontFile.makeSubset("NotoColorEmoji.ttf", subset)` lo

[2021-05-19 16:59] santhoshcameo opened #146 "issue regarding .txt to pdf"
Hi All,

I could not find this in the documentation, how can I simply convert a .txt file to pdf by reading from a directory? the output should follow the same alignment of the .txt file, could someone help?

[2021-05-19 20:08] Lucas-C commented on #146
This could be a starting point for you:
[code]
[lorem-ipsum.txt](https://github.com/PyFPDF/fpdf2/files/6511290/lorem-ipsum.txt)

[2021-05-19 20:12] Lucas-C commented on #31
Progress status: **30% migrated**
[code]

[2021-05-21 01:51] santhoshcameo commented on #146
thank you Lucas, I will definitely try this.

[2021-05-21 06:37] Lucas-C commented on #146
Great!
I'm closing this issue now then.

[2021-05-21 06:37] #146 closed

[2021-05-22 21:03] keremnymn commented on #123
Can you elaborate how you solved this problem? I bumped into the very same.

[2021-05-24 17:35] Lucas-C commented on #144
I started some work towards this here: https://github.com/PyFPDF/fpdf2/pull/148

[2021-05-29 14:30] boghison opened #149 "Support justified HTML paragraphs"
It is not currently possible to use `<p align="justify">text</p>` with `write_html`. I suspect it is because paragraphs are created using `cell` instead of `multi_cell`. However, the documentation does not explicitly mention which values for the `align` attribute are valid.

[2021-05-29 14:59] Lucas-C commented on #149
Thanks for the report!

I opened https://github.com/PyFPDF/fpdf2/pull/150 to suggest a fix

[2021-05-29 15:09] boghison opened #151 "Right-aligned HTML paragraph breaks inline font styling"
Bold/italic/underline text in `p` tags works for default parameters, but setting `align="right"` breaks the layout:
<img width="571" alt="Screen Shot 2021-05-29 at 18 07 41" src="https://user-images.githubusercontent.com/7976283/120075187-ee4d1580-c0a8-11eb-8131-8d7e5d267cfa.png">

[2021-05-29 15:16] Lucas-C commented on #151
Thanks for the report @boghison!

Could you please provided your source code for this test?

[2021-05-29 15:17] #149 closed

[2021-05-29 15:33] boghison commented on #151
@Lucas-C I got it from the `write_html` [documentation](https://pyfpdf.github.io/fpdf2/reference/write_html.html). I also tried it with the example [here](https://pyfpdf.github.io/fpdf2/HTML.html) by changing the first paragraph to `<p align="right"><b>Hello</b> world. <u>I am</u> <i>tired</i>.</p>`:
<img width="1205" alt="Screen Shot 2021-05-29 at 18 32 59" src="https://user-images.githubusercont

[2021-05-29 18:48] boghison commented on #151
I think it’s because aligned paragraphs get written with `multi_cell`, so this might be related to  #108

[2021-05-29 19:39] Lucas-C commented on #151
You're totally right, implementing #108 would help solving this!

I'll try to get back to this other issue in the next weeks.

[2021-05-30 09:50] Lucas-C commented on #144
Closed by #148

[2021-05-30 09:50] #144 closed

[2021-06-03 07:05] Lucas-C commented on #108
A PR implementing this is ready for reviewing: https://github.com/PyFPDF/fpdf2/pull/154

[2021-06-03 09:31] WalidGharianiEAGLE commented on #120
First of, Awesome light weight library!
So Im using the latest release and I also come across the same issue. Here is an example to replicate
[code]
What I noticed is that this have to do with the test['A'] containing large characters . If you drop some characters eg. `test["A"] = test['A'].str.replace("test_", "")` and redo the same thing it will works but I do need those original columns. Is her

[2021-06-03 17:08] Lucas-C commented on #120
Hi @WalidGharianiEAGLE!

What you need here is an [unbreakable-section](https://pyfpdf.github.io/fpdf2/PageBreaks.html#unbreakable-sections).

Interestingly, your example revealed a minor bug related to the page breaks logic,
on some very specific conditions, when the overflow check compares two values that are equal.
You can find the details, and a usage example of `unbreakable()`, in this PR:
ht

[2021-06-05 21:00] keremnymn opened #156 "write_html won't accept bold text"
I load the fonts this way:

`pdf.add_font('ArialUnicode',fname='/content/arial.ttf',uni=True)`

Also the bold font:

`pdf.add_font('ArialUnicodeB',fname='/content/arialbld.ttf',uni=True)`

But when I try to render an HTML with <b> tag, this exception raises:

`FPDFException: Undefined font: arialunicodeB - Use built-in fonts or FPDF.add_font() beforehand`

Is this is a known bug?

[2021-06-06 15:03] Lucas-C commented on #156
You just need to load the font this way:
[code]

Keywords are even optional if you pass the parameters in the correct order:

[code]

[2021-06-06 15:20] keremnymn commented on #156
Unfortunately, same error again :/

Loading fonts:
[code]

Exception:

`FPDFException: Undefined font: arialunicodeb - Use built-in fonts or FPDF.add_font() beforehand`

Full log:

![Ekran Alıntısı](https://user-images.githubusercontent.com/59928017/120929968-e8cc7c80-c6f3-11eb-84eb-25acee78c4b7.JPG)

[2021-06-07 08:13] Lucas-C commented on #156
This is indeed a bug. Thanks for reporting it!

I opened https://github.com/PyFPDF/fpdf2/pull/157 to fix this.

[2021-06-07 19:10] #108 closed

[2021-06-07 20:10] #156 closed

[2021-06-07 23:39] mat100payette opened #159 "Function set_image_filter not in library but shows in docs"
The [docs ](https://pyfpdf.github.io/fpdf2/Images.html) for image manipulation show the following snippet:

[code]

However I can't find `set_image_filter` anywhere. Is this outdated ?

[2021-06-08 03:51] mat100payette opened #160 "Image takes incredible amount of disk space"
I'm using images about 800KB in size, yet the resulting pdf is a massive 12MB! When I simply remove the image call, I effectively get a PDF that is under 1MB. Clearly something isn't ok there?

[code]

[2021-06-08 04:12] mat100payette commented on #160
Here's some more context:

[code]

The print says `1380050` bytes, so 1.3MB. The total PDF size after the `pdf.image` call skyrockets to 15MB. That's unacceptable for our clients.

[2021-06-08 07:33] Lucas-C commented on #159
No, this just has just not been released yet:
https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#240---not-released-yet

I'm planning a new released by the end of the week.

[2021-06-08 07:33] #159 closed

[2021-06-08 07:34] Lucas-C commented on #160
This should improve a lot in next release, thanks to the newly supported DCTDecode image filter for JPEG images:
https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#240---not-released-yet

[2021-06-08 13:02] mat100payette commented on #160
What a coincidence! Cant wait to see it in action; that should drastically improve our infrastructure's performance.

[2021-06-08 17:13] Lucas-C commented on #159
Note that, in the meantime, you can test the latest version this way:

    pip install git+https://github.com/PyPDF/fpdf2.git@master

[2021-06-08 19:30] Lucas-C commented on #159
I'm waiting for the last open PR to be finished.

Note that this synta does **not** require authentication credentials, only a `git` client.

[2021-06-08 19:58] davidcrab opened #161 "Template only allows for Interleaved 2 of 5 Barcode"
It seems like there is no way to use a template to create a Code 39 Barcode since this if statement is only looking for a Interleaved 2 of 5 Barcode. Am I missing something or should this be a simple addition to make it possible to use Code 39 with templates?

https://github.com/PyFPDF/fpdf2/blob/e00a49b81dd2569df3c82b34f453628a78fc4156/fpdf/template.py#L298

[2021-06-09 08:43] Lucas-C commented on #161
The `Template` utility class is definitively not the component of `fpdf2` that received most love,
and it is sometimes a bit messy in terms of API & features support.

I opened https://github.com/PyFPDF/fpdf2/pull/163 to add support for Code 39 barcodes though.

[2021-06-09 12:36] #161 closed

[2021-06-11 04:07] Kewings commented on #123
[code]

add fonts downloaded

[2021-06-11 15:51] #31 closed

[2021-06-11 15:53] Lucas-C commented on #160
A `v2.4.0` has just been released!

Does it improves your situation ?
If so, feel free to close this issue

[2021-06-11 16:33] mat100payette commented on #160
@Lucas-C The parameter of `set_image_filter` says:

What is meant here by "best image filter" ? Is it optimizing file size ? Is it doing some tradeoff between quality and size ?

[2021-06-11 17:34] mat100payette opened #166 "New update (2.4.0) introduces a tiny bit of jank"
I have now updated to 2.4.0, and the file size is drastically improved so that's amazing. However, there's some slight jank here and there. Here's 2 things I noticed after simply updating and adding `set_image_filter('AUTO')` to my code:

1. Images became 1 pixel/unit too tall, I had to change `h = something` to `h = something - 1` otherwise the images would be moved on a new page.
2. Some symbols

[2021-06-12 08:03] Lucas-C commented on #160
Currently, we simply use `DCTDEcode` if the image is already JPEG-compressed, otherwise the image is not compressed and the whole pixels array is stored (`FlateDecode`)

[2021-06-12 08:07] Lucas-C commented on #166
Thanks for reporting those issues.

Could you please provide some Python code reproducing them in order to help finding a solution?

I'll have a look at it on my side, but without knowing what images / font files / code you are using,
I may not be able to reproduce the problems you mention

[2021-06-12 08:12] Lucas-C commented on #166
Also, `set_image_filter('AUTO')` is unnecessary as it is now the default value:
https://github.com/PyFPDF/fpdf2/blob/2.4.0/fpdf/fpdf.py#L238

[2021-06-12 09:10] Lucas-C commented on #166
I found a unit test reproducing your 1st issue, I'm working on it

[2021-06-12 10:49] Lucas-C commented on #166
Could you confirm that those issues are fixed for you with the new release `v2.4.1`?

[2021-06-13 13:25] Lucas-C commented on #116
I found an articled dedicated to this: https://python.plainenglish.io/generate-and-serve-pdf-files-with-django-e3efd9fde7bc

Closing this now

[2021-06-13 13:25] #116 closed

[2021-06-15 13:35] WalidGharianiEAGLE opened #170 "multi_cell returns wrong google map search link"
Im having an issue when the content contain a google map search links. When opening the link through the generated pdf, I get directed with the wrong link. Here is an example to replicate
Version: 2.4.1

[code]

[2021-06-15 20:37] Lucas-C commented on #170
Hi @WalidGharianiEAGLE !

There are two things happening here:

* because you used `pdf.multi_cell`, the URL is broken into several lines in the cell

* a link is not added automatically, but some PDF readers will still detect that the first line of the cell starts with `http://` and allows the user to open it in a web browser.

One simple workaround here is to explicitely set a link on the target

[2021-06-15 20:39] Lucas-C commented on #170
Does this solve your issue?

[2021-06-15 20:40] #160 closed

[2021-06-15 22:29] mat100payette commented on #166
I confirm that both issues are fixed in 2.4.1.

[2021-06-15 22:29] #166 closed

[2021-06-15 23:01] WalidGharianiEAGLE commented on #170
@Lucas-C Thank you for the feedback and the explanation. I used a simple example where I added that link in purpose but yes your code solved that. In my case I have several different links withing a column. I tried to iterate over the list of links, but the output was not what I expected in terms of the length of the table and the links to be shown when opened.

[code]

[2021-06-16 19:40] WalidGharianiEAGLE commented on #170
I ended up using the following:
[code]
This solved the issue for this particular case with `list_links`. But i think if the str of the data is as follow
[code]
The distribution of the data in this case withing the table will not be as expected
or lets say there are many other links in different columns, The solution will not likely to solve the link issue.

[2021-06-17 16:13] Lucas-C commented on #170
Glad you found a solution to your issue!

This may be an alternate solution:
[code]

[2021-06-17 16:14] Lucas-C commented on #170
If you are happy a solution shared in this thread, can this issue be closed?

[2021-06-18 07:50] WalidGharianiEAGLE commented on #170
Thank you for the suggestion, but the alternative solution you provided didn't actually solve it. It rewrites the table twice. For my side I believe that the issue could be closed since i found a working solution, although it might be revisited in the future if the links are distributed in different columns.

[2021-06-22 13:27] pwt opened #171 "Optional markdown support is missing in the 'multi_cell()' and 'write()' methods"
Support for an optional `markdown` parameter was meant to have been added to the `cell()`, `multi_cell()` and `write()` methods (issue #108, PR #154), to allow rendering of inline bold, italic (etc.) text within a cell.

Support for the `markdown` parameter is present in the `cell()` method, but is missing from the `multi_cell()` and `write()` methods in FPDF2 v2.4.1.

Support **is** present in co

[2021-06-23 02:11] EmperorArthur opened #172 "Feature Request: Allow "FPDF.add_font" to accept a bytes/buffer object"
Hello,

This is more of a nice to have than anything, but in playing around, I found [this `pymupdf-fonts`](https://pypi.org/project/pymupdf-fonts/)convenient package. and thought it would be great if it could be loaded into the code without an extra step.

In addition, accepting bytes or buffers would allow for use with setuptools [Resource Manager API](https://setuptools.readthedocs.io/en/latest

[2021-06-23 08:38] #170 closed

[2021-06-23 08:41] Lucas-C commented on #171
Thanks for opening this PR to keep track of this.

As mentioned in comment https://github.com/PyFPDF/fpdf2/issues/108#issuecomment-853628742
adding support for pseudo-Markdown styling in `multi_cell()` & `write()` will require some extra work.

I have written some unit tests but I may not have the time to implement this soon.

Pull requests are very welcome!

[2021-06-23 08:53] Lucas-C commented on #172
Interesting!

I'll try to check out soon how `fpdf2` could work along this [pymupdf-fonts](https://github.com/pymupdf/pymupdf-fonts) library

[2021-06-23 08:58] pwt commented on #171
Apologies, @Lucas-C -- I'd missed that comment.

(I will take a look to see if I could help with the implementation, but I suspect there'll be too much of an FPDF learning curve for me to contribute efficiently.)

[2021-06-23 09:17] Lucas-C commented on #171
There are some unit tests to get started:

[test_multi_cell_markdown.py.txt](https://github.com/PyFPDF/fpdf2/files/6700568/test_multi_cell_markdown.py.txt)

[2021-06-23 15:41] korniichuk opened #173 "How to repeat table headers across all the PDF pages in document"
Hi fpdf2 community,

first of all thank you very much for the great work (maintenance, documentation, and many more).
I am looking for an option to **repeat table header** for long tables (2+ pages).
Many thanks for your help.

Example visualization of my question: https://www.extendoffice.com/documents/word/5433-word-table-header-repeat.html

[2021-06-24 00:34] EmperorArthur opened #175 "Bug: Templates do not work with images"
When attempting to use templates to arrange QR codes, I found that it produces an error.

The error may occur in the render call, but the issue is with the assignment.  The fact the data is stored in `pdf.texts` gives a hint to the problem, which is `Template.__setitem__` always calls `str(value)`.

Example Code:
[code]

[2021-06-24 00:43] EmperorArthur commented on #175
Note: Given how multi-page works with templates, I would suggest considering marking `__setitem__` as deprecated, and adjusting the instructions/examples to directly set the appropriate page within `pdf.texts`.

[2021-06-25 12:39] Lucas-C commented on #173
I opened a PR to document a recipe that performs what you want:
https://github.com/PyFPDF/fpdf2/pull/176

Does that provide the functionality you need @korniichuk ?

Alternatively, you can implement your own `table()` method.
There is an example crafted by another fpdf2 user:
* video: https://www.youtube.com/watch?v=euNvxWaRQMY
* code: https://github.com/bvalgard/create-pdf-with-python-fpdf2/blob/

[2021-06-25 12:41] Lucas-C commented on #175
I have just submitted https://github.com/PyFPDF/fpdf2/pull/177 to solve this issue

[2021-06-25 12:46] Lucas-C commented on #59
Implemented by @viraj-sha18 in https://github.com/PyFPDF/fpdf2/pull/174

[2021-06-25 12:46] #59 closed

[2021-06-25 13:42] korniichuk commented on #173
@Lucas-C `will_page_break` method looks great! Thank you very much for your help. We can close the issue now.

[2021-06-25 13:46] Lucas-C commented on #173
Great!
It may not be released before a few weeks,
but in the meantime you can replace this call by this simple check:
`pdf.y + cell_height > pdf.page_break_trigger`

[2021-06-25 13:46] #173 closed

[2021-06-26 09:10] mrEscen opened #178 "Feature Request: set_link x arg"
Hello,

Currently consider fpdf2 best pdf creator for my needs and plan to use it for generating technical drawing packages.
Each technical page is a high res image with a device rectangle on top with additional data.
Those package contains a large amount of pages with hundreds of devices, an fast and easy navigation is therefor crucial.

Is it possible to add a 'x' argument to set_link?
That make

[2021-06-26 13:14] Lucas-C commented on #178
Good idea, and this actually easy to implement!

I opened PR https://github.com/PyFPDF/fpdf2/pull/179 to support this

[2021-06-28 15:35] #178 closed

[2021-06-29 04:47] #175 closed

[2021-07-07 08:24] YeshiNamkhai commented on #171
Hi Lucas-C,
it would great to have it for multi_cell() considering also the template feature, say I may add 'markdown':True to the type TEXT and get the multiline formatted with bold, underline and italics.
Thanks

[2021-07-07 08:43] Lucas-C commented on #171
Agreed @YeshiNamkhai !

I probably won't tackle this one myself in the near future.
Like most [FLOSS](https://en.wikipedia.org/wiki/Free_and_open-source_software) projects, `fpdf2` is based on volunteer work.
I you really would like this feature, please consider submitting a PR ! 😉

[2021-07-08 13:51] bnyw opened #184 "Thai text not rendered correctly"
I've found that Thai text not rendered correctly in [unicode.pdf](https://github.com/reingart/pyfpdf/raw/master/tutorial/unicode.pdf)
from this code [Example](https://pyfpdf.github.io/fpdf2/Unicode.html#:~:text=parameter%20of%20add_font.-,Example,-This%20example%20uses)
I also ran the example code myself and the result is the same.
It should be "สวัสดีชาวโลก" in a single line.

[2021-07-08 15:40] Lucas-C commented on #184
Thank you for reporting the issue!

What font are you using?
Could you provide some minimal Python code reproducing the problem please?

[2021-07-08 15:41] Lucas-C commented on #184
@all-contributors please add @bnyw for bug

[2021-07-08 15:57] bnyw commented on #184
I use the font shown in this [Example](https://pyfpdf.github.io/fpdf2/Unicode.html#:~:text=parameter%20of%20add_font.-,Example,-This%20example%20uses), you can download the font [here](https://github.com/bnyw/bnyw/blob/main/Waree.ttf)

this is the code you can use to recreate this issue
[code]
I've tried some more fonts and the results are still the same.

[2021-07-13 00:12] arefmalek opened #190 "Rotated text cells"
Hi everyone, this is my first time opening an issue, so I apologize if I miss something.

I am looking to rotate text in multi-cells at an arbitrary angle, similar to [this issue](https://github.com/reingart/pyfpdf/issues/103) in the original FPDF repo and [this post](https://stackoverflow.com/questions/50306870/place-a-vertical-or-rotated-text-in-a-pdf-with-python) on SO. I tried using the `rotat

[2021-07-13 06:17] Lucas-C commented on #190
Hi @arefmalek !

Questions are very welcome, and yours is really clear, with even some code to illustrate it: great!

You'll find some usage examples of using `FPDF.rotation` here:
https://github.com/PyFPDF/fpdf2/blob/master/test/test_rotation.py

As you can see, this method is made to be used as a context-manager using `with`.

Does this solve your issue?

I'm going to improve the docs in order t

[2021-07-13 06:31] Lucas-C commented on #190
@arefmalek Do you think that the new docstring would have made usage of this method clearer to you? -> https://pyfpdf.github.io/fpdf2/fpdf/#fpdf.FPDF.rotation

[2021-07-13 15:43] Lucas-C commented on #184
Thanks to @moe-25, there is an upcoming PR adding support for unicode charcters above 0xFFFF: https://github.com/PyFPDF/fpdf2/pull/183

@bnyw, could you please check if your issue is solved when using the version from this branch?

    pip install git+https://github.com/moe-25/fpdf2.git@feature_emoticons

[2021-07-13 15:56] bnyw commented on #184
@Lucas-C It gave me this error
`UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 4457: character maps to <undefined>`.

[2021-07-13 16:33] arefmalek commented on #190
Hi  @Lucas-C ,

Yes! This appears to be what I needed, my document now does has a "Hello!" at a 30 degree angle with the code included below.

[code]

Regarding the new docstring, I personally would recommend you either link an example of something like
[code]
(the link you gave me should be good), or explicitly mention that `with` is used similar to file IO. I truthfully wasn't sure what you mean

[2021-07-13 16:33] #190 closed

[2021-07-14 07:48] Lucas-C commented on #184
Interesting... There seems to be an issue with the `README.md` or `setup.py` file...
I'll look into it ASAP

[2021-07-14 09:27] moe-25 commented on #184
I guess PR #183 won't solve the problem. The cause seems to be that character \u0E31 has a width of 65535 which is so wide that a line break is forced.

@bnyw: Could you please try the following hack and check if the result looks satisfying?
[code]

[2021-07-14 10:16] bnyw commented on #184
@moe-25 I've tested it and it's kind of work the result still has space after those characters which it shouldn't have.
![184_2](https://user-images.githubusercontent.com/32655514/125604730-a96b52ec-9f77-4354-a912-edbe8dde8eb0.png)

I tried change character width to 1 and it's working!
[code]
![184_3](https://user-images.githubusercontent.com/32655514/125605015-d84b81d7-d9c2-4bf7-87a8-8cdd597f04a6

[2021-07-14 20:01] Lucas-C commented on #145
Implemented by @moe-25 as part of https://github.com/PyFPDF/fpdf2/pull/183

[2021-07-14 20:01] #145 closed

[2021-07-14 20:38] Lucas-C commented on #184
I did not manage to reproduce your `UnicodeDecodeError` exception using the [code snippet you provided @bnyw ](https://github.com/PyFPDF/fpdf2/issues/184#issuecomment-876556198)

But glad to see you found a solution using @moe-25 hack! 💖

Do you see how this could be properly handled by `fpdf2`?

[2021-07-15 06:49] Lucas-C commented on #184
I opened https://github.com/PyFPDF/fpdf2/pull/191 to properly fix this

The resulting PDF is slightly different, as it seems to introduce extra whitespaces:
https://github.com/PyFPDF/fpdf2/blob/issue_184/test/fonts/thai_text.pdf

What do you think @bnyw : are those whitespaces normal for that font / language, or they shouldn't appear?

@moe-25 : would you be kind enough to review this PR please?

[2021-07-15 11:07] #184 closed

[2021-07-15 11:11] Lucas-C commented on #172
Just a quick heads-up: I haven't been able to install `pymupdf` on my laptop (the required steps are [a bit convoluted](https://github.com/pymupdf/PyMuPDF/issues/358#issuecomment-529868242)) so I haven't been able to progress on this subject yet.

Anyone is very welcome to have a look a it!

[2021-07-15 11:12] Lucas-C commented on #151
Quick update: now pending on https://github.com/PyFPDF/fpdf2/issues/171

[2021-07-15 23:13] EmperorArthur commented on #172
Oh, I didn't bother with that.  I just installed the fonts package.  https://pypi.org/project/pymupdf-fonts/

I believe they're ignoring the whole api I was talking about and just base64 encoding the data.

[2021-07-16 07:18] Lucas-C commented on #172
Alright, but the code to parse & load those font buffers are defined in MuPDF:
https://github.com/kobolabs/mupdf/blob/master/include/mupdf/fitz/font.h#L81

Without PyMuPDF, it will be difficult to extract those fonts...

[2021-07-16 07:31] Lucas-C opened #193 "New feature: support to insert sub-page navigation nodes"
Sub-page navigation allows navigating between different states of the same page, e.g. a series of bullet points that could be individually turned on and off (the bullets would be represented by optional content)

More about this PDF feature:

* section 12.4.4.2, "Sub-page Navigation", of the [PDF 1.7 spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf)
* Patrick Gallo

[2021-07-16 07:46] Lucas-C opened #194 "New feature: produce encrypted PDFs with fpdf2"
The scope of this feature is to **add support to fpdf2 to produce encrypted PDFs**.

More information about this PDF functionality & code samples can be found:
* in section 7.6, "Encryption", of the [1.7 PDF spec](https://christianhaider.de/dokuwiki/lib/exe/fetch.php?media=pdf:pdf32000_2008.pdf)
* in [PikePDF unit tests related to this feature](https://github.com/pikepdf/pikepdf/blob/master/tests/

[2021-08-02 08:23] ssemenukha opened #197 "Not readable barcodes"
Hi!

Detected issue when put some barcode in documents. Generated code can not be read. Neither POS scanner nor smartphone app.

Tried read codes from your [documentation page](https://pyfpdf.github.io/fpdf2/Barcodes.html) - it fails.

[2021-08-02 18:42] Lucas-C commented on #197
I have checked and the [Interleaved 2 of 5](https://en.wikipedia.org/wiki/Interleaved_2_of_5) works fine,
but there is indeed an issue with the [Code 39](https://fr.wikipedia.org/wiki/Code_39) barcode generator.

[2021-08-02 19:05] #197 closed

[2021-08-02 19:06] Lucas-C commented on #197
This because you need to enclose your text string into wilcards characters (`*`) in order for the resulting barcode to be valid.

I improved the docs & added a warning in the method.

Does that solve your issue @ssemenukha ?

[2021-08-03 13:55] Lucas-C commented on #19
Regarding vector graphics, @torque very recently submitted a PR to implement support for that: https://github.com/PyFPDF/fpdf2/pull/196

[2021-08-05 14:06] skwde opened #199 "Cell borders, alignment and get_string_width"
How to account for width added by using border around a `cell`?
I guess the same applies when calculating the height.

Or asked differently how to get the actuall size of a cell?

The problem is related to the `w` variable in `cell` becaue it uses the width as actual string length, also when setting e.g. `border=1`.
Is there already a way to do it?
If not, maybe  `cell` should use `w` as the actua

[2021-08-08 21:45] AubsUK opened #200 "Space appears at the end of each cell() where there is another cell() after"
OS: Windows 10
Name: fpdf2
Version: 2.4.2
Python: 3.9.5

When I output text into a cell(), I get a space (or probably some end-of-field character).  It **only** happens when using cell() where there is another cell() after it.

[code]

The space is visible when highlighting all text produced from the code above

![image](https://user-images.githubusercontent.com/68870168/128646922-82a8ea3f-49a6-45

[2021-08-09 21:37] AubsUK commented on #199
I think you're referring to cell padding (internal margin).  It looks like the border is always there, but either coloured or not.  it also looks like it's c_margin (Cell Margin) that's responsible here.

- If you don't speficy a width, you're allowing the cell to expand to fit the text with a built-in cell margin (padding).
- If you specify a width, you are restricting the cell to that size.  You

[2021-08-09 21:39] AubsUK commented on #199
Note on my last, if you want to change the c_margin, it would be worthwhile to capture the current value and then reset it back after:

[code]

[2021-08-12 04:13] takase1121 opened #201 "Draw footer without creating a new page"
Is it possible to draw the footer without using `add_page()`?

[2021-08-16 16:12] Lucas-C commented on #201
Sure, you can simply call the `.footer()` method manually.

If it triggers a page break and you want avoid that, do this:
[code]

Does that answers your question @takase1121 ?

[2021-08-16 16:16] Lucas-C commented on #200
I have tested and I do not reproduce this behaviour with either Sumatra PDF nor Adobe PDF Reader.

What reader are you using?

[2021-08-16 16:19] takase1121 commented on #201
Exactly what I needed to know, thanks!

[2021-08-16 16:19] #201 closed

[2021-08-16 16:24] Lucas-C commented on #199
Thanks for answering this in details @AubsUK ! 💖

Does that solve your issue @skwde ?

[2021-08-16 16:25] Lucas-C commented on #199
@all-contributors please add @AubsUK for question

[2021-08-16 16:34] AubsUK commented on #200
I'd tried with Firefox, Chrome and Adobe PDF Reader. All three showed the same. I actually think it's an end of cell field that doesn't get added to the end of a row. I think it's there with Microsoft Word too.

I had to change my code in the end to use the HTML write method as I don't think it was the 'fake character' causing the issue, but that the reader was looking at each cell as a single tab

[2021-08-16 16:34] #200 closed

[2021-08-16 17:19] Lucas-C commented on #200
No worries, thank you for closing this then

[2021-08-17 09:10] RubendeBruin commented on #91
Hi @Lucas-C , I've stated to implement this.

Only the text is quite straight forward with multi_cell. Adding the borders and background is more tricky as you need to know the height of the cell which may be dictated by unprocessed cells right of it.

To draw the borders and cell backgrounds you need to parse the whole row. `handle_data` only gives information about the current cell. I do not see

[2021-08-17 14:58] Lucas-C commented on #91
Sounds reasonable to me!

This will generate soem refactoring though.
Feel free to get rid of some properties like `self.table_col_index` or `self.table_col_width` if they are not needed anymore with this new approach!

[2021-08-18 06:16] skwde commented on #199
Sorry for my late reply.
@AubsUK & @Lucas-C yes, this exectly solves my questions. Thanks!

[2021-08-18 06:16] #199 closed

[2021-08-18 18:48] rjsu26 commented on #194
I want to work on this feature. Is it up for grabs?

[2021-08-18 21:07] Lucas-C commented on #194
Yes, go for it!

And feel free to ask all the questions you need 😉

[2021-08-19 04:52] rjsu26 commented on #194
Thanks @Lucas-C . On it !

[2021-08-21 07:19] Brianrmendes commented on #194
I would like to work on the issue

[2021-08-21 08:04] rjsu26 commented on #194
Hi @Brianrmendes I am already half-way into the task. We can team up to work on 2 different issues but with collaboration. What say?

[2021-08-21 08:09] Brianrmendes commented on #194
Sure Sounds good

[2021-08-21 08:14] Brianrmendes commented on #194
Is there any way I could reach you

[2021-08-21 08:16] rjsu26 commented on #194
DM on discord @rjs#2013

[2021-08-21 08:23] Brianrmendes commented on #194
Check DM

[2021-08-21 09:05] siddheshbandgar commented on #194
I would like to work on this issue, is it still open?

[2021-08-21 17:27] johann-su opened #203 "Background in Template not working"
I am having trouble getting the background on boxes to work when using templates.

There is an open issue in the original repo ([#151](https://github.com/reingart/pyfpdf/issues/151)) and a pull request ([#74](https://github.com/reingart/pyfpdf/pull/74)).

An example for reproduction:
[code]

[2021-08-21 18:02] Brianrmendes commented on #194
Please check #204

[2021-08-22 01:55] alexp1917 commented on #194
anyone can submit a pr and the best one will be merged

[2021-08-22 01:57] alexp1917 commented on #194
that said, i see that the issue is assigned to @rjsu26, so you might want to check with them first; but we will review all PR's that are created. thanks, everyone, for the interest in contributing!

[2021-08-22 07:42] alexp1917 commented on #203
it would be good to add this and #205 in the same release. The fix for this issue must contain a test though.

I notice there are some code changes which i do not understand. the default value of background can stay as `65535` instead of `0xFFFFFF`. but [this bit][1], for instance:

[code]

that avoids un-necessary pdf syntax from being added to the document, so i would try to keep that unless the

[2021-08-23 08:06] Lucas-C commented on #194
Note for people interested in implementing this feature:
some guidelines have been provided there in PR https://github.com/PyFPDF/fpdf2/pull/204

[2021-08-23 17:29] gmischler opened #207 "Expose multicell justify option in templates"
While the multicell has an align="J" option to justify text, this is not currently exposed to the templates.
It would require a simple modification in three places, changing

[code]
to

[code]
in each instance.
I could obviously do that myself, but executing a fork and sending a pull request feels like a bit of overkill in this case...
Thanks for your consideration!

[2021-08-24 08:54] Lucas-C commented on #207
I opened https://github.com/PyFPDF/fpdf2/pull/208 to implement this

[2021-08-24 09:16] Lucas-C commented on #203
I opened a PR to fix this: https://github.com/PyFPDF/fpdf2/pull/206

[2021-08-24 09:54] rjsu26 commented on #194
Thanks for the guidelines @alexp1917 and @Lucas-C. After reading the review comments and [the specification file](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf), I still have a doubt that why can't we directly AES encrypt the whole pdf directly instead of leaving some of the fields in trailers or the Encrypt dictionary of the PDF file. The command line --decrypt "pass

[2021-08-24 19:42] gmischler commented on #207
Cool, thanks a lot!

I see you got rid of translation dicts with the spanish codes instead of adding to them, which I didn't dare suggest as I wasn't sure about their history.
But yeah, they were a bit confusing...

[2021-08-25 18:22] johann-su opened #209 "Bottom margin"
Are there any plans to add a bottom margin functionality?

There is a Pr on the pyfpdf repo by reingart [#149](https://github.com/reingart/pyfpdf/pull/149).

Would be very useful to have this :)

[2021-08-25 18:34] johann-su opened #210 "Vertically align Text in a Cell or Multicell"
Is there an option to change the vertical alignment of text inside a multicell from center to top or bottom?

I am using them to create a table and it would be very helpful to have the ability to change the vertical alignment of the text inside the table rows.

<img width="577" alt="Bildschirmfoto 2021-08-25 um 20 33 55" src="https://user-images.githubusercontent.com/48410810/130846187-d441237f-f8

[2021-08-25 19:43] #209 closed, assigned to nobody

[2021-08-30 06:46] #203 closed

[2021-08-30 06:56] #207 closed

[2021-09-01 13:28] Lucas-C commented on #203
This has just been released in fpdf2.4.3

[2021-09-01 13:29] Lucas-C commented on #207
This has just been released in fpdf2.4.3

[2021-09-01 13:29] Lucas-C commented on #184
This has just been released in fpdf2.4.3

[2021-09-01 13:30] Lucas-C commented on #145
This has just been released in fpdf2.4.3

[2021-09-05 10:58] pandrey2003 commented on #194
Left some comments for #204. Let me know if they are relevant as I initially wanted to implement this feature. Although I have read docs on encryption and have acquainted myself with similar implementations, I do not have much free time.

[2021-09-07 06:41] RubendeBruin opened #212 "Failing unit-tests?"
I'm about to start implementing #91 , but many of the html unit-tests fail on my machine:

![image](https://user-images.githubusercontent.com/34062862/132296552-a25dec90-0bc1-4e3b-bc72-1281f5c1d5e3.png)

running the latest master and using qpdf.

_Visually_ the produced pdf looks the same as the reference pdf, but the qpdf based comparison fails on differences like:
![image](https://user-images.gi

[2021-09-07 08:21] Lucas-C commented on #212
Hi @RubendeBruin

Thanks for the report

The paths to the temporary PDF files generated by the tests should be displayed in the tests output.

Could you provide the PDF file resulting from `test_issue_156` on your computer please?

[2021-09-07 13:24] RubendeBruin commented on #212
My mistake, the checkout of master was not clean. It passes now.

consider closed.

[2021-09-07 13:24] #212 closed

[2021-09-10 08:11] markusnordstrom commented on #145
Hi,

Using the same example code from the second post of this thread, I still get the same error and no emojis on version 2.4.3. The only change I see in this is the line number 895 changing to 909:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/fpdf/ttfonts.py", line 909, in getLOCA
    start = self.seek_table("loca")
  File "/usr/local/lib/python3.7/site-pack

[2021-09-10 13:32] YeshiNamkhai commented on #171
Well,  I have no time to get it work in the last release, but adding few lines already does the job.

    @check_page
    def multi_cell(
        self,
        w,
        h=None,
        txt="",
        border=0,
        align="J",
        fill=False,
        split_only=False,
        link="",
        ln=0,
        max_line_height=None,
        #add this:
        markdown=False,
    ):

then insid

[2021-09-10 21:01] Lucas-C commented on #145
CBDT/CBLC fonts are still not supported by fpdf2.

You can however use the DejaVuSans font:
[code]

[2021-09-10 21:13] Lucas-C commented on #171
I am very surprised that it is actually as easy to implement 😲

When I worked on adding pseudo-Markdown support for `FPDF.cell`, I expected more complications with `multi_cell` due to the line breaks.

Anyway, I added your suggestion, thank you @YeshiNamkhai !
https://github.com/PyFPDF/fpdf2/blob/master/CHANGELOG.md#added

[2021-09-10 21:13] #171 closed

[2021-09-13 10:40] igorg2 opened #214 "set font windows-1255"
when i using a multi_cell command like this "pdf.multi_cell(pdf.epw, 8, text_file.read())"
i received error "nicodeEncodeError: 'latin-1' codec can't encode characters in position 75-79: ordinal not in range(256)"
i my text is with character encoding windows-1255 , how can i set encoding windows-1255 instead of default latin-1 ?

[2021-09-13 11:03] markusnordstrom commented on #145
Thanks for the reply! As DejaVuSans seems to have only the most basic emojis, I will have to look for another solution. Are there any plans to include CBDT/CBLC font support, or any issue I could follow meanwhile? Looking at the header, I don't think this issue is actually solved yet, but I'll leave it to you to consider whether it should be reopened.

Example code still creating just squares:

[c

[2021-09-13 18:44] gmischler opened #215 "Template.parse_csv() fails with "numeric" text field"
When a csv file contains an entry of the following form,

`line0;T;20.0;13.0;190.0;13.0;times;10.0;0;0;0;0;65535;C;987654321;0;0`

where the contents of the text field look to Python like a number (here: "987654321"), then it will fail.
The source of the problem is in `util.try_to_type()`, which tries to "guess" the type of an entry based on the data found there.
The result, which has now been con

[2021-09-13 19:35] gmischler opened #216 "Mixing template/non-template content in a document?"
If I'm not reading the documentation and code wrongly, then the template functionality is currently designed to support only one template per document. However, it would be quite practical if each page in a document could be treated with a different template, or even several templates could be overlayed on a single page.
Use cases for the former would typically be a title page, content pages, and

[2021-09-15 20:07] Lucas-C commented on #145
I think I consider that fpdf2 now has some "basic" support for emojis (with some fonts),
which is why I closed this.

I'm totally OK if you want to open an issue about CBDT/CBLC font support,
if you have a need for them.

[2021-09-15 20:09] Lucas-C commented on #214
Hi @igorg2!

Thanks for reporting you issue.

Could you please provide a minimal Python code snippet that produces this error,
so that we can help you with this encoding problem?

[2021-09-16 11:57] Lucas-C commented on #216
Indeed

Why that ?
The `Template` class can currently produce documents with multiple pages.

The [`FPDF.header()`](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.header) & `footer()` methods do not match your needs?

For the index page, we currently have some basic support for this in `FPDF`:
https://pyfpdf.github.io/fpdf2/DocumentOutlineAndTableOfContents.html

Agreed

Have you tri

[2021-09-16 11:59] Lucas-C commented on #215
Agreed!

A PR improving things would be very welcome 😉

[2021-09-17 22:23] alexp1917 commented on #215
nope sorry, my understanding of types is either they get checked at compile time or i dont have to care. My lack of python intuition will likely keep causing issues, as this library is more popular now than it used to be, since @Lucas-C did such a good job of making the github look presentable. So the real long term solution, imo, is for someone who programs in python (more than I) to simply take

[2021-09-17 22:58] alexp1917 commented on #194
also do not have enough time :)

[2021-09-18 05:05] igorg2 commented on #214
Thanks for your attention
I founded a solution with set a right TrueType font .

On Wed, 15 Sep 2021 at 23:09 Lucas Cimon ***@***.***> wrote:

[2021-09-18 06:56] Lucas-C commented on #214
Alright, glad you found a solution to your problem 😊

Closing this ticket then

[2021-09-18 06:56] #214 closed

[2021-09-18 08:16] gmischler commented on #215
That was a joke, btw... :wink:

Since we're talking about parsing **_user data_** from csv files here, compile time type checking in the usual sense is not the issue. The conversion (and implicit validity check) always has to happen at run time, but the decision about which item gets converted into which type **_must_** be hard-coded at compile time.

The problem is not python specific. Such a gue

[2021-09-18 14:55] gmischler commented on #215
Pull request #219 submitted.

[2021-09-20 13:33] ping opened #220 "Unicode in <h1> <h2>, etc, tags causes UnicodeEncodeError"
Unicode in html heading tags `<h1>`, `<h2>`, etc causes an unexpected `UnicodeEncodeError`.
The same text in another tag such as `<p>` works just fine.

[code]

[code]

[code]

Code to replicate the error:

[code]

[2021-09-20 20:15] Lucas-C commented on #220
I opened https://github.com/PyFPDF/fpdf2/pull/222 to solve this bug

[2021-09-20 20:28] #220 closed

[2021-09-21 01:18] ping opened #223 "Insufficient line height for large heading tags <h1>, <h2>"
This is apparent when the heading text is long and wraps over 2 lines or more.
Even the `<p>` tag line-height is a little too short in my opinion, but it's not half as bad as `<h1>` `<h2>`.

Since there is no css support, is there any way to influence line height?

[code]
Code to replicate the problem:

[code]

[2021-09-22 06:38] markusnordstrom opened #224 "CBDT/CBLC font support for color emojis"
Continued from #145

This code:
[code]

...generates an error:
[code]

[2021-09-22 07:38] Lucas-C commented on #215
https://github.com/PyFPDF/fpdf2/pull/219 has been merged, closing this

[2021-09-22 07:38] #215 closed

[2021-09-22 16:50] gmischler commented on #216
Multiple pages with a single template. I'm sure that's useful for many people, but not exactly what I was hoping for.

Those seem to be just a way to help organize your (client) code, and not in any way related to templating.

That is not an "index page", but machine readable index data elsewhere in the file, which can get accessed and displayed eg. by viewer programs.

`tmpl.render()` adds a new

[2021-09-22 17:23] gmischler commented on #216
My plan now is currently to mercylessly refactor template.py.

It will be split in two seperate classes, whith one of them, say TemplateCore(), handling all the template specific functionality, while the remaining Template() will handle management of FPDF() and its pages.

The purpose of TemplateCore() is to load template data, parse it, and apply it to a pdf page provided to it. It does not creat

[2021-09-25 19:19] gmischler opened #226 "FPDF.rotation() behaves weirdly"
While implementing offset and rotated rendering of template data, I ran into quite some weird behaviour.

[code]
While `fix = True`. everything looks fine - at least at first sight.
Taking another look you'll notice that only the first "stamp" is using the font set in the subroutine, the others take the one from the top level.
If you remove the top-level font setting (`fix = False`), part of the p

[2021-09-26 11:45] gmischler opened #227 "Template type for code39 ignores template field conventions"
`Template.cod39()` uses field names just directly taken from `FPDF.code39()`, instead of adhering to the standard template format. This kind-of "worked" for elements dicts, but was impossible to use with csv files.

I'm going to fix this together with my refactoring, deriving the required values as follows:

[code]
edit: the "barcode" type uses "size" for the bar width, so I'll do the same.

It lo

[2021-09-27 18:18] Lucas-C commented on #226
Thanks for reporting this!

Some methods simply should not be used inside a `FPDF.rotation` context:
[code]

I opened this PR in order to forbid this:
https://github.com/PyFPDF/fpdf2/pull/229

[2021-09-27 18:49] Lucas-C commented on #227
Sounds good to me!

Thanks for spotting this and for planning to submit a PR in order to improve things!

[2021-09-27 19:12] Lucas-C commented on #227
It seems that you fixed this as part of https://github.com/PyFPDF/fpdf2/pull/228, am I right?

[2021-09-27 19:21] #226 closed

[2021-09-27 19:22] Lucas-C commented on #226
@allcontributors please add @gmischler for bug

[2021-09-27 20:26] gmischler commented on #227
Yes, it's fixed in #228.

[2021-09-28 15:14] Lucas-C commented on #223
Thanks for reporting the issue

I have opened https://github.com/PyFPDF/fpdf2/pull/236 to fix this

[2021-09-28 15:20] Lucas-C commented on #194
I closed #204

To be clear with people interested in this: this feature is still up for grabs!

Just be sure to check the comments made in #204 if you want to submit a PR 😉

[2021-09-28 20:02] Lucas-C commented on #223
I also opened https://github.com/PyFPDF/fpdf2/pull/237 to make headings sizes configurable

[2021-09-28 23:50] ping commented on #223
@Lucas-C
Thanks for the fixes. I found some issues with the fix after updating my local install to fb9af3d.

1. The TOC rendering has become messed up.

![fb9af3d_toc](https://user-images.githubusercontent.com/104607/135179919-65e8e8b0-77dc-430f-ad01-4fa96b5d4c1b.png)

2. The subsequent `<p>` tag rendered after the headings now becomes incrementally smaller, depending on the prior heading size. Th

[2021-09-29 08:15] Lucas-C commented on #223
Thanks for the feedback @ping

I have added a new code fix.
Could you test the latest version on the `master` branch please?

[2021-09-29 12:15] ping commented on #223
@Lucas-C Thanks for the quick fix. The decreasing font problem has been indeed been solved.
The TOC also looks better now.

I've found another issue with the TOC rendering but it is a problem that aready exists on v2.4.3 and not specific to this issue fix. Should I create a new issue for this?

1. This problem occurs when a long heading title (which wraps) comes after a shorter heading title. The

[2021-09-29 15:45] Lucas-C commented on #223
You can customize the TOC rendering: https://pyfpdf.github.io/fpdf2/fpdf/html.html#fpdf.html.HTML2FPDF.render_toc

[2021-09-29 16:27] gmischler opened #238 "Template.split_multcell() modifies document"
`FPDF.multi_cell(split_only=True)` is designed not to modify the file, and that's what `Template.Split_multicell()` uses.

But...

To actually make it work, it needs to call `FPDF.set_font()` first. And that does modify the document, even if the effect is not immediately visible. Because it happens asynchronously to the actual rendering of the related template element, it will quite often lead to

[2021-09-29 17:13] Lucas-C commented on #223
I reckon there could be some documentation on how to do that.

Would you mind reviewing https://github.com/PyFPDF/fpdf2/pull/239 please @ping?
I tried to make things clearer & easier about HTML TOC rendering customization in this PR.

[2021-09-30 04:22] Lucas-C opened #240 "Outline misses level 1 heading if document starts with a level 2 heading"
Spotted by @ping in https://github.com/PyFPDF/fpdf2/pull/239 using this HTML:
[code]

Resulting page 2 in Sumatra PDF reader:
<img width="500" alt="2021-09-30 06_19_16-Steam" src="https://user-images.githubusercontent.com/925560/135386790-cea06eab-ac31-4e87-ba83-03301d7f888d.png">

[2021-09-30 05:50] ping opened #241 "Markdown once enabled bleeds into subsequent cells"
Modifying the sample code in the docs:

[code]

![markdown](https://user-images.githubusercontent.com/104607/135394610-d6ed2bf0-1167-4378-a30d-379154a5227a.png)

[2021-10-01 08:23] Lucas-C commented on #241
I opened https://github.com/PyFPDF/fpdf2/pull/242 to fix this

[2021-10-01 12:46] #241 closed

[2021-10-01 17:09] Lucas-C commented on #238
Whenever a font is add with `add_font`, it will be inserted in the PDF, whether `set_font` is used or not

It is certainly doable, but it would add quite some complexity to the code...

Why don't you want to call `set_font` in or before calling `Template.Split_multicell` exactly?

[2021-10-01 17:12] Lucas-C commented on #210
Thanks for your explanation. I think I understand precisely the feature you want and why.
I agree that an option to align the text to the top, bottom or center of the cell
would be great. Again, PRs are welcome to implement that!

[2021-10-01 17:15] Lucas-C commented on #223
@all-contributors please add @ping for bug

[2021-10-01 17:16] Lucas-C commented on #223
@ping do you think this issue can be solved? :)

[2021-10-01 17:29] Lucas-C commented on #240
I tested the PDF code generated in that case:
https://github.com/PyFPDF/fpdf2/blob/master/test/outline/test_outline_serializer.py#L81

All seems right. I suspect a bug in PDF readers.

* with Adobe Acrobat Reader:
<img width="457" alt="html_toc_with_h1_as_2nd_heading pdf-Adobe-Acrobat-Reader" src="https://user-images.githubusercontent.com/925560/135662570-33d69ea5-6e4a-4ccf-b845-5504ead2c2ef.png">

[2021-10-01 22:12] ping commented on #223
Looks good to me. Thanks for the quick fix!

[2021-10-01 22:12] #223 closed

[2021-10-02 08:27] #238 closed

[2021-10-03 10:59] #227 closed

[2021-10-03 11:00] #216 closed

[2021-10-04 16:12] Lucas-C opened #245 "New feature: render text with a given shape"
In HTML, some CSS & SVG capabilities allow to render text in the form of a given shape:
![shape-outside](https://user-images.githubusercontent.com/925560/135885868-241852ca-238c-4c59-9635-96798554aeba.jpg)

Related documentation:
* [Overview of CSS Shapes @MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Shapes/Overview_of_CSS_Shapes)
* [tutorial on the shape-outside property](https://css

[2021-10-05 03:57] portfedh opened #246 "Documentation: Missing links?"
I found two very simple issues:

Firstly, I noticed that in the README.md
Under the "Documentation:" Section the following text is available:
Tutorial (Spanish translation available)
Tutorial is linked to its corresponding webpage, but "Spanish translation availabe" could also link to
`https://pyfpdf.github.io/fpdf2/Tutorial-es.html`

Secondly,  I noticed that the tutorial page has three tutorials

[2021-10-05 08:00] Lucas-C commented on #246
Thank you for reporting those issues

This is releated to https://github.com/PyFPDF/fpdf2/issues/56 : I was planning to review the tutorial files as the library as significantly changed over the last year

Would you like to submit a PR to fix some links?

[2021-10-07 19:41] gmischler opened #249 "Change default background to transparent in templates"
Currently most template elements have a solid background with a default color of white, with no way to turn that off. There's no technical necessity for that as far as I can see, it probably just wasn't considered in the original design.

I would like to make a slightly backwards incompatible modification, and change the default to transparent. In effect, when you leave the background field empty

[2021-10-07 19:58] gmischler opened #250 "Manage a stack of local graphic state (started about: set_dash_pattern())"
There's a `FPDF.dashed_line()` method, which is essentially just a call to `FPDF.line()` wrapped in two `_set_dash()` calls.

If you want a dashed line style for any other graphics, you'd have to violate the conventions and call the formally private `_set_dash()` on your own, which is not a nice situation to be in.

Wouldn't it make more sense to turn `_set_dash()` into a formal part of the public

[2021-10-08 06:49] Lucas-C commented on #249
Good idea, I agree with this change!
Sound a better usage model, and not something we really want backward compatibility for.
Would you submit a PR @gmischler ?

[2021-10-08 16:08] gmischler commented on #249
I'm on it, and maybe some more template improvements along the way...

[2021-10-09 09:34] gmischler commented on #250
Looking at the internals a bit more (been decades since I checked out PostScript syntax...), I'm starting to wonder why the ability to create a local graphics state on the stack is not exposed more conveniently.

I'm thinking of the ability to do something like this
[code]
without polluting the already existing surrounding graphics state.
If I'm not mistaken, this could be implemented in about fou

[2021-10-10 14:32] gmischler commented on #250
Ok, so it turns out to be more than five lines, but most of it is just straightforward boilerplate.
I hadn't previously realized how much local state `FPDF()` is maintaining itself.
The solution to that is simply to maintain our own stack of graphical state items (have I missed any relevant ones?).
I experimented with a subclass do demonstrate the concept:

[code]

Yes, using styling operations wi

[2021-10-11 19:06] Lucas-C commented on #250
`fpdf2` is intended to be a "high level" lib to build PDFs.
That being said, why not providing more "low level" control to its users,
as long as it doesn't make things more complex.

As far as I know, they do not have any significant impact on performances.

This looks promising!
I have a few minor concerns regarding this approach:

* **backward compatibility**: `.draw_color`, `.fill_color`, `.tex

[2021-10-11 19:36] #249 closed, assigned to nobody

[2021-10-12 16:13] Lucas-C opened #256 "Request for doc: how to insert mathematical formulas in PDFs"
Inserting mathematical formulas in PDFs built with `fpdf2` can be achieved in at least 2 ways:
* using `matplotlib`, _cf._ https://stackoverflow.com/a/4028479/636849
* using Google Charts API: `'https://chart.googleapis.com/chart?cht=tx&chl=' + quote('x^n + y^n = z^n')`

The image generated can then be embedded using [`FPDF.image()`](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.ima

[2021-10-12 16:16] #56 closed

[2021-10-12 16:20] Lucas-C opened #257 "New feature: generate PDF forms"
The scope of this feature is to **add support to fpdf2 to produce PDF forms**.

More information about this PDF functionality & code samples can be found in section 12.7, "Interactive Forms", of the [1.7 PDF spec](https://opensource.adobe.com/dc-acrobat-sdk-docs/standards/pdfstandards/pdf/PDF32000_2008.pdf), as well as on the [PDF Wikipedia page](https://en.wikipedia.org/wiki/PDF#Forms)

By implem

[2021-10-12 16:26] Lucas-C opened #258 "New feature: draw arcs & solid arcs"
One or two new methods could be added to `FPDF`,
similarly to the existing, [rect()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.rect), [circle()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.circle), or [ellipse()](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.ellipse)

Inspiration could be taken from [HexaPDF](https://hexapdf.gettalong.org/examples

[2021-10-13 21:07] CerqueiraMatheus opened #259 "Documentation: include Portuguese translation"
Hey! It would be nice if a Portuguese translation was available. I'm a brazilian user and could develop it.

[2021-10-14 12:17] CerqueiraMatheus commented on #259
It looks great to me! I'll start with the Tutorial page. Is there any other change besides adding a new file and referring the main one to it (like the Spanish Tutorial translation)?

[2021-10-14 13:37] Lucas-C commented on #259
That's all, you can go for it!

If you want you can also add a reference to your new page in the `README.md` (line 84)

[2021-10-18 15:59] Lucas-C opened #262 "PDF/A compliance"
I'm opening this issue to track work to ensure PDF/A-compliant can be generated using `fpdf2`.

My current idea would to provide a `get_pdfa_compliance()` method
 that would return `None` or `'PDF/A-1'` depending on several criteria:
* document language is set
* all images have alternate descriptions
* no encryption is used
* document has as an author, document title, creation data, and source pro

[2021-10-19 18:58] #256 closed, assigned to nobody

[2021-10-25 18:43] Lucas-C opened #267 "Translate the one-page tutorial in your language!"
The tutorial is a simple Markdown document:
* rendered as HTML: https://pyfpdf.github.io/fpdf2/Tutorial.html
* source: https://github.com/PyFPDF/fpdf2/blob/master/docs/Tutorial.md

It is currently available in several languages, listed [in the README](https://github.com/PyFPDF/fpdf2#documentation) and [the documentation index page](https://pyfpdf.github.io/fpdf2/#tutorials).

PRs are very welcome

[2021-10-26 19:13] #258 closed, assigned to nobody

[2021-10-26 22:37] digidigital opened #274 "Example scripts"
When I used FPDF for PHP (some years ago)I really liked the scripts section of the homepage since it was a good resource for extending FPDF without having to wait for a new release or to cover edge cases.

I have ported some of the original scripts 1:1 to python -> https://github.com/digidigital/Extensions-and-Scripts-for-pyFPDF-fpdf2

I see you guys are busy implementing a lot of those features i

[2021-10-29 08:43] Lucas-C opened #277 "Test & document the rect_clip function"
This function is defined here:
https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py#L3717

It allows to render part of an image:
[code]
Usage examples can be found in https://github.com/Lucas-C/undying-dusk

I introduced this function last year (in commit https://github.com/PyFPDF/fpdf2/commit/d05e112)
but at the time the tests suite was dirty & limited,
and I did not add documentation nor uni

[2021-10-29 15:03] edsonitk opened #279 "multi_cell with split_only=True requires add_page"
Hi,

Using pyfpdf I could use multi_cell (split_only=True) just to know the number of lines in the string but now using pyfpd2 I have to previously use add_page().
mistake:
fpdf.errors.FPDFException: No page open, you need to call add_page() first

[2021-10-29 20:16] Lucas-C commented on #279
Thanks!

I'm closing this then, but feel free to reopen the issue if you'd like to discuss it further or suggestions for changes.

[2021-10-29 20:16] #279 closed

[2021-10-30 20:11] Lucas-C commented on #259
The tutorial was translated by @fuscati in https://github.com/PyFPDF/fpdf2/pull/284

@CerqueiraMatheus would you like to work on translating other parts of the documentation?

[2021-11-01 09:27] gmischler opened #291 "Feature Request: Support soft hyphen in Multicell"
The [soft hyphen](https://en.wikipedia.org/wiki/Soft_hyphen) (Unicode `U+00AD`) is used by a lot of text processing software to mark a position in a word where breaking the line with a normal hyphen would be acceptable. If used appropriately, the result are text blocks that flow much more naturally, especially when long words are used in a narrow column. The edge(s) get much less jagged in aligned

[2021-11-01 13:58] Lucas-C commented on #291
Thank you @gmischler for suggesting this valuable feature!

[2021-11-10 10:14] CodingBDX opened #295 "set margin"
hello
i use pyfpdf i think and now i use your script but you call the function by the same name?? from fpdf ????

otherwise
i just want put margin into my pdf but i search pdf.setmargin  ? mypdf.set_margin ? set_margins?
what's is correct, please?

and other question, i put image card in my pdf and i would like background image, it's possible???

thank for answer

[2021-11-10 13:19] Lucas-C commented on #295
Hi @bibiyanki2 and welcome!

Thanks for reaching out with your questions 😉

I may need a bit more info to be able to help you.
Could give a little more details on what you mean by this sentence:

1. How have you installed `fpdf2`? The standard way, using `pip install fpdf2`?
2. What function are you trying to call exactly? And if you are facing an error message, could you please share it here in d

[2021-11-11 08:59] bibiyanki2 commented on #295
my script

` class MyFPDF(FPDF):

             pass

        def photos_pdf():
             pdf = MyFPDF("P", format='A3', unit='mm')
             photos = glob.glob(filePath1 + "/*.png")
             x = 5
             y = 5
             counter = 0
             nbre = 5
             nbre_par_page = 15
             counter2 = 0

             pdf.add_page()

             for photo in photos:

[2021-11-11 12:29] Ericbaz opened #296 "Feature Request: set_y() boolean flag to avoid affecting x coordinate"
I'll just preface this by saying that this library saved my life at the new job . So thanks to all of you in advance.

Anyway, I've stumbled into this behavior where the abscissa of the current position is reset every time you use set_y().  It kind of stumped me, since set_xy() didn't really fit my particular situation.

After some research, I found this Stack Overflow post about the same thing in

[2021-11-12 15:04] Lucas-C commented on #295
Photos are images, so yes it's possible.

Sadly, this sentence does not make much sense in English...
Comme tu sembles parler français, essaie peut-être de m'expliquer ta question ou ton problème dans la langue de Molière 😉

[2021-11-12 16:47] Lucas-C commented on #296
Hi @Ericbaz!

Glad that `fpdf2` was so useful to you :)

Regarding `set_xy()` behaviour, I fully understand how it can be unexpected and somehow annoying.

It may be difficult to change it however, as changing its definition would break backward compatibility in a way that would be hard for users to identify and track down.

Nevertheless, this method is only two lines of Python:
https://github.com

[2021-11-13 07:08] #250 closed

[2021-11-13 07:24] TECH-SAVVY-GUY opened #299 "`ENCODING ERROR`"
Hi. I am having an issue with FPDF2.

I have a database as shown below.

![image](https://user-images.githubusercontent.com/83786816/141610025-3c0fda8f-5eb0-4a05-84cb-7bbdbba054ca.png)

Now, I want to create a pdf using these data.
However, the username field in the database has a different encoding.
When the PDF is created everything is working except for the username encoding problem.

![image](

[2021-11-13 17:36] Lucas-C commented on #299
Hi and welcome @TECH-SAVVY-GUY !

I can try to help, but could you provide some minimal Python code reproducing your problem please?
Without knowing what methods are called with what values, I cannot do much...

[2021-11-13 18:32] TECH-SAVVY-GUY commented on #299
Thanks for offering help @Lucas-C !

Actually, I am creating a `Telegram Bot` that uses the [Firebase API](https://firebase.google.com/) as it's database framework.

Now, I want to store all the user interactions with my bot as `logs` on my database.
I have already shared the general `schema` of my database.

Now, the problem is that various Telegram users have various kind of `Names`, with differ

[2021-11-13 20:43] gmischler commented on #299
Your name tag is composed of rather exotic unicode characters:

|  |||
| -- | -- | -- |
| ➤ | U+10148 | Black Rightwards Arrowhead |
|   | U+32 | ASCII space |
| 𝓢 | U+120034 | Mathematical Bold Script Capital S
| 𝓸 | U+120056 | Mathematical Bold Script Small O
| 𝓱 | U+120049 | Mathematical Bold Script Small H
| 𝓪 | U+120042 | Mathematical Bold Script Small A |
| 𝓶 | U+120054 | Mathematical Bold S

[2021-11-13 21:22] Lucas-C commented on #299
@allcontributors please add @gmischler for question

[2021-11-13 21:36] Lucas-C commented on #299
This is really a perfect answer @gmischler, thank you!

I have some good news though: this feature is built-in in Python:
[code]

[2021-11-14 08:09] gmischler commented on #299
Ah, so my conclusion at the end was only partially correct.
I was aware of Pythons unicodedata, but didn't remember how powerful the normalize function was.
As long as your users write their names in something that is based on the latin script, this should indeed do the trick.

As soon as someone decides to write their name in eg. hindi though, you'll still need to find a font containing those cha

[2021-11-14 09:59] TECH-SAVVY-GUY commented on #299
Thanks for providing a solution! May I ask, what is the purpose of the `"NKFD"` arguement in the `normalize` function?
I looked up the online documentation [here](https://docs.python.org/3/library/unicodedata.html), but didn't quite understand! 😅

[2021-11-14 10:02] TECH-SAVVY-GUY commented on #299
Thanks for the reply @gmischler !

I have one question: I am using the `Roboto Slab` font to create my `PDF` files.
Now, isn't `Roboto Slab` a google font?
So, technically it should cover all the `unicode characters`?

[2021-11-14 10:16] TECH-SAVVY-GUY commented on #299
Actually, I was thinking of something else for this issue.

Let's assume we are creating a `table` in an `Excel Sheet`.
Now, there is a `default font` that applies to all the cells in the document, right?
But say, I want to edit a cell in particular. That particular cell can have a `different font`, right?
Now, what if we use this idea and make all the cells under the `Name` column `font independe

[2021-11-14 11:12] gmischler commented on #299
That controls the different ways how combined (usually accented) characters are handled. The Python manual gives a few examples.

What does being a "Google font" (technically: commissioned by Google) have to do with the selection of glyphs covered?
Very few fonts include dingbats and mathematical symbols, anyway. And if a character is shown as a rectangle, then it very obviously isn't included.

T

[2021-11-14 13:08] TECH-SAVVY-GUY commented on #299
Alright, thanks for clearing out my questions! 😄

[2021-11-14 13:08] #299 closed

[2021-11-15 18:05] TECH-SAVVY-GUY opened #301 "`Add a new default font`"
Hi, just wanted to ask: Can you all include [Roboto-Slab](https://fonts.google.com/specimen/Roboto+Slab) as a default font for FPDF2?

Actually, I am making a module which is dependent on this library and the `add_font()` method is not working.

![image](https://user-images.githubusercontent.com/83786816/141831622-7681439a-7759-4906-98b2-ea7456f18453.png)

The best possible solution is to add the

[2021-11-15 20:18] Lucas-C commented on #301
Hi @TECH-SAVVY-GUY

You did not provide details on what error you are facing, so it will be very difficult to help you...

I just tested embedding this font, and it works fine:
[code]

[2021-11-15 22:42] gmischler commented on #295
@bibiyanki2, I think you are trying to have a background image across the full size of the of the page without any white space around it, while the rest of the contents should still be limited to the area within the page margins.

To do that, you can use `pdf.set_margin(0)` to set all margins to zero, and insert your image to the full paper size.
Then you set the margins back to some suitable valu

[2021-11-17 10:57] Ericbaz commented on #296
It's the other way around. As stated previously, it's the set_y() method that behaves this way.

I got around that by keeping in mind that I have to call set_y() BEFORE set_x() just so my positioning doesn't get botched. Which is what led me to suggest the boolean flag to disable that "self.x = self.l_margin" contained in the set_y() method, like they apparently did in the original PHP library.

W

[2021-11-17 11:09] Lucas-C commented on #296
OK.

Closing this for now, thanks for notifying us about this small API hindrance

[2021-11-17 11:09] #296 closed

[2021-11-23 16:51] TECH-SAVVY-GUY commented on #301
Hey, sorry for the late response.

Actually, I was building my a module which depended on the `FPDF2` package.

I wanted to add my custom font in the module itself. That's why I wanted to contribute in adding a font to this package by default.

Anyways, I discarded that thought and used one of the default fonts that `FPDF2` provides already.

Feel free to check out my [module ](https://pypi.org/pr

[2021-11-23 18:16] Lucas-C commented on #301
Nice!

[2021-11-23 18:25] Lucas-C commented on #301
I added a mention of your project on this documentation page:
https://pyfpdf.github.io/fpdf2/#community
(it should appear in less than 5min)

Is it OK for you to close this issue then @TECH-SAVVY-GUY ?

[2021-11-23 19:15] TECH-SAVVY-GUY commented on #301
Thanks for mentioning my project! 😁

Sure, I am closing this issue 😄

[2021-11-23 19:15] #301 closed

[2021-11-29 16:15] Zwolfen opened #304 "colspan and rowspan in html_write() function"
Hello, can html_write() use such properties as "colspan" and "rowspan"?
Or maybe there is another way to make more complicated tables with html_write() function?
And i just dont get the way how?

simply example

[code]

![simply_table_html](https://user-images.githubusercontent.com/16862799/143901924-6a79af60-2014-4c8b-aa85-6b876f0ca41f.JPG)

and what i get now, trying to use same html code. (i kn

[2021-11-29 17:17] Lucas-C commented on #304
`colspan` is supported. Example:
* [unit test](https://github.com/PyFPDF/fpdf2/blob/master/test/html/test_html.py#L366)
* [resulting PDF](https://github.com/PyFPDF/fpdf2/blob/master/test/html/test_img_inside_html_table_centered_with_caption.pdf)

`rowspan` is however not supported yet.

[2021-12-07 06:44] yellkrishna commented on #267
Hey! I can provide a Telugu translation for this.

[2021-12-07 08:39] Lucas-C commented on #267
@yellkrishna That would be wonderful!
Thank you for volunteering 🙏❤️

[2021-12-08 18:17] prashantmalicomp opened #307 "Support html table with long text for <td> table data attribute"
**Please explain your intent**
I need result with long text in html table.

please check my sample code for your reference
[code]

**Describe the solution you'd like**
I want to see all description text.
<img width="648" alt="long_text_issue" src="https://user-images.githubusercontent.com/32578879/145261923-fa1cb8a5-ff2f-4201-a65a-ff2d7ad2fc2f.png">

[2021-12-09 06:33] oleksii-shyman commented on #291
Hello, I would like to work on this feature.
Can I get assigned to me?

[2021-12-09 07:55] Lucas-C commented on #291
Great!
Sure, done

[2021-12-09 08:04] Lucas-C commented on #307
This is a know limitation, _cf._ https://github.com/PyFPDF/fpdf2/issues/91

Closing this issue as a duplicate

[2021-12-09 08:04] #307 closed

[2021-12-19 22:14] oleksii-shyman commented on #291
Status update -> created a draft pull request here

https://github.com/PyFPDF/fpdf2/pull/308

[2022-01-12 15:40] muety opened #316 "AttributeError: module 'fpdf' has no attribute 'svg'"
I'm using `fpdf2==2.4.6`. Trying to follow [this guide](https://pyfpdf.github.io/fpdf2/SVG.html) to include an SVG image, I get the above error message.

[code]

[2022-01-12 19:59] Lucas-C commented on #316
This feature has been merged just yesterday and has not been released yet.

With @torque we would be very happy to have feedback from users though!

To test the SVG feature, you can install the latest version of `fpdf2` from the `master` branch of this git repo:

    pip install git+https://github.com/PyPDF/fpdf2.git@master

[2022-01-12 20:05] muety commented on #316
What a coincidence! Thanks a lot, works now.

[2022-01-12 20:05] #316 closed

[2022-01-12 22:47] Lucas-C commented on #19
#196 has been merged so this is now supported: https://pyfpdf.github.io/fpdf2/SVG.html

To test it out:

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

[2022-01-12 22:47] #19 closed

[2022-01-13 09:56] francescoalongi commented on #316
Hello,
first of all thank you for this work, I was messing around with the old fpdf package and then you saved my life :)

Do you already know when the version with svg feature will be released? I really need it as a release!

Thanks.

[2022-01-14 00:09] VikR0001 opened #317 "'from fpdf import FPDF' Throws an Error?"
FPDF has errors with unicode, so I uninstalled it, and installed FPDF2.

I see from the FPDF2 docs that the correct way to import it is:

      from fpdf import FPDF

However, my compiler (intelliJ) throws an error there:

How can I correct this?

[2022-01-14 11:21] Lucas-C commented on #317
Hi @VikR0001!

Interesting, let's see if I can be of any help...

First of, JetBrains IntelliJ is a bit more than a compiler, it's an [IDE](https://en.wikipedia.org/wiki/Integrated_development_environment).

Answering the following questions should help you solve this problem:
* How did you install `fpdf2` exactly? Through IntelliJ? With what command exactly?
* Intellij offers a [terminal](https:/

[2022-01-14 11:25] Lucas-C commented on #316
@francescoalongi : probably before the end of the month.

Have you tried the SVG features? If so, what is your feedback? On its usage, its documentation, any difficulty you had?

[2022-01-18 12:40] lcomrade opened #320 "Not displaying Russian text in the table of contents"
Russian characters are not displayed in the table of contents.
But English text, numbers and special characters are displayed normally.

**Error details**
I don't get any exceptions.

**Minimal code**
[code]

**Environment**
* GNU/Linux
* Python 3.9.2
* `fpdf2` 2.4.6

[2022-01-18 12:42] lcomrade commented on #320
The table of contents should be `Русский, English, 1 2 3...`, but it displays `, English, 1 2 3...`.

![image](https://user-images.githubusercontent.com/70049256/149939089-e8fa1598-53c4-445c-aeb3-d895b6f1566a.png)

[2022-01-18 15:06] Lucas-C commented on #320
Thank you for reporting this @lcomrade

This is strange as we should have a test covering this already:
* https://github.com/PyFPDF/fpdf2/blob/master/test/html/test_html.py#L433
* https://github.com/PyFPDF/fpdf2/blob/master/test/html/html_heading_hebrew.pdf
* introduced in https://github.com/PyFPDF/fpdf2/pull/222/files

I'll try to have a closer look at it this evening

[2022-01-18 15:06] Lucas-C commented on #320
@all-contributors please add @lcomrade for bug

[2022-01-18 16:08] Lucas-C commented on #320
OK so in fact the existing test shares the same issue:
the hebrew text is not rendered in the outline.

I guess we need to find the correct encoding to use when embedding unicode text in the document outline.

[2022-01-19 12:48] CY-Qiu opened #322 "Cannot input chinese. LookupError: unknown encoding: UTF-16BE"
Describe the bug

  File "fpdf/fpdf.py", line 220, in wrapper
  File "fpdf/fpdf.py", line 1727, in text
LookupError: unknown encoding: UTF-16BE

**Minimal code**
[code]

**Environment**
* Kylin Linux arm64
* Python 3.7.9
* fpdf2 2.4.6

I guess it is possible with the big endian system. Refer:
https://github.com/pypa/pip/issues/6054
Maybe we should change the encoding "UTF16-BE" to "utf-16-be"？

[2022-01-19 13:03] Lucas-C commented on #322
Hi @CY-Qiu!

Thank you for reporting this.

"UTF16-BE" & "utf-16-be" are the same.

I tested your code, and it works fine on my system!

I used this font file: https://github.com/micmro/Stylify-Me/blob/master/.fonts/SimSun.ttf

This is quite strange...

[2022-01-19 13:09] Lucas-C commented on #322
I don't really see why you are missing this encoding on your system, it should be standard:
https://docs.python.org/3/library/codecs.html#standard-encodings

Could you try replacing `UTF-16BE` in `fpdf/fpdf.py` by `utf-16-be` and see if that solves your issue?

[2022-01-20 02:07] CY-Qiu commented on #322
After change `UTF16-BE` to `utf-16-be`, my problem solved.
In addition, I tried to use `UTF16-BE`  directly in python command line. Here is the result.
[code]

[2022-01-20 15:49] #320 closed

[2022-01-20 16:26] #322 closed

[2022-01-20 16:26] Lucas-C commented on #322
I made the switch in https://github.com/PyFPDF/fpdf2/pull/326

@CY-Qiu could you check if your issue is solved in the latest `fpdf2` version from git please ?

    pip install git+https://github.com/PyFPDF/fpdf2.git@master

[2022-01-21 02:18] CY-Qiu commented on #322
@Lucas-C I can confirm the newest master branch work fine now. Thank you!

[2022-01-22 14:03] pwt opened #327 "Issue with the use of markdown and justified text (align="J")"
## Error details

Justified text (`align="J"`) doesn't render correctly when bold markdown is present. Please see the justified paragraph examples in the attached PDF [markdown_test.pdf](https://github.com/PyFPDF/fpdf2/files/7918489/markdown_test.pdf) when markdown is used.

Thanks in advance for taking a look at this. Let me know if any additional details/testing would be useful.

## Minimal Code

[2022-01-22 14:14] pwt commented on #327
Note also that when I run the same test program with my locally available Montserrat font family, there are also issues with centred and right-aligned text. Please see [markdown_test.pdf](https://github.com/PyFPDF/fpdf2/files/7918496/markdown_test.pdf).

Let me know if you want further details on this.

[2022-01-22 17:28] Lucas-C commented on #327
Thank you for the very detailed bug report & excellent minimal reproducing code!

@all-contributors please add @pwt for bug.

[2022-01-22 17:35] Lucas-C commented on #317
Hi @VikR0001

Have you solved your issue?

Without any feedback from you, I'm going to close this issue soon.

[2022-01-22 17:42] VikR0001 commented on #317
Thanks very much in advance! Here is the requested info:

Python 3.8.9

pip 21.3.1

arabic-reshaper==2.1.3
asgiref==3.4.1
async-generator==1.10
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
chromedriver-py==97.0.4692.71
click==8.0.3
cryptography==36.0.1
cssselect==1.1.0
cssselect2==0.4.1
cssutils==

[2022-01-22 17:42] Lucas-C commented on #322
Great! This is as now been released as part of `v2.5.0`

[2022-01-22 17:43] Lucas-C commented on #316
This is as now been released as part of `v2.5.0`

[2022-01-22 17:49] Lucas-C commented on #295
Hi @CodingBDX

Have you solved your issue?

Without any feedback from you, I'm going to close this issue soon.

[2022-01-22 17:57] Lucas-C commented on #317
Great, thanks!

Let's go on testing: could you try the following commands in the terminal please?
[code]

[2022-01-22 18:00] VikR0001 commented on #317
[code]

[code]

[2022-01-22 18:02] VikR0001 commented on #317
running pip install updated from fpdf2-2.4.6 to fpdf2-2.5.0.

Checking anomaly...

[2022-01-22 18:02] VikR0001 commented on #317
Hey that worked!

Thanks!

[2022-01-22 18:04] #317 closed

[2022-01-22 18:37] Lucas-C commented on #327
I made a rapid analysis of this bug:

* when `align == "J"`, the spacing between characters is set here: https://github.com/PyFPDF/fpdf2/blob/2.5.0/fpdf/fpdf.py#L2483

* to improve code readability, `ns` should be renamed `whitespace_count` and `ls` into `chars_total_width`

* when the bug reveals itself, `chars_total_width` is incorrect as it includes markdown characters in its total (`*` / `_` /

[2022-01-22 18:41] Lucas-C commented on #317
Great! 😊

FYI the fact that the output of the 2nd command, `<module 'fpdf' (namespace)>`, did not include a path to a Python source file was strange. Maybe the issue here is that you had a file named `fpdf.py` in your current directory, which conflicted with the library import.

[2022-01-22 18:46] pwt commented on #327
Thanks for the very quick response to this, and for adding me to contributors :-).

[2022-01-22 22:56] gmischler commented on #327
While it implements my feature request #291, the PR #308 is actually created and worked on by @oleksii-shyman.
He is indeed trying to address this issue as well, if I understand [#308#issuecomment-1003657924](https://github.com/PyFPDF/fpdf2/pull/308#issuecomment-1003657924) correctly.

[2022-01-22 23:00] Lucas-C commented on #327
Oh yes, sorry for the confusion @gmischler 😊

[2022-01-23 05:41] oleksii-shyman commented on #327
yes, I am working on this issue and have some results (didn't push updated branch, because there are still things to be cleared)

This is what my code does ->
![image](https://user-images.githubusercontent.com/8827452/150666415-ea518330-f998-43c8-b1e0-6f0ba0418209.png)

Same screenshot on master branch code output ->
![image](https://user-images.githubusercontent.com/8827452/150666449-d5556009-862

[2022-01-23 12:05] Lucas-C opened #329 "Doc: provide an example on how to combine usages of borb & fpdf2"
Joris Schellekens made another excellent pure-Python library dedicated to reading & write PDF: [borb](https://github.com/jorisschellekens/borb/). He even wrote a book about it: [borb-examples](https://github.com/jorisschellekens/borb-examples/).

 ![](https://raw.githubusercontent.com/jorisschellekens/borb/master/logo/borb_64.png)

 Similar to how fpdf2 documentation [currently includes](https://p

[2022-01-25 08:21] Lucas-C opened #330 "Improve error msg to suggest using a unicode font when getting UnicodeEncodeError: 'latin-1' codec can't encode character"
Some unicode characters cannot be rendered using the built-in fonts.

This issue was first reported in https://github.com/reingart/pyfpdf/issues/86#issuecomment-1020683025.

**Minimal code**
[code]

**Output**
[code]

[2022-01-25 09:42] Lucas-C commented on #330
A workaround is to use a unicode font instead of a built-in one

[2022-01-26 14:15] luciano-schirmer opened #331 "_substitute_page_number function is logging message as INFO level"
IMHO, it should log at DEBUG level. Logging it as INFO ends up bloating the log of the application that uses fpdf. I didn't find a way to suppress this log message and I think it is not useful information at INFO level.

The code is in [this line](https://github.com/PyFPDF/fpdf2/blob/4a636e1eab8300ca95535ec8b6cf0fcfa752d4a9/fpdf/fpdf.py#L3073).

I noticed that this is the only log message that use

[2022-01-26 14:18] luciano-schirmer commented on #331
Note: [Documentation](https://pyfpdf.github.io/fpdf2/Logging.html) says that fpdf logs messages at DEBUG level. It doesn't mention INFO level, so it may be a bug.

[2022-01-26 16:18] Lucas-C commented on #331
I think this is a totally fine suggestion 😊
Do you want to contribute a PR?
Else I'll do the change myself.

[2022-01-27 01:17] luciano-schirmer commented on #331
I'd be glad to contribute in a couple of days.

[2022-01-28 10:57] #331 closed

[2022-01-28 19:28] #295 closed

[2022-01-29 08:04] Lucas-C commented on #240
Closing as "won't fix" because this "bug" is very likely on the PDF readers side.

[2022-01-29 08:04] #240 closed

[2022-01-29 08:18] Lucas-C commented on #151
Quick status update: solving this would require rendering the whole `<p>` block with `FPDF.multi_cell()`.
But how to combine that with parsing of HTML tags like `<b>` or `<u>` inside the paragraph?
A solution could be to convert those to Markdown markers, but that's not an elegant solution...

https://github.com/PyFPDF/fpdf2/issues/91 is also closely related

[2022-01-29 08:34] Lucas-C commented on #330
I tested this case with [borb](https://github.com/jorisschellekens/borb):
[code]
It results in this error:
[code]

[2022-01-29 08:35] Lucas-C commented on #330
Hence, as I suspected, rendering those characters with the builtin font is not possible.
We should improve `fpdf2` error message though.

[2022-02-01 22:09] larsga opened #336 "Add a `get_string_height()` method"
The `get_string_width()` method is super useful for calculating the correct positioning of text, but for some uses it's necessary to also know the height of text.

The method signature could be exactly like `get_string_width()`, but return the height of the highest character in the string. No need to handle line breaking or anything like that.

My use case is I'm rendering [phylogenetic trees](htt

[2022-02-02 08:55] Lucas-C commented on #336
Interesting use case! In case of a PDF, does your approach with scaling things based on labels height mean you will set the PDF page dimensions based on them too?

For `fpdf2`, I'm not sure that a `get_string_height()` method would make much sense, as text height is currently only based on 2 things:
* the current `FPDF` instance `.font_size` / `.font_size_pt`
* the `h` parameter passed to the `wri

[2022-02-02 11:24] larsga commented on #336
Page dimensions: yes. I compute the size of the image I'm producing and then I will set the page size to make that fit. Maybe eventually there will be an option to set page size and compute everything from that. In that case, font size will have to be scaled to fit the circle, which still requires accurate estimates of string height.

I totally understand what you mean about the methods that take

[2022-02-02 15:19] Lucas-C commented on #336
`text()` is not deprecated, it's simply the only method that **only** display a string, and does not have any notion of "surrounding cell dimension". The height of the text it prints only depends on the `.font_size`.

Can you maybe base your layout on the `.font_size`?

[2022-02-02 15:50] larsga commented on #336
Yeah, I can probably base it on `font_size`. I'll try that, and come back here if it turns out there are problems with it.

[2022-02-03 14:35] #329 closed

[2022-02-03 14:46] Lucas-C commented on #259
I'm closing this due to inactivity

[2022-02-03 14:46] #259 closed

[2022-02-03 14:47] Lucas-C commented on #329
Result: https://pyfpdf.github.io/fpdf2/ExistingPDFs.html#borb

[2022-02-04 11:13] #291 closed

[2022-02-04 11:21] Lucas-C commented on #291
Good job @oleksii-shyman on providing this feature,
and improving the code base at the same time!

Soft hyphen is now supported in both `cell()` & `multi_cell()` methods now!

[2022-02-07 10:36] Lucas-C opened #340 "Make FPDF.write() use _render_styled_cell_text()"
In #308, @oleksii-shyman introduced a new `FPDF._render_styled_cell_text` method.
It should also be used by the `FPDF.write` method in order to harmonize code.

Unit tests already exist that cover `FPDF.write` behavior, so this refactoring should be relatively straightforward.

_cf._ #339 for more context

[2022-02-07 11:08] harshlancer commented on #340
Can I work on this issue?

[2022-02-07 11:28] Lucas-C commented on #340
Sure @harshlancer, and welcome!

I'm going to _assign_ you this issue to reflect your interest on it.

As a starting point I would recommend that you get a look at the [Development documentation page](https://pyfpdf.github.io/fpdf2/Development.html). Maybe start to get the sources with `git`, install it with `pip install -e .` and launch the [unit tests](https://pyfpdf.github.io/fpdf2/Development.

[2022-02-13 06:06] chandan00761 commented on #62
I would like to work on this issue.

[2022-02-13 10:48] Lucas-C commented on #62
Great @chandan00761 !

How familiar are you with `fpdf2` and Python development in general?

As a starting point I would recommend that you get a look at the [Development documentation page](https://pyfpdf.github.io/fpdf2/Development.html). Maybe start to get the sources with `git`, install it with `pip install -e .` and launch the [unit tests](https://pyfpdf.github.io/fpdf2/Development.html#testi

[2022-02-14 21:30] Lucas-C commented on #62
Thank you for reporting this!
I fixed those tests in https://github.com/PyFPDF/fpdf2/commit/f0e2a40.
If you update your local repository copy (here is [a guide](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork) to update your fork) the tests should now pass.
You may also want to install [qpdf](https://qpdf.sourceforge.io/) in order to get

[2022-02-22 09:32] gmischler opened #343 "Simplify specifying the new position after multline text"
When having a closer look at how to best adapt `.write()` to the new line wrapping code (per #340), I ended up struggling a bit with the concept behind the `ln=#` parameter to both `.multicell()` and `.write()`, and now also `._render_styled_cell_text()`.  Judging by its name, I suspect that originally it was only meant as a `True/False` value to indicate wether the position should move to a new l

[2022-02-22 13:36] gmischler commented on #343
On closer inspection, it's even worse than I first thought, since `.multi_cell()` actually uses different semantics than the other two (assuming we can trust the docstrings):
[code]
And no, a non-true value doesn't necessarily indicate no line jump. This conflicts with reusing `ln=False` for staying on the same line.
So we would need a different parameter for the vertical displacement as well. Wou

[2022-02-22 16:22] Lucas-C commented on #343
`eol` = _"end of text"_ sounds good IMHO 😊

If we want to support all combinations of the values for `eot_x` & `eot_y` you listed, that would be 5 x 3 = 15 options.
If we want to support those 15 possible behaviours, the solution of having two distinct `eot_x` & `eot_y` parameters seems right.
But do we really want to support all those cases?
So far, I do not recall any user asking for more than t

[2022-02-22 16:54] gmischler commented on #343
Build it and they will come! :wink:

I'm trying to think about the most easily accessible and understandable API at the moment.
Whether there will be some fewer or some more options in the end... They don't really cost anything, do they?

[2022-02-23 07:50] Lucas-C commented on #343
No they don't cost much :) It's all about ease of use I think.

[2022-02-23 09:00] gmischler commented on #343
Along the same lines...

I see that `.cell()` and `._render_styled_cell_text()` have a `center=False` parameter, which when set to True overrides all other positioning and alignment settings and centers the text between the page margins.
This is unnecessarily redundant and confusing. It clutters the code, and the user-side replacement is a trivial one-liner.
Can we pretty please get rid of that as

[2022-02-23 09:28] Lucas-C commented on #343
Seems OK with me if `align="C"` does the exact same thing 😊
Go on and submit a PR ! 😉

[2022-02-24 15:24] Aamet40 opened #344 "Problem when apply executable setup operation"
Describe the bug

**Error details**
If an exception is raised, it is very important that you provide the full error message.
Otherwise members of the fpdf2 won't be able to help you with your problem.

**Minimal code**
Please include some minimal Python code reproducing your issue:
[code]

**Environment**
* OS (Windows, Mac OSX, Linux flavour...)
* Python version
* `fpdf2` version used

When i try

[2022-02-24 15:38] Lucas-C commented on #344
Hi and welcome @Aamet40 😊

I'm the maintainer of `fpdf2`, and I'm sorry but I do not have much experience with PyInstaller / Inno Setup.

Hopefully other fpdf2 users may be help to help you, but could you provide a bit more information maybe?
What configuration files & commands are you using?

[2022-02-24 15:48] Lucas-C commented on #340
Hi @harshlancer !

Have you been able to look at this? 😊

[2022-02-24 15:49] Lucas-C commented on #62
Hi @chandan00761 !

Have you been able to move forward on this? 😊

[2022-02-24 15:51] Lucas-C commented on #336
Hi @larsga!

Have you been able to test this? 😊

Should we close this issue?

[2022-02-24 19:45] larsga commented on #336
Sorry! I do have a workaround, so if you don't want to add this method please feel free to close.

[2022-02-25 08:57] #336 closed

[2022-03-01 21:23] Lucas-C opened #345 "Stop using pickle - deprecating the font caching mechanism + .pkl font files definitions parsing"
**Intent**
The `pickle` module is currently used in [fpdf.py](https://github.com/PyFPDF/fpdf2/blob/master/fpdf/fpdf.py) to implement a font caching mechanism.
However this library is notoriously dangerous: https://intoli.com/blog/dangerous-pickles/
[bandit](https://github.com/PyCQA/bandit/) warned us about it: [.banditrc.yml](https://github.com/PyFPDF/fpdf2/blob/master/.banditrc.yml)

**Solution**

[2022-03-02 07:31] Spenhouet commented on #345
I guess this is referring to the font caching file.
Some quick notes on that since it bothered me and I wanted to deactivate it.

The docs [here](https://pyfpdf.github.io/fpdf2/Unicode.html#metric-files) state:

but the docs [here](https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.add_font) state:

where only the second one is correct.

The caching can be disabled via the `font_cache_di

[2022-03-02 09:42] Aamet40 commented on #344
Hi,
Thank you for your reply.
Eventhough i specify the custom .ttf file  dir when i try to make exe file with pyinstaller, it doesnt take fpdf2 dist files from python dir and eventough i manually put it to program file ,after i made a setup from exe, it still doesnt see the custom ttf  file dir. But finally i changed path in the fpdf script for my dir and it worked. It is not my native language I

[2022-03-04 19:13] Lucas-C commented on #345
I opened PR #347 to deprecate both the font caching mechanism and prepare deprecation for `.pkl` font files definitions parsing.

This won't be enought to get right of the `pickle` module right now, but we should be able to do so in the next non-patch `fpdf2` release.

Regarding performances, I did a quick comparison using this test code:

<details>
  <summary>issue_345.py</summary>

[code]

</det

[2022-03-04 19:22] Lucas-C commented on #345
@Spenhouet would you kindly review the PR please ? 😊

[2022-03-07 08:11] #340 closed

[2022-03-07 10:18] Lucas-C commented on #345
Deprecation warnings introduced in PR #347 have been released in new patch version v[2.5.1](https://github.com/PyFPDF/fpdf2/releases/tag/2.5.1)

Next step will be to fully remove the dependency on the `pickle` module in the next new minor version

[2022-03-07 11:33] mcerveny opened #349 "multi_cell table is broken"
New features breaks table rendering with multi_cell().
multi_cell() is not rendered if txt="". It breaks table design (cell() is ok).

[test.pdf](https://github.com/PyFPDF/fpdf2/files/8197304/test.pdf)

[code]

[2022-03-07 13:08] mcerveny opened #351 "cell() computes wrong width"
Something wrong between 2.5.0 -> 2.5.1 with cell() width compute (with markdown=True)

[test_2.5.1.pdf](https://github.com/PyFPDF/fpdf2/files/8197885/test_2.5.1.pdf)
[test_2.5.0.pdf](https://github.com/PyFPDF/fpdf2/files/8197886/test_2.5.0.pdf)

Testing code:
[code]

[2022-03-07 14:08] Lucas-C commented on #349
Hi @mcerveny

Thanks for reporting this.
The behaviour of `multi_cell()` with empty text input was never tested before.

Here is a unit test we should add, based on your code @mcerveny:
[code]

Ping @gmischler: what do you think would be the best approach here, to keep the same behaviour as before?
In the new code, `_render_styled_cell_text()` is responsible for incrementing `FPDF.x` but is never

[2022-03-07 14:55] Lucas-C commented on #351
Thanks for reporting this @mcerveny!

I have found a fix. Commit should be merged very soon.

[2022-03-07 14:55] #351 closed

[2022-03-07 15:04] #327 closed

[2022-03-07 15:45] #349 closed

[2022-03-07 15:45] Lucas-C commented on #349
Fixed!

[2022-03-08 02:39] chandan00761 commented on #62
@Lucas-C Sorry, I was busy with my semester exams. I am free now and looking into it. I have read the pdf spec file and will start the implementation.

[2022-03-08 09:13] henrik1348 opened #355 "Tag structured pdf"
I want to create a tag structured pdf to improve accessibilty. I tried using html_write() and html tags but the pdf the script returns dosen't provide a tag structure at all (Only tags for images with alt_text).

Is there a way to create a tag structured pdf using FPDF?

[2022-03-08 09:37] nova-03 opened #356 "Adding simple SVG provokes: ValueError: could not convert string to float: 'm'"
FPDF2 is a great project and I am very happy that fpdf2 was expanded with the SVG support early this year. Thank you for that!

While adding a simple SVG like this

[code]

Here is the content of search.svg:

[code]

I get an ValueError: "could not convert string to float: 'm'"
which has been thrown in svg.py at line 690

I am using Python 3.9.2 with the latest version of the master fpdf2 branch (

[2022-03-08 10:48] Lucas-C commented on #355
Hi @henrik1348

Thank you for opening this discussion

What have basic support for marked sequences, currently implemented through a private method:
[code]
This is used to insert image `/Title` & `/Alt` text, and to build the [document outline](https://pyfpdf.github.io/fpdf2/DocumentOutlineAndTableOfContents.html).

However `fpdf2` currently does not provide a clean, public API for users to build

[2022-03-08 11:10] Lucas-C commented on #356
Thank you for reporting this bug @nova-03!
And thanks for providing the SVG file.

I'll get a look at it soon.
Ping @torque for information

[2022-03-08 11:25] Lucas-C commented on #356
The full stack trace:
[code]

[2022-03-08 13:09] henrik1348 commented on #355
Thanks a lot @Lucas-C !
I will try it out!

[2022-03-08 13:29] #356 closed

[2022-03-08 13:29] Lucas-C commented on #356
Fixed!

[2022-03-08 14:20] Lucas-C commented on #355
Great! I'd be happy to get your feedback after you tried things out 😊

[2022-03-08 19:16] nova-03 commented on #356
Great. Thanks!

[2022-03-08 19:31] nova-03 opened #358 "Problems rendering arcs in SVGs"
Adding SVG with content:

[code]

results in "broken" arcs.

I am using Python 3.9.2 with the latest version of the master fpdf2 branch (2.5.1)

[2022-03-08 20:51] nova-03 opened #359 "While using Unicode fonts if markdown in multi_cell is on, then the rendering of muliti_cell in a subsequent line is broken"
This code renders a "broken" table if Unicode fonts are used:
[code]

If you set "markdown=False" in the code above, the rendering is not broken any more.

This bug emerged after some latest changes in the master branch.

I am using Python 3.9.2 with the latest version of the master fpdf2 branch (2.5.1)

[2022-03-09 10:38] gmischler opened #360 "Documenting text functions and improving documentation outline"
In the context recent changes to various text functions (most recently #343 / #350) it has come up that there is no in-depth explanation of those functions and their differences (let alone the new positioning options) other than in the docstrings. Since I've modifying some of that functionality already, I probably should also add such a page, though in a seperate PR to keep things manageable.
In a

[2022-03-09 11:59] henrik1348 commented on #355
@Lucas-C
does _marked_sequence() takes any other arguments than title and alt_text?

[2022-03-10 08:09] Lucas-C commented on #358
I had a look at this bug this morning, but I couldn' figure it out so far...
It seems to be caused by some erroneous arc-overlap logic.

Ping @torque if ever you have some time to look at this 😊

[2022-03-10 13:23] gmischler commented on #359
That only seems to happen when the txt argument to multi_cell _**ends**_ with a markdown item, like `"xyz **abc**"`.
With just one other trailing character (`"**abc** "`) it will work correctly.

Apparently the character mapping algorithm "forgets" to switch back to the regular font after it is done, so the next invocation will look up the characters in the wrong set.
But I don't really understand

[2022-03-10 15:27] nova-03 commented on #359
Thanks @gmischler for taking a look at this.

It seems to me that this problem actually has two parts:

This is the first part which occurs also with non Unicode fonts.
When I run the code above with Helvetica font set, I get:
![image](https://user-images.githubusercontent.com/101177440/157693158-0554a19e-f89c-48a6-80fa-03c36eb55b7a.png)
where the second line is also rendered bold although it shou

[2022-03-10 20:36] Lucas-C commented on #358
While I haven't found the fix yet, I have isolated a minimal SVG file reproducing this bug:

[code]

How it is rendered by a web browser can be compared to how `fpdf2` renders it, using the following Python code:
[code]

What really amazes me, and makes this bug quite mysterious, is that **the numeric values after the `h` & `v` operators can be changed, without the arc starting point moving**, whe

[2022-03-10 20:48] gmischler commented on #359
I think I found a solution, although I'm not sure if it's the correct one.

If we give the contents of the text handling part of `._render_styled_cell_text()` their own graphics state stack level, then the symptoms go away.

[code]
The " q ... Q " nearby issued depending on `self.fill_color` (#348?) may or may not be still needed after that.
The change would invalidate practically all reference PD

[2022-03-10 22:45] gmischler commented on #358
[Scalable Vector Graphics (SVG) 2, 9.3.4. the "closepath" command](https://www.w3.org/TR/SVG2/paths.html#PathDataClosePathCommand) says this:

It is not stated very explicitly, but that seems to imply that the current position should be moved along as well.
In your example, after the "Z" the current position should again be (15, 40).
Instead, fpdf draws the "Z" line but apparently ignores the asso

[2022-03-11 11:18] Lucas-C commented on #358
Yes, this quote from https://www.w3.org/TR/SVG/paths.html#TermInitialPoint enlightened me:

I opened https://github.com/PyFPDF/fpdf2/pull/362 to fix this

[2022-03-11 11:18] #358 closed

[2022-03-11 11:41] Lucas-C commented on #355
Currently `_marked_sequence()` can only render structure elements with the `Figure` type,
it is hardcoded in the code: [`fpdf.py` line 2976](https://github.com/PyFPDF/fpdf2/blob/2.5.1/fpdf/fpdf.py#L2976)

This method can receive as named arguments any of the entries described in [section 14.7.2 of the PDF spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf): `iD`, `a`

[2022-03-11 11:46] Lucas-C commented on #359
Thank you two for you investigations!

The change you suggest @gmischler increase 4 bytes the size of any text line rendered by `fpdf2`:
this is not ideal, but it its a solution that can be considered.

Is the next step here to submit a PR?

[2022-03-11 11:51] Lucas-C commented on #360
Wow, that's a great plan, thanks @gmischler !

No objection at all, I've been thinking aboutre-structuring the docs' ToC for a few months, without taking the time to do it so far. Much appreciated 😊

I think some page contents are maybe a bit outdated (`Unicode` & `Web2Py` for example) but they could be edited later on.

Go on, please submit a PR! 🙏

[2022-03-11 12:17] gmischler commented on #359
We'd have to check if we can do it more selectively, and/or if we can remove the other q/Q pair from #348 in exchange.
So the 4 bytes are only the worst case scenario.

I can include it in my currently open one... 😉

[2022-03-11 12:58] jwinkel13 commented on #136
A workaround would be to estimate the # of pages if the estimate is off one can use the # of pages the error returns to set the correct number. It allows for a max of 2 iteration

[2022-03-11 13:08] Lucas-C commented on #359
Alright, but the "worst case scenario" is always the most common one...
Best case = user was setting the `fill_color` - Worst case = any other situation!

Also, practically speaking, all PDF reference tests files containing text will have to be updated.
I'd really prefer this to happen in a dedicated PR.
In fact, I'd really prefer that we find a better solution 🙂
I'll try to get a look at it next

[2022-03-13 14:45] gtnbssn opened #364 "Justified text is not aligned left on the last line of every paragraph in a multi-cell"
I was using 2.5.0, and when the text is justified, the last line of each paragraph was aligned left.

This looks better than justified text, given that the last line is shorter.

With 2.5.1, only the very last line of the multi-cell will be set this way. Last lines of other paragraphs will be justified, sometimes with a lot of blank space.

In the following example, this is mostly visible on page

[2022-03-13 15:01] Lucas-C commented on #364
I reproduced the bug. Thanks for reporting it @gtnbssn
There is a screenshot:
<img width="261" alt="issue_364" src="https://user-images.githubusercontent.com/925560/158065786-bc53850a-70ee-48ac-b394-8e421fea9549.png">
Ping @gmischler who worked on that part of the code

[2022-03-13 16:06] gmischler commented on #364
Thanks for the ping, @Lucas-C

Interesting catch!
I'm guessing that this has always been the behaviour when feeding multiple paragraphs to a single call of `multi_cell()`.

Fixing it will require to look ahead for each line, to see if the line after it (if any) is empty. At least that's what I would consider a reasonable criterion for "end of paragraph". Any other ideas? Do we need an option to sw

[2022-03-14 03:18] gtnbssn commented on #364
Well, it works as i would expect in version 2.5.0.

I pinned the version with pipenv: `pipenv install fpdf2==2.5.0`

And here's a screenshot of page 3:
![noBugFpdf2](https://user-images.githubusercontent.com/10359074/158098883-252d09bb-a362-42e9-b13b-04d711b016a8.png)

[2022-03-14 03:20] gtnbssn commented on #364
Would it make more sense to check if the line ends with a line feed / carriage return? We might not always have empty lines between paragraphs.

[2022-03-14 10:48] gmischler commented on #364
Ah I see. So I apparently threw this under the bus when adding support for soft-hyphens to `write()`.

That sounds better, yes.
Looks like I was led astray by the specific example (and distracted by the weird french typography :wink:).

I had to recheck my understanding of the line wrapping code, and found some incorrect assumptions that I had made.
The new fix will make it impossible (like before

[2022-03-14 17:15] namastevis opened #365 "Hindi text is rendered incorrectly"
While trying to generate a pdf using FPDF2, the Hindi text is not generated correctly. I have tried using different fonts (Gargi, Mangal, Arjun-Wide, Mukta, Lohit) but all give the wrong result similar to what shown below.
Correct hindi text: इण्टरनेट पर हिन्दी के साधन
What is printed:
<img width="269" alt="Screenshot 2022-03-14 at 10 40 13 PM" src="https://user-images.githubusercontent.com/854788

[2022-03-14 22:28] gmischler commented on #365
Unfortunately, this is not a trivial problem to solve, and fpdf is a deliberately simple PDF generation library.

What you're seeing is a lack of support for automatic ligatures, more specifically [Devaganari conjuncts](https://en.wikipedia.org/wiki/Devanagari_conjuncts). There are hundreds of those, many more than normal characters. A supporting font will include a table of character sequences th

[2022-03-15 01:00] gtnbssn commented on #364
Ah indeed, i hadn't thought about this! We do have different rules which explain the space before the exclamation mark for instance... Sorry about that!

I am no expert so maybe others will be able to give a better opinion. But i would say no, at least not for regular typography. Maybe for a specific design? But in this case, anything goes anyway.

Here's what another library is doing: https://pdf

[2022-03-15 03:17] chandan00761 commented on #62
In linearization parameter dictionary there is an entry about the length of the entire file in bytes. Does this include the size of the dictionary?

[2022-03-15 07:57] Lucas-C commented on #62
I don't know.
Maybe you could use PikePDF & `qpdf` to check this length value? _cf._ [test_pdf.py](https://github.com/pikepdf/pikepdf/blob/master/tests/test_pdf.py#L71)

[2022-03-15 12:39] gmischler commented on #364
I was thinking poster or label design, where a single line fit into a given width is quite common (by various means).
Do we want to limit the use of the library to regular book or magazine type flowing text?
It's not particularly hard to implement either, and maybe someone would find it useful.

Text processors typically not, but a page layout program might.

[2022-03-16 12:19] gmischler commented on #359
On closer inspection, there are several aspects of `_render_styled_cell_text()` that could be improved:
1. Nitpick A: In favour of readability, I'd prefer to rename it to `_render_styled_text_line()`.
2. Nitpick B: In the section using `self.ws`, the resulting `"# Tw"` is inconsistently sent to the PDF directly via `self._out()` instead of adding it to `s`. Fixing that will change the sequence of

[2022-03-16 18:02] gmischler commented on #359
I've tried to combine point 1., 2., 3., 5., and 8. from the above list (based on #350), and found that the results works quite nicely, without any leaked formatting or random characters:

![grafik](https://user-images.githubusercontent.com/17468844/158645910-d892e00a-d5ea-4462-a25a-ca971525a77c.png)

With just 5. and 8., there are 14 PDF files that this would change. Some of them get slightly larg

[2022-03-17 15:54] kargan49 opened #369 "How to make words(font) more thicker than normal bold type of a font?"
How to make words(font) more thicker than normal bold type of a font?

[2022-03-17 17:23] Lucas-C commented on #369
Use another, thicker, font? 😊

[2022-03-17 19:06] Lucas-C commented on #369
No, not currently.
Some custom fonts includes shadows though: [Bower Shadow](https://www.dafont.com/fr/bower-shadow.font), [Deep Shadow](https://www.dafont.com/fr/deep-shadow.font)...

[2022-03-18 12:44] Lucas-C commented on #369
Note [that section 9.2.3 of the PDF spec](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf), _Achieving Special Graphical Effects_, describe some intersting visual effects that can be applied to text, by combining font operators with general graphics operators:

![PDFSpecAchievingSpecialGraphicalEffects](https://user-images.githubusercontent.com/925560/159004987-8a917d6c

[2022-03-19 09:06] Lucas-C commented on #359
Thank you @gmischler for those excellents suggestions!

I'm really not sure about that... I think calling `self._out` should actually be faster, because it uses a `bytearray` internally. _cf._ [issue #164 in reingart/pyfpdf](https://github.com/reingart/pyfpdf/pull/164).

You're right, we just get your already-open PRs merged first.

[2022-03-19 12:30] Lucas-C commented on #369
As a starting point, there is some code that reproduce the effect in Figure 37 above:
[code]

[2022-03-19 14:58] kargan49 commented on #369
![Originalpng](https://user-images.githubusercontent.com/62643624/159126169-f0b74437-f2b1-41f8-b0b9-224f6e3d65e3.png)
![Replicate](https://user-images.githubusercontent.com/62643624/159126173-cf9259b6-1ca7-4f9a-ad77-a157c8522bdc.png)
I want to replicate a pdf document. The document had font style as 'Helvetica', bold with font size 12.  When I replicated both doesn't seem to be alike.

[2022-03-19 15:02] kargan49 commented on #369
![Originalpng](https://user-images.githubusercontent.com/62643624/159126169-f0b74437-f2b1-41f8-b0b9-224f6e3d65e3.png)
![Replicate](https://user-images.githubusercontent.com/62643624/159126173-cf9259b6-1ca7-4f9a-ad77-a157c8522bdc.png)
The image at the top is from original document and the bottom image is the replicated pdf using FPDF2.

I want to replicate a pdf document. The document had font styl

[2022-03-19 15:27] Lucas-C commented on #369
Have you tried using Helvetica Bold instead? (maybe from [here](https://freefontsfamily.com/helvetica-bold-font-free/) or [here](https://github.com/CartoDB/cartodb/blob/master/app/assets/fonts/helvetica-bold.ttf))

[2022-03-19 15:31] Lucas-C commented on #355
Have you been able to build tagged PDFs as you wished @henrik1348?
Regarding this issue, should we close it, or would you like to keep it open as a feature request?

[2022-03-19 15:34] Lucas-C commented on #304
@Zwolfen: did I answered you question?
Regarding this issue, can we close it, or would like to keep it open as a feature request?
If so, would you like to implement such feature?

[2022-03-19 16:05] Lucas-C commented on #364
I'd really like to include a fix for this as part of v2.5.2...
I'll get a closer look at this once @gmischler PRs are merged 😊

[2022-03-19 17:11] kargan49 commented on #369
I tried those, even that didn't work.

[2022-03-19 17:24] Lucas-C commented on #369
How did that not work? You did not get the exact similar visual?
How have you identified the font?

[2022-03-19 18:34] nova-03 commented on #359
Thank you both @gmischler and @Lucas-C for working on this issue!

Although we have a workaround, I'm still interested in getting this issue fixed since after this bug is being provoked also the unbreakable() does not work in our code. (There is no exception thrown but output() generates an empty document. We tried to create a trivial code example with this outcome, but had no success. - so no bug

[2022-03-20 10:18] Lucas-C commented on #359
Damn. If ever you can get some minimal code reproducing this, I'd be curious to see it

I'd say within a month or so.

[2022-03-20 15:23] nova-03 opened #370 "write_html() does not generate proper cell border if a cell contains a multi line text."
If a cell contains multi line text, then write_html() will generate the proper table, but some cell borders will be missing as marked red in this screenshot:

![image](https://user-images.githubusercontent.com/101177440/159169594-3d035d7c-d4e9-48e0-9a5d-4afc84198841.png)

Code for reproducing this bug:
[code]

[2022-03-20 20:25] nova-03 commented on #359
I've finally succeeded to create a minimal example - which uses built-in font and has markdown set to False:

[code]

The code above works fine if the table in the unbreakable context has been rendered only three or less times.

Great, thank you.

[2022-03-21 07:19] Lucas-C commented on #370
Thanks for reporting this @nova-03
I'll have a look at it soon

[2022-03-21 09:42] senzlord commented on #116
I'm sorry, on that articled the PDF is saved to folder first is there anyway to not saved it first and send directly to server?

[2022-03-21 10:11] Lucas-C commented on #116
The information in this thread should be enough for you to implement this, knowing that `FPDF.output()` returns a `bytearray` buffer when the method is not passed any argument. Documentation: https://pyfpdf.github.io/fpdf2/fpdf/fpdf.html#fpdf.fpdf.FPDF.output

Here is some non-tested pseudo-code based on the aforementioned article:

[code]

[2022-03-21 11:26] senzlord commented on #116
Ty but It show error like this in the browser:
![image](https://user-images.githubusercontent.com/22251174/159250788-6590384f-e5a1-499d-92e6-9ee7590f63e4.png)

When I remove content type, it show the byte...
![image](https://user-images.githubusercontent.com/22251174/159251732-14c757ad-389e-4020-8cfb-2eaf258e1410.png)

[2022-03-21 12:39] kargan49 commented on #369
The font is still lighter than the original one.

[2022-03-21 12:43] Lucas-C commented on #116
Without some minimal (but fully functional) code reproducing your problem, it will be very difficult to help...
https://stackoverflow.com/help/minimal-reproducible-example

[2022-03-22 05:56] kargan49 commented on #369
Yes, this would be good option.

[2022-03-22 17:43] Lucas-C commented on #359
Thank you for the reproducing case @nova-03

I found a fix regarding this issue with `unbrekable()`: https://github.com/PyFPDF/fpdf2/pull/371

Let's jump to this other thread if any more discussion is needed, and keep this issue about the original Markdown-related problem.

[2022-03-22 18:31] nova-03 commented on #359
You are welcome.
Thank you for taking your time to look at this and fix it.

Great!

Agree. Actually I also wanted to open a separate issue for this, but was not sure what is your preference and if it is closely tied to markdwon problem since this is where we discovered it. :)

[2022-03-22 21:13] Lucas-C commented on #370
OK, I think this is a duplicate of https://github.com/PyFPDF/fpdf2/issues/91

Do you agree @nova-03?

[2022-03-22 21:46] nova-03 commented on #370
Yes.

Since this is a missing feature I think it would be good thing to document the current limitations of write_html() as long as we don't have it implemented.